
@{
    ViewData["Title"] = "FrontKit";
}

    <div class="container product-container">
        <img src="~/images/E-Bike kits/FrontElectricKit-.jpg" />       
        <br />
        <br />
        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <br />
        <div class="description">
            <strong>
                ПРЕДНИТЕ КИТОВЕ ВКЛЮЧВАТ:
                <br />
                Цена: 450лв. на брой с ДДС
            </strong>
            <br />
            <br />
            Висококачествен Geared BLDC мотор, наплетен на капла с широчина 1.25“, с 2.6мм2 здрави спици; Каплата е 16“ - 29“ – по избор на клиента; за вилки с ширина 100мм;
            <br />
            - 17А универсален контролер, 24V или 36-48V, с регенерация при спиране
            <br />
            - SW900 контролен дисплей
            <br />
            - Ръкохватка за газ, като при мотор (twist throttle)
            <br />
            - 2 бр сензори за спирачки, монтират се на съществуващите хидравлични или жилни спирачки
            <br />
            - PAS сензор за подпомагане при въртене на педалите
            <br />
            - Бутон за поддържане на постоянна скорост (cruise control)
            <br />
            <div class="technical-parameters">
                <strong>ФУНКЦИИ:</strong>
                <br />
                <br />
                - Синусоидалните контролери са най-добрият избор. Те са безшумни, с по-добро използване на мощността и по-икономични (с по-голяма ефективност); Поддържат и зареждане на батерията при спиране. Това запазва вашите механични спирачки във времето (не се износват). Sabvoton и КТ са две от най-качествените марки на пазара;
                <br />
                - Контролерите към китовете са универсални, поддържат батерия от 48V до 72V. Правилото е следното: Консумацията на контролера (амперите) осигуряват ускорението, а напрежението осигурява скоростта (48V – до 60 км/ч; 60V – до 75 км/ч; 72V – до 90 км/ч); Мощността на кита е ампери * напрежение;
                <br />
                - Контролните дисплеи позволяват пълна настройка на параметрите, подпомагането, мощността и дават пълна информация за скорост, батерия и пробег;
                <br />
                - Китовете са със сензори за спирачките, които могат да се поставят на всякакви спирачки бързо и лесно. При отчитане на най малко движение на лостчето на спирачката се задействат, спират подаването на газ, задейства се електрическата спирачка и започва зареждане на батерията при спиране.
                <br />
                - Моторите имат отвори за захващане на диск за спирачки;
                <br />
                - PAS функцията и сензорът осигуряват подпомагане с различна степен. Функцията може и да се изключва и да се кара само на газ (като мотор);
                <br />
                - Бутонът за поддържане на скоростта запаметява моментната скорост и я поддържа без подаване на газ;
                <br />
                <br />
                <strong>Препоръки за избор на велосипед:</strong>
                <br />
                - За Предните китове – широчина на вилката (fork distance) – 100 мм;
                <br />
            </div>
        </div>
    </div>



