
@{
    ViewData["Title"] = "FrontKit";
}

<div class="container product-container">
    <img src="~/images/E-Bike kits/FrontElectricKit-.jpg" />
    <br />
    <br />
    <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
    <span class="grey">450лв. на брой с ДДС</span>
    <br />

    <div class="description">
        <strong>
            ПРЕДНИТЕ РЕДУКТОРНИ КИТОВЕ ВКЛЮЧВАТ:
        </strong>
        <br />
        <br />
        - Висококачествен Geared BLDC мотор, наплетен на капла с широчина 1“, с 2.6 мм здрави спици;
        <br />
        - Каплата е 16“ - 29“ – по избор на клиента;
        <br />
        - 15А универсален контролер, 36-48V - универсален
        <br />
        - SW900 контролен дисплей или KT LCD 3 дисплей
        <br />
        - Ръкохватка за газ, като при мотор (twist throttle)
        <br />
        - 2 бр сензори за спирачки, монтират се на съществуващите хидравлични или жилни спирачки
        <br />
        - PAS сензор за подпомагане при въртене на педалите
        <br />
        - Кутия за монтаж на контролера вътре в нея.
        <br />
        - Пълно окабеляване
        <br />
        Комплекта е за вилки с ширина 100мм;
        <br />
        <div class="technical-parameters">
            <strong>ФУНКЦИИ:</strong>
            <br />
            <br />
            - Контролерите към китовете са универсални, поддържат батерия от 36V до 48V. Правилото е следното: Консумацията на контролера (амперите) осигуряват ускорението, а напрежението осигурява скоростта (36V – до 40 км/ч; 48V – до 50 км/ч). Мощността на кита е ампери * напрежение;
            <br />
            - Контролните дисплеи позволяват пълна настройка на параметрите, подпомагането, мощността и дават пълна информация за скорост, батерия и пробег;
            <br />
            - Китовете са със сензори за спирачките, които могат да се поставят на всякакви спирачки бързо и лесно. При отчитане на най-малко движение на лостчето на спирачката се задействат, спират подаването на газ, задейства се електрическата спирачка и започва зареждане на батерията при спиране.
            <br />
            - Моторите имат отвори за захващане на диск за спирачки;
            <br />
            - PAS функцията и сензорът осигуряват подпомагане с различна степен. Функцията може и да се изключва и да се кара само на газ (като мотор);
            <br />
            - Каплите в комплектите са двойно подсилени (Double rim), с дебели здрави спици 2.6мм. Широки са 1“ и имат оребрение за ползване на обикновена спирачка също. Fat Bile каплите са широки 4“ по стандарт. Към каплите е приложен и бандаж за монтиране под вътрешната гума.
            <br />
            <br />
            <strong> ПРЕПОРЪКИ ЗА ИЗБОР НА ВЕЛОСИПЕД:</strong>
            <br />
            - За Предните китове – широчина на вилката (fork distance) – 100 мм;
            <br />
            - За Задните китове - широчина на вилката (rear fork distance) – 135 мм; (може и да се разпъва малко при необходимост)
            <br />
            - За Fat Bike кит - широчина на вилката (rear fork distance) – около 180 мм;
            <br />
            - За задните китове препоръчително е велосипеда да е с команди за 7 венеца отзад (по-малко или повече също не е проблем)
            <br />
            - Преден мотор над 1000W не е желателно да се монтира, защото ако е по-мощен от това, може да скъса предната вилка.
            <br />
        </div>
        <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>
        <div class="row">
            <div class="col-md-10">
                <img src="~/images/E-Bike kits/reductor motor/frontReductor/FronReductor-displayAndController.jpg" />
            </div>
            <div class="col-md-10">
                <img src="~/images/E-Bike kits/reductor motor/frontReductor/FrontReductor-complekt.jpg" />
            </div>
        </div>
    </div>
</div>



