
@{
    ViewData["Title"] = "MiddleKit";
}

    <div class="container product-container">
        <img src="~/images/E-Bike kits/middleMotor/Middle-kitAll.jpg" />
        <br />
        <br />
        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <span class="grey">250W 1350лв. 750W 1450лв. на брой с ДДС</span>
        <br />
        <div class="description">
            Чисто нови цели китове със среден мотор, с LCD контролни дисплеи, с пълен комплект принадлежности. За повече информация – прочетете текста отдолу и вижте снимките.
            <br />
            Средните мотори са по-малки и леки. Имат повишен въртящ момент заради специалният механизъм.
            <br />
            Предимството е че изходният въртящ момент на гумата се променя от превключването на венците и скоростите.
            <br />
            Справят се много по-добре при изкачване на наклони.
            <br />
            Имат по-малкък разход на енергия, но не поддържат регенерация (зареждане на батерията при спиране).
            <br />
            <br />
            <strong>СРЕДНИЯТ КИТ BAFANG 250W 36V BBS01B ПЪЛЕН КОМПЛЕКТ ВКЛЮЧВА:</strong>
            <br />
            - Висококачествен Geared BLDC среден мотор с вграден контролер 36V 250W.
            <br />
            - C965 BAFANG контролен дисплей
            <br />
            - Палец газ
            <br />
            - 2 бр спирачки със ел. сензор.
            <br />
            - PAS сензор за подпомагане при въртене на педалите
            <br />
            - Курбел с рамена, венец с 46 зъба, с предпазител
            <br />
            - Сензор за скорост
            <br />
            - Пълно окабеляване
            <br />
            <br />
            <strong>СРЕДНИЯТ КИТ 750W 48V  BAFANG BBS02B, ПЪЛЕН КОМПЛЕКТ ВКЛЮЧВА:</strong>
            <br />
            - Висококачествен Geared BLDC среден мотор с вграден контролер 48V 750W.
            <br />
            - C965 BAFANG контролен дисплей
            <br />
            - Палец газ
            <br />
            - 2 бр спирачки със ел. сензор.
            <br />
            - PAS сензор за подпомагане при въртене на педалите
            <br />
            - Курбел с рамена, венец с 44 зъба, с предпазител
            <br />
            - Сензор за скорост
            <br />
            - Пълно окабеляване
            <br />
            <br />
            <div class="technical-parameters">
                <strong>ФУНКЦИИ 250W:</strong>
                <br />
                - тегло – 3.4 кг;
                <br />
                - максимален въртящ момент – около 80 n.m.;
                <br />
                - за JIS 68 - 73 mm bottom bracket
                <br />
                - обороти – nT (Rpm): 78/83
                <br />
                - Контролният дисплеи позволяват пълна настройка на параметрите, подпомагането, мощността и дават пълна информация за скорост, батерия и пробег;
                <br />
                <br />
                <strong>ФУНКЦИИ 750W:</strong>
                <br />
                - тегло – 4.8 кг;
                <br />
                - максимален въртящ момент – около 160 n.m.;
                <br />
                - за JIS 68 - 73 mm bottom bracket
                <br />
                - обороти – nT (Rpm): 130/150
                <br />
                - Редукция - 1:21.9
                <br />
                - Магнитни полюси - 8 бр
                <br />
                - Контролният дисплеи позволяват пълна настройка на параметрите, подпомагането, мощността и дават пълна информация за скорост, батерия и пробег;
                <br />
                <br />
                <strong>ПРЕПОРЪКИ ЗА ИЗБОР НА ВЕЛОСИПЕД:</strong>
                <br />
                - За 2000 – 3000W задни китове - широчина на вилката (rear fork distance) – 135 мм; (може и да се разпъва малко при необходимост)
                <br />
                - За 4000 – 6000W задни китове - широчина на вилката (rear fork distance) – около 150 мм;
                <br />
                - За Fat Bike кит - широчина на вилката (rear fork distance) – около 180 мм;
                <br />
                - За задните китове препоръчително е велосипеда да е с команди за 7 венеца отзад (по-малко или повече също не е проблем)
                <br />
                - Препоръчително е велосипедът да е с дискови спирачки за по-добро спиране.
                <br />

            </div>
            <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>
            <br />
            <div class="row">
                <div class="col-md-10">
                    <img src="~/images/E-Bike kits/middleMotor/middle-1.jpg" />
                </div>
                <div class="col-md-10">
                    <img src="~/images/E-Bike kits/middleMotor/middle-display.jpg" />
                </div>
                <div class="col-md-10">
                    <img src="~/images/E-Bike kits/middleMotor/middleMotor.jpg" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <img src="~/images/E-Bike kits/middleMotor/middleMotor-2.jpg" />
                </div>
                <div class="col-md-10">
                    <img src="~/images/E-Bike kits/middleMotor/middleMotor-3.jpg" />
                </div>
            </div>
        </div>

    </div>

