
@{
    ViewData["Title"] = "PassSensor";
}

    <div class="container product-container">
        <img src="~/images/E-Bike kits/Pass sensors/Pass-1.JPG" />      
        <h3>PASS сензор - 8 магнита</h3>
        <div class="d-inline-block">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
            <span class="grey">15лв. на брой с ДДС</span>
        </div>
        <br />
        <div class="description">
            Чисто нови PAS сензори с осем магнита за подпомагане при отчитане на въртене на педалите или
            <br />
            при въртене на гумата на електрически велосипед, тротинетка, триколка и други.
            <br />
            Инсталира се на курбела или направо на остта на гумата (в зависимост от ефекта, който се търси).
            <br />
            Включва се към контролера (който трябва да поддържа тази функция).
            <br />
            След отчитане на преминал магнит през датчика, той подава сигнал към контролера, който от своя страна завърта двигателя.
            <br />
            Монтирайте го по-далеч от феритни намагнитващи се метали, защото ако се намагнити венеца например от магнитчетата, това ще обърка работата.
            <br />
            На него със стрелки е посочена посоката на въртене.
            <br />
        </div>
        <br />
        <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>
        <br />
        <br />

        <div class="row">
            <div class="col-md-5">
                <img src="~/images/E-Bike kits/Pass sensors/Pass-2.JPG" />
            </div>
            <div class="col-md-5">
                <img src="~/images/E-Bike kits/Pass sensors/Pass-3.JPG" />                
            </div>
        </div>


    </div>


