
@{
    ViewData["Title"] = "RearKit";
}

    <div class="container product-container">
        <img src="~/images/E-Bike kits/ElectricKit-1.jpg" />
        <br />
        <br />
        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <br />
        <div class="description">
            <strong>
                ЦЕНИ за всички видове комплекти:
                <br />
                - 1500W – 3000W Direct drive заден кит, Синусоидален - 600 лв;
                <br />
                - 4000W - 6000W Direct drive заден кит, Синусоидален - 1350 лв;
                <br />
                - 1500W - 3000W Fat Bike Kit Direct drive заден кит, Синусоидален - 700 лв;
                <br />
                - 4000W - 6000W Fat Bike Kit Direct drive заден кит, Синусоидален - 1450 лв;
                <br />
                - 350W - 750W заден редукторен кит - 500 лв;
                <br />
                - 250W - 750W преден редукторен кит - 450 лв;
                <br />
                - 250W 36V среден кит, BAFANG BBS01B, пълен комплект - 1100 лв;
                <br />
                - Монтаж на горепосочените китове при предоставен от Вас велосипед – 100 лв.
            </strong>
            <br />
            <br />
            <strong>ЗАДНИТЕ DIRECT DRIVE КИТОВЕ 1500W – 3000W ВКЛЮЧВАТ:</strong>
            <br />
            - Висококачествен BLDC мотор 35А, наплетен на капла с широчина 1.25“ (или Fat капла за Fat bike китовете 4“ ширина и задно отстояние 180мм),
            с 2.6 мм здрави спици;
            <br />
            - Каплата е 16“ - 29“ – по избор на клиента; за вилки с ширина 135мм (180 mm за Fat Bike);
            <br />
            - KT синусоидален контролер, 36-84V, 30-40A, с регенерация при спиране;
            <br />
            - Вариантите за контролер са 36-48V – Универсален, 60V или 72V;
            <br />
            - KT LCD3 контролен дисплей или SW900 контролен дисплей – по избор;
            <br />
            - Ръкохватка за газ, като при мотор (twist throttle)
            <br />
            - Касета със 7 венеца на винт или на шлици;
            <br />
            - 2 бр сензори за спирачки, монтират се на съществуващите хидравлични или жилни спирачки;
            <br />
            - PAS сензор за подпомагане при въртене на педалите;
            <br />
            - 2 бр усилени рамена за монтаж на рамата (torque arm), които облекчават натоварването на рамата;
            <br />
            - Пълно окабеляване
            <br />
            <br />

            <strong>ЗАДНИТЕ DIRECT DRIVE КИТОВЕ 4000W – 6000W ВКЛЮЧВАТ: </strong>
            <br />
            - Висококачествен BLDC мотор 80А + - QS 205 50H V2 или V3, с максимален въртящ момент 190 n.m., наплетен на капла с широчина 1.25“ (или Fat капла за Fat bike китовете 4“ ширина и задно отстояние 180мм), с 2.6 мм здрави спици; Каплата е 16“ - 29“ – по избор на клиента; за вилки с ширина около 150мм (180 mm за Fat Bike);
            <br />
            - Sabvoton синусоидален контролер, 48-84V - Универсален, 80A +, с регенерация при спиране;
            <br />
            - TFT750c display контролен дисплей
            <br />
            - Ръкохватка за газ, като при мотор (twist throttle)
            <br />
            - Касета венец на винт
            <br />
            - 2 бр сензори за спирачки, монтират се на съществуващите хидравлични или жилни спирачки
            <br />
            - PAS сензор за подпомагане при въртене на педалите
            <br />
            - 2 бр усилени рамена за монтаж на рамата (torque arm), които облекчават натоварването на рамата (задължително се монтират при големи мощности)
            <br />
            - Пълно окабеляване
            <br />
            <br />
            <strong>Редукторни Китове за ел. колело комплект, задни, Fat bike : </strong>
            <br />
            <strong>ЗАДНИТЕ РЕДУКТОРНИ КИТОВЕ ВКЛЮЧВАТ:</strong>
            <br />
            - Висококачествен Geared BLDC мотор, наплетен на капла с широчина 1“, с 2.6 мм здрави спици; Каплата е 16“ - 29“ – по избор на клиента; за вилки с ширина 135мм;
            <br />
            - 17А универсален контролер, 36-48V - универсален
            <br />
            - SW900 контролен дисплей или KT LCD 3 дисплей
            <br />
            - Ръкохватка за газ, като при мотор (twist throttle)
            <br />
            - 2 бр сензори за спирачки, монтират се на съществуващите хидравлични или жилни спирачки
            <br />
            - Касета със 7 венеца на винт;
            <br />
            - PAS сензор за подпомагане при въртене на педалите
            <br />
            - Кутия за монтаж на контролера вътре в нея.
            <br />
            - Пълно окабеляване
            <br />
            <div class="technical-parameters">
                <strong>ФУНКЦИИ:</strong>
                <br />
                <br />
                - Синусоидалните контролери са най-добрият избор. Те са безшумни, с по-добро използване на мощността и по-икономични (с по-голяма ефективност);
                <br />
                Поддържат и зареждане на батерията при спиране. Това запазва вашите механични спирачки във времето (не се износват).
                <br />
                Sabvoton и КТ са две от най-качествените марки на пазара;
                <br />
                - Правилото е следното: Консумацията на контролера (амперите) осигуряват ускорението, а напрежението осигурява скоростта (48V – до 55 км/ч; 60V – до 70 км/ч; 72V – до 85 км/ч);
                <br />
                Мощността на кита е ампери * напрежение;
                <br />
                - Контролните дисплеи позволяват пълна настройка на параметрите, подпомагането, мощността и дават пълна информация за скорост, батерия и пробег;
                <br />
                - Китовете са със сензори за спирачките, които могат да се поставят на всякакви спирачки бързо и лесно.
                <br />
                При отчитане на най-малко движение на лостчето на спирачката се задействат, спират подаването на газ, задейства се електрическата спирачка и започва зареждане на батерията при спиране.
                <br />
                - Моторите имат отвори за захващане на диск за спирачки;
                <br />
                - PAS функцията и сензорът осигуряват подпомагане с различна степен. Функцията може и да се изключва и да се кара само на газ (като мотор);
                <br />
                - Каплите в комплектите са двойно подсилени (Double rim), с дебели здрави спици 2.6мм. Широки са 1.25“ за по-добро лягане на гумата вътре и устойчивост.
                <br />
                Fat Bike каплите са широки 4“ по стандарт. Към каплите е приложен и бандаж за монтиране под вътрешната гума.
                <br />
                <br />
                <strong>ПРЕПОРЪКИ ЗА ИЗБОР НА ВЕЛОСИПЕД:</strong>
                <br />
                - За 2000 – 3000W задни китове - широчина на вилката (rear fork distance) – 135 мм; (може и да се разпъва малко при необходимост)
                <br />
                - За 4000 – 6000W задни китове - широчина на вилката (rear fork distance) – около 150 мм;
                <br />
                - За Fat Bike кит - широчина на вилката (rear fork distance) – около 180 мм;
                <br />
                - За задните китове препоръчително е велосипеда да е с команди за 7 венеца отзад (по-малко или повече също не е проблем)
                <br />
                - Препоръчително е велосипедът да е с дискови спирачки за по-добро спиране.
                <br />
            </div>
            <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>
            <br />
            <div class="row">
                <div class="col-md-10">
                    <img src="~/images/E-Bike kits/1500W/1500W-komplekt.jpg" />
                </div>
                <div class="col-md-10">
                    <img src="~/images/E-Bike kits/1500W/1500W.jpg" />
                </div>
                <div class="col-md-10">
                    <img src="~/images/E-Bike kits/Zadna kapla.jpg" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <img src="~/images/E-Bike kits/4000W/4000W-komplekt.jpg" />
                </div>
                <div class="col-md-10">
                    <img src="~/images/E-Bike kits/4000W/4000W.jpg" />
                </div>
                <div class="col-md-10">
                    <img src="~/images/E-Bike kits/4000W/40000W-kontroler.jpg" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <img src="~/images/E-Bike kits/reductor motor/Reductor-complekt.jpg" />                   
                </div>
                <div class="col-md-10">
                    <img src="~/images/E-Bike kits/reductor motor/reductor-controller.jpg" />                    
                </div>
                <div class="col-md-10">
                    <img src="~/images/E-Bike kits/reductor motor/reductoren-enginejpg.jpg" />                    
                </div>
            </div>
        </div>
        
    </div>







