
@{
    ViewData["Title"] = "BatteryAccessories";
}

    <div class="container body-content">
        <h2>Аксесоари за Батерии</h2>

        <div class="card-deck ">
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Bms" asp-action="BmsAll">
                    <div class="card-body" id="bms-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">BMS-Защитни балансни платки</small>
                    </div>
                </a>
            </div>
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Product" asp-action="Chargers">
                    <div class="card-body" id="charger-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Зарядни устройства за батерии</small>
                    </div>
                </a>
            </div>
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Product" asp-action="AWGCable">
                    <div class="card-body" id="AWG-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Гъвкави силиконови многожилни кабели AWG, до 200°C </small>
                    </div>
                </a>
            </div>
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Product" asp-action="Connectors">
                    <div class="card-body" id="connector-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Конектори</small>
                    </div>
                </a>
            </div>
        </div>
        <div class="card-deck ">
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Product" asp-action="Pad">
                    <div class="card-body" id="pads-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Подложки за батерии</small>
                    </div>
                </a>
            </div>
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Product" asp-action="Chargers">
                    <div class="card-body" id="charger-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Текстолит</small>
                    </div>
                </a>
            </div>
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Product" asp-action="AWGCable">
                    <div class="card-body" id="AWG-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Шлаух </small>
                    </div>
                </a>
            </div>
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Product" asp-action="BalanceCable">
                    <div class="card-body" id="balanceCable-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Балансни кабели 2S до 7S</small>
                    </div>
                </a>
            </div>
        </div>
        <div class="card-deck ">
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Product" asp-action="BatteryBag">
                    <div class="card-body" id="batteryBag-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Кутии и части за батерии</small>
                    </div>
                </a>
            </div>
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Product" asp-action="BatteryIndicator">
                    <div class="card-body" id="baterryIndicators-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Baterry indicators  Индикации за батерии</small>
                    </div>
                </a>
            </div>
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Product" asp-action="Braket">
                    <div class="card-body" id="bracets-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Bracets Тройни скоби брекети за батерии 18650</small>
                    </div>
                </a>
            </div>
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Product" asp-action="NickelStrip">
                    <div class="card-body" id="shina-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Никелирана Шина (Nickel Strip)</small>
                    </div>
                </a>
            </div>
        </div>
        <div class="card-deck ">
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Product" asp-action="Тextolite">
                    <div class="card-body" id="textolite-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Текстолит</small>
                    </div>
                </a>
            </div>
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Product" asp-action="HeatResistantHose">
                    <div class="card-body" id="heatResistantHose-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Термо свиваем Шлаух</small>
                    </div>
                </a>
            </div>
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Product" asp-action="HeatResistantTape">
                    <div class="card-body" id="heatResistantTape-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Термо устойчиво тиксо до 220 градуса</small>
                    </div>
                </a>
            </div>
            <div class="card card-useless">
                <a class="card-link" asp-area="" asp-controller="Product" asp-action="BatterySocket">
                    <div class="card-body" id="BatterySocket-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Легла за батерии</small>
                    </div>
                </a>
            </div>
        </div>
    </div>

