
@{
    ViewData["Title"] = "Magnet";
}

<div class="container product-container">
    <img src="~/images/MagnetPictures/magnets1.jpg" class="product-main-image" />
    <h3>Neodim Magnets</h3>
    <div class="description">
        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <div class="technical-parameters">
            Мощни неодимови супер силни магнити N35 - N52 Neodymium Magnets NdFeB
            <br />
            <br />
            Описаната сила е залепването на магнита към една метална плоскост (снимка Фигура 1).
            Когато магнитът е разположен (залепен) между 2 метални плоскости и се мери силата на разлепяне на едната от металните плоскости,
            силата на залепване (привличане) се увеличава приблизително от 1.5 до 10 пъти! (снимка Фигура 2)
            <br />
            <br />
            Технически характеристики:
            <br />
            <br />
            <strong>С кръгла форма, дискове:</strong>
            Размери и цени (Диаметър / височина)
            <br />
            - 3 mm x 1 mm (3*1) - цена 0.04 лв. на брой, сила 0.09 кг;
            <br />
            - 5 mm x 1 mm (5*1) - цена 0.08лв. на брой, сила 0.19 кг;
            <br />
            - 5 mm x 2 mm (5*2) - цена 0.12 лв. на брой, сила 0.38 кг;
            <br />
            - 6 mm x 1 mm (6*1) - цена 0.09 лв. на брой, сила 0.21 кг;
            <br />
            - 6 mm x 1.5 mm (6*1.5) - цена 0.15 лв. на брой, сила 0.35 кг;
            <br />
            - 6 mm x 2 mm (6*1.5) - цена 0.18 лв. на брой, сила 0.35 кг;
            <br />
            - 8 mm x 1.3 mm (8*1.3) - цена 0.25 лв. на брой, сила 0.50 кг;
            <br />
            - 8 mm x 2 mm (8*2) - цена 0.27 лв. на брой, сила 0.73 кг;
            <br />
            - 10 mm x 1 mm (10*1) - цена 0.25 лв. на брой, сила 0.34 кг;
            <br />
            - 10 mm x 1.3 mm (10*1.3) - цена 0.33 лв. на брой, сила 0.66 кг;
            <br />
            - 10 mm x 2 mm (10*2) - цена 0.39 лв. на брой, сила 1 кг;
            <br />
            - 10 mm x 3 mm (10*3) - цена 0.55 лв. на брой, сила 1.6 кг;
            <br />
            - 10 mm x 5 mm (10*5) - цена 0.87 лв. на брой, сила 2.39 кг;
            <br />
            - 12 mm x 1 mm (12*1) - цена 0.33 лв. на брой, сила 0.55 кг;
            <br />
            - 12 mm x 2 mm (12*2) - цена 0.55 лв. на брой, сила 1.3 кг;
            <br />
            - 15 mm x 2 mm (15*2) - цена 0.75 лв. на брой, сила 1.7 кг;
            <br />
            - 20 мм х 3 мм (20*3) - цена 1.90 лв. на брой, сила 3.3 кг;
            <br />
            - 20 мм х 10 мм (20*10) - цена 6 лв. на брой, сила 10 кг;
            <br />
            - 30 мм х 5 мм (30*5) - цена 7 лв. на брой, сила 9.44 кг;
            <br />
            - 30 мм х 20 мм (30*20) - цена 27 лв. на брой, сила 25,50 кг;
            <br />
            - 40 мм х 20 мм (40*20) - цена 33 лв. на брой, сила 40 кг;
            <br />
            - 50 мм х 30 мм (50*30) - цена 75 лв. на брой, сила 85 кг.,
            <br />
            - 60 мм х 30 мм (60*30) - цена 115 лв. на брой, сила 115 кг.,
            <br />
            <br />

            <strong>Правоъгълни (паралелепипед)</strong>
            <br />
            Размери и цени (Дължина / широчина / височина):
            <br />
            - 20 mm x 10 mm x 5 mm (20*10*5) - цена 1.80 лв. на брой, сила 4.55 кг;
            <br />
            - 50 mm x 7 mm x 7 mm (50*7*7) - цена 5.50 лв. на брой, сила 8.24 кг; - крехки са!
            <br />
            - 40 mm x 20 mm x 10 mm (40*20*10) - цена 13 лв. на брой, сила 20 кг;
            <br />
            - 40 mm x 40 mm x 20 mm (40*40*20) - цена 40 лв. на брой, сила 46 кг;
            <br />
            <br />

            <Strong>С кръгла форма и дупка по средата (магнитни шайби):</Strong>
            <br />
            Размери и цени (Диаметър / височина / диаметър отвор (дупка))
            <br />
            - 10 mm x 3 mm x отвор 4 mm (10*3-4) - цена 0,45 лв. на брой, сила 1.2 кг;
            <br />
            - 15 mm x 5 mm x отвор 4 mm (15*5-4)- цена 1.65 лв. на брой, сила 4.2 кг;
            <br />
            <br />
            - 20 mm x 5 mm x отвор 5 mm (20*5-5)- цена 3 лв. на брой, сила 5.8 кг;
            <br />
            - 20 mm x 10 mm x отвор 5 mm (20*10-5)- цена 6 лв. на брой, сила 9 кг;
            <br />
            - 48 mm x 19 mm x отвор 10 mm (49*19-10) - цена 48 лв. на брой, сила 52 кг;
            <br />
            - 59 mm x 5 mm x отвор 8 mm (59*5-8) - цена 26 лв. на брой, сила 15.5 кг;
            <br />
            - 59 mm x 19 mm x отвор 10 mm (59*19-10) - цена 70 лв. на брой, сила 75 кг;
            <br />

            <br />
            - Предлагаме и специални магнити N33EH - високотемпературни неодимови магнити с работна температура до 200°C ! Може да питате за размери и цени.
            <br />
            <br />
            <strong>Правоъгълни (паралелепипед) с дупка (отвор по средата), хладилник AA:</strong>
            <br />
            Размери и цени (Дължина / височина / дълбочина / диаметър отвор (дупка)):
            <br />
            - 20 mm x 10 mm x 3 mm, отвор 4 mm - цена 1.30 лв. на брой, сила 2.45 кг; - крехки са!
            <br />
            - 20 mm x 10 mm x 5 mm, отвор 4 mm - цена 1.65 лв. на брой, сила 4 кг; - крехки са!
            <br />
            - 37 mm x 37 mm x 16 mm, отвор 10 mm (37*37*16-10) - цена 35 лв. на брой, сила 35 кг;
            <br />
           - 40 mm x 20 mm x 10 mm, с две дупки  - цена 13 лв. на брой, сила 20 кг;
            <br />
            <br />
           
            
            @*- 16 mm (nanodots Mega) - 1.30 лв на брой / 249 лв. за 216 броя; (не са неодимови!);
        <br />
        - 20 mm (nanodots Mega) - 4.50 лв на брой (не са неодимови!)
        <br />
        - 25 mm (nanodots Mega) - 5 лв на брой (не са неодимови!)
        <br />
        - 33 mm (nanodots Mega) - 6 лв на брой (не са неодимови!)
        <br />*@
            <br />

            Предлагаме и пръстен гайка (ринг гайка) с болт, изработени от специална неръждаема стомана, с които магнитът може да се привърше към въже или да се захване удобно.
            <br />
            <br />

        </div>
        <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>
        <br />
        <br />
        <div class="row">
            <div class="col-md-4">
                <img class="descriptive-image" src="~/images/MagnetPictures/Magnet-1-1.JPG" />
            </div>
            <div class="col-md-4">
                <img class="descriptive-image" src="~/images/MagnetPictures/Magnet3.bmp" />
            </div>
            <div class="col-md-4">
                <img class="descriptive-image" src="~/images/MagnetPictures/magnet5.jpg" />
            </div>
            <div class="col-md-4">
                <img class="descriptive-image" src="~/images/MagnetPictures/Magnet 1-2.JPG" />
            </div>
        </div>

    </div>

</div>


