
.adress-shop {
    margin-top: 50px;
}

.work-time {
    margin-left: 250px;
}


.map {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}



.form-control-contact-information {
    width:25rem;
    display: block;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
}

.mapouter {
    position: relative;
    text-align: right;
    height: 500px;
    width: 530px;
}

.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 500px;
    width: 600px;
}
