.home-container {
    margin-top: 80px;
}

.home-row-container {
    width: 75%;
    display: inline-block;      
}

.home-row {
    width: 100%;
    margin-bottom: 80px;
}


.home-row-image {
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

    .home-row-image > img {
        height: 550px;
        width:100%;
    }

.row-content {
    width: 100%;
    display: inline-block;    
}

.context-group {
    width: 49%;
    display: inline-block;
    padding-left: 50px;
    vertical-align: top;
}

.context-group-logo {
    display: inline-block;
    vertical-align: top;
    width: 20%;
}

    .context-group-logo > img {
        height: 50px;        
    }

.context-group-text{
    display:inline-block;
    width:75%;
    padding-left:20px;
}



