
@{
    ViewData["Title"] = "AutomaticCenterPunch";
}

    <div class="container product-container">
        <img src="~/images/Instruments/AutomaticCenterPunch/AutomaticCenterPunch1.jpg" />      
        <h3>Автоматичен център</h3>
        <div class="description">
            <br />
            Автоматичен ръчен център за направата на дупка преди пробиване с бургия.
            <br />
            Просто натискате и пружината сама върши работата!
            <br />
            Много удобен за работа на трудно достъпни и тесни пространства, където замахването с чук е невъзможно.
            <br />
            Изключително компактен - 130 мм дължина на 13мм диаметър.
            <br />
            С удобна гумена дръжка за по-лесен и удобен натиск.
            <br />
            Ето и линк към видео:
            <br />
            <a href=" https://www.youtube.com/watch?v=zylu1ciJdyo" target="_blank">тук</a>
            <br />
            <br />

            <div class="row">
                <div class="col-md-10">
                    <img class="descriptive-image" src="~/images/Instruments/AutomaticCenterPunch/AutomaticCenterPunch2.jpg" />
                </div>
            </div>
        </div>
    </div>
