
@{
    ViewData["Title"] = "DrywallScrewdriverBit";
}

    <div class="container product-container">
        <img src="~/images/Instruments/Drywall-screwdriver-bit/DrywallScrewdriverbit-1.jpg" />
        <h3>Магнитен бит с ограничител за гипсокартон и дърво</h3>
        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <div class="description">
            <br />
            Много удобен магнитен бит камък с ограничител на дълбочината на завиване на винтове в меки плоскости
            <br />
            като гипсокартон, дърво, пластмаса и други. Ограничителят не позволява потъването на главата на винта под повърхността на материала.
            <br />
            Има магнитче за задържането на винта на чашката.
            <br />
            Чашката се маха с издърпване при необходимост.
            <br />
            Главата на бита е Ph2 Phillips, дължината е 65 мм, захватът е 1/4'', шестоъгълен.
            <br />
            Има силен магнит, който държи здраво винтовете. Има и обикновен накрайник звезда в другият си край.
            <br />
            <br />

            <div class="row">
                <div class="col-md-5">
                    <img class="descriptive-image" src="~/images/Instruments/Drywall-screwdriver-bit/DrywallScrewdriverbit-2.jpg" />
                </div>
                <div class="col-md-5">
                    <img class="descriptive-image" src="~/images/Instruments/Drywall-screwdriver-bit/DrywallScrewdriverbit-3.jpg" />
                </div>
            </div>
        </div>
    </div>


