
@{
    ViewData["Title"] = "ScrewdriverFlexibleExtension";
}

    <div class="container product-container">
        <img src="~/images/Instruments/Screwdriver-Flexible-Extension/FlexibleExtension1.jpg" />
        <h3>Гъвкав удължител за битов </h3>
        <div class="d-inline-block">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
            <span class="grey">6лв. на брой с ДДС</span>
        </div>
        <div class="description">
            <br />
            Гъвкав удължител за битове с глава 6.35mm (1/4)'' на шестограмите.
            <br />
            Изключително удобен за завиване и развиване на винтове, болтове и гайки на труднодостъпни и тесни места.
            <br />
            Може да се използва с всякакви инструменти (винтоверти, отвертки, гидоре и др.), които поддържат битове с шестограмна глава 6.35mm (1/4)''.
            <br />
            Дължината му е 295мм, което е повече от достатъчно.
            <br />
            Външната обвивка е независима от вътрешните елементи, които предават въртенето,
            <br />
            т.е. можете спокойно да го държите с ръка и натискате предният край към винта или болта, който завивате.
            <br />
            Ето и линк към видео:
            <br />
            <a href=" https://www.youtube.com/watch?v=npFYRWhjzZI" target="_blank">тук</a>
            <br />
            <br />

            <div class="row">
                <div class="col-md-10">
                    <img class="descriptive-image" src="~/images/Instruments/Screwdriver-Flexible-Extension/FlexibleExtension2.jpg" />
                </div>
            </div>
        </div>
    </div>

