
@{
    ViewData["Title"] = "ScrewЕxtractor";
}

    <div class="container product-container">
        <img src="~/images/Instruments/Screw Extractor/ScrewExtractor-1.jpg" />
        <h3>Екстрактор </h3>
        <div class="d-inline-block">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
            <span class="grey">9лв. на брой с ДДС</span>
        </div>
        <div class="description">
            <br />
            Екстрактор на скъсани изядени винтове болтове, развиване на повредени.
            <br />
            Цената е общо за 4-те различни размера приставки от снимката заедно с кутииката.
            <br />
            Най-накрая има евтино и добро решение за изваждане и развиване на скъсани, изядени, изпилени, счупени и повередени винтове и болтове!
            <br />
            Цялата процедура отнема до 10 секунди! Най-лесно се получава, ако се използва винтоверт или ел. отвертка.
            <br />
            Комплектът работи като бургия и винт (шпилковадач) на обратна резба от рода на speedout.
            <br />
            Инструмента е познат като Screw extractor, damaged bolt remover.
            <br />
            В много удобна и компактна кутийка.
            <br />
            <br />
            <strong>Начин на употреба:</strong>
            <br />
            1. Изберете правилният размер бит - Трябва да е най-широкият бит, който да може да влезе съвсем малко в повреденият отвор на главата на винта/болта.
            <br />
            2. Слагате винтоверта на режим развиване. Първо се ползва по-малкият край на бита (дълбаещият). Трябва да се направи хубава много правилна и гладка дупка.
            <br />
            3. След това се обръща бита и се ползва конусовидната страна, с обратната резба.
            <br />
            Винтоверта се слага на бавна скорост! Отново на развиване.
            <br />
            <br />
            Видео как се използва:
            <br />
            <a href="https://www.youtube.com/watch?v=QK32YsQNss8" target="_blank">тук</a>
            <br />
            <a href=" https://www.youtube.com/watch?v=IVVhJx25a5M" target="_blank">и тук</a>
            <br />
            <a href="https://www.youtube.com/watch?v=-om_-eGrPFo" target="_blank">и тук</a>

            <br />
            <br />
            <div class="row">
                <div class="col-md-10">
                    <img class="descriptive-image" src="~/images/Instruments/Screw Extractor/ScrewExtractor-2.jpg" />
                </div>
            </div>
        </div>
    </div>

