
@{
    ViewData["Title"] = "TelescopicMagnet";
}

    <div class="container product-container">
        <img src="~/images/Instruments/telescopicMagnet/telescopicMagnet2.JPG" />        
        <h3>Телескопичен магнит с фенерче</h3>
        <div class="d-inline-block">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
            <span class="grey">9лв. на брой с ДДС</span>
        </div>
        <div class="description">
            <br />
            Чисто нови телескопични дръжли с неодимов магнит и LED за лампа, за изваждане от трудно достъпни места болтове,гайки, шайби, зегерки,
            <br />
            метални изделия и др.
            <br />
            LED лампа за по-лесно търсене и намиране.            
            <br />
            Спецификации:
            <br />
            Размер сгънат: около 20см,
            <br />
            Размер изцяло разгънат: около 81см,
            <br />
            Диаметър на главата: приблизително 1,8 cm,
            <br />
            Магнит на главата: неодимов,
            <br />
            Осветление: LED лампа,
            <br />
            Материал: Неръждаема стомана, пластмасова дръжка,
            <br />
            Цвят на дръжката: Черен,
            <br />
            Нетно тегло: 74гр. ,
            <br />
            Батерии: три батерии LR44(включени в комплета).
            <br />
            <br />
            <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>
            <br />
            <br />
            <div class="row">
                <div class="col-md-5">
                    <img class="descriptive-image" src="~/images/Instruments/telescopicMagnet/telescopicMagnet1.JPG" />
                </div>
                <div class="col-md-5">
                    <img class="descriptive-image" src="~/images/Instruments/telescopicMagnet/TelescopicMagnet3.JPG" />
                </div>
                <div class="col-md-5">
                    <img class="descriptive-image" src="~/images/Instruments/telescopicMagnet/telescoping Magnet4.JPG" />
                </div>
            </div>
        </div>
    </div>

