@{
    ViewData["Title"] = "About";
}
<div class=" container">
    <div class="description">
        Фирма Гайдия ЕООД е създадена през 2017г.
        <br />
        Започвайки главно с онлайн продажби на литиево-йонни батерии 18650 и неодимови магнити.
        <br />
        Със своя опит, внимание и коректност фирмата увеличи своя асортимент и клиенти. През 2019г. отвори физически магазин в гр. София.
        <br />
        С магазина си Гайдия ЕООД успя да бъде по-достъпна за своите клиенти увеличавайки своя асортимент, насочвайки се към електрическите превозни средства, като електрически колела, електрически скутери и тротинетки.
        <br />
        Фирмата започна да изработва батерии за електрически инструменти и осветителни системи.
        <br />
        Ние продължаваме да работим усилено в насоките - коректно и професионално отношение към клиента и коректно отношение към партньорите.
        <br />
        До момента Гайдия ЕООД предлага литоево-йонни батерии 18650, както единични, една клетка(батерия) така и различни пакети от 8.4V(2S) до нужния волтаж на клиента, предлагайки всички нужни за тях части и консумативи, като балансни платки, конектори - включително и влагозащитени, силиконови гъвкави кабели, текстолит, шлаух и др.
        <br />
        Също така фирмата предлага и голямо разнообразие и размери от неодимови магнити от 2мм до 100мм с различна сила.
        <br />
        Неодимовите магнити са най-силните магнити до момента.
        <br />
        Те са в пъти по силни от феритните магнити, което успя да ги наложи на световния пазар.
        <br />
        Магнитите имат огромно приложения в нашия ежедневен живот, в индустрията, в производството и много други сфери.

       
    </div>
</div>