@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="home-container">
        <div class="home-row-image">
            <img src="~/images/PictureFront/Big picture/green-nature-wallpaper.jpg" />
        </div>

        <div class="home-row-container">
            <div class="home-row">
                <div class="row-content">
                    <article class="context-group">
                        <div class="context-group-logo">
                            <img src="~/images/PictureFront/BatteryLight.JPG" />
                        </div>
                        <div class="context-group-text">
                            <h5>Батерии</h5>
                            <p>Батерии 18650. Самсунг, Сони високоразрядни за пакети</p>
                        </div>
                    </article>
                    <article class="context-group">
                        <div class="context-group-logo">
                            <img src="~/images/PictureFront/CarBattery.JPG" />
                        </div>
                        <div class="context-group-text">
                            <h5>Батерии за превозни средства</h5>
                            <p>Литиево -йонни, велосипеди, скутери, тротинетки, коли, ховърборди, електричесски комплекти за колела.Изработка на литиево-йонни батерии</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="home-row">

                <div class="row-content">
                    <article class="context-group">
                        <div class="context-group-logo">
                            <img src="~/images/PictureFront/RecyclingBattery.JPG" />
                        </div>
                        <div class="context-group-text">
                            <h5>Рациклиране на батерии</h5>
                            <p>Ремонт, рециклиране на батерии 18650 за тротинетки  велосипеди скутери, коли, винтоверти, работни инструменти</p>
                        </div>
                    </article>
                    <article class="context-group">
                        <div class="context-group-logo">
                            <img src="~/images/PictureFront/ElParts.JPG" />
                        </div>
                        <div class="context-group-text">
                            <h5>Части за електрически батерии</h5>
                            <p>Балансни платки, скоби-брекети, шина за точкви заварки, AWG кабели, конектори XT,T,BigTamiya, конвертори на напрежение,изолационни подложки за батерии </p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="home-row">
                <div class="row-content">
                    <article class="context-group">
                        <div class="context-group-logo">
                            <img src="~/images/PictureFront/Connectors.jpg" />
                        </div>
                        <div class="context-group-text">
                            <h5>Конектори</h5>
                            <p>Влагозащитени IP68 конектори</p>
                        </div>
                    </article>
                    <article class="context-group">
                        <div class="context-group-logo">
                            <img src="~/images/PictureFront/Magnets.bmp" />
                        </div>
                        <div class="context-group-text">
                            <h5>Неодимови магнити</h5>
                            <p>Неодимови магнити кръгли(шайби), правоъгълни, квадратни, различни размери. Комплекти неодимови топчета 3мм., 5мм., (216бр.), 10мм</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>