@{
    ViewData["Title"] = "Home Page";
}

    <div class="container">
        @*<div class="row">
            <div class="col-md-3 home-row-image">              
                <img src="~/images/ProductGroupLink/Battery.jpg" />
            </div>
            <row class="col-md-9 row-content">
                <article class="context-group d-inline">
                    <div class="context-group-logo">
                        <img src="~/images/Logo.png" />
                    </div>
                    <div class="context-group-text">
                        <h5>Connectors</h5>
                        <p>text tex texttext tex texttext tex texttext tex texttext tex texttext tex texttext tex texttext tex text</p>
                    </div>
                </article>
                <article class="context-group d-inline">
                    <div class="context-group-logo">
                        <img src="~/images/Logo.png" />
                    </div>
                    <div class="context-group-text">
                        <h5>Connectors</h5>
                        <p>text tex texttext tex texttext tex texttext tex texttext tex texttext tex texttext tex texttext tex text</p>
                    </div>
                </article>
            </row>
        </div>*@


        <div class="home-row">
            <div class="home-row-image">
                <img src="~/images/ProductGroupLink/Battery.jpg" />
            </div>
            <div class="row-content">
                <article class="context-group">
                    <div class="context-group-logo">
                        <img src="~/images/Logo.png" />
                    </div>
                    <div class="context-group-text">
                        <h5>Connectors</h5>
                        <p>text tex texttext tex texttext tex texttext tex texttext tex texttext tex texttext tex texttext tex text</p>
                    </div>
                </article>
                <article class="context-group">
                    <div class="context-group-logo">
                        <img src="~/images/Logo.png" />
                    </div>
                    <div class="context-group-text">
                        <h5>Connectors</h5>
                        <p>text tex texttext tex texttext tex texttext tex texttext tex texttext tex texttext tex texttext tex text</p>
                    </div>
                </article>
            </div>
        </div>

    </div>