@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="home-container">
        <div class="home-row-image">
            <img src="~/images/ProductGroupLink/Battery.jpg" />
        </div>

        <div class="home-row-container">
            <div class="home-row">
                <div class="row-content">
                    <article class="context-group">
                        <div class="context-group-logo">
                            <img src="~/images/Logo.png" />
                        </div>
                        <div class="context-group-text">
                            <h5>Connectors</h5>
                            <p>text tex texttext tex texttext tex texttext tex texttext tex texttext tex texttext tex texttext tex text</p>
                        </div>
                    </article>
                    <article class="context-group">
                        <div class="context-group-logo">
                            <img src="~/images/Logo.png" />
                        </div>
                        <div class="context-group-text">
                            <h5>Connectors</h5>
                            <p>text tex texttext tex texttext tex texttext tex texttext tex texttext tex texttext tex texttext tex text</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="home-row">

                <div class="row-content">
                    <article class="context-group">
                        <div class="context-group-logo">
                            <img src="~/images/Logo.png" />
                        </div>
                        <div class="context-group-text">
                            <h5>Connectors</h5>
                            <p>text tex texttext tex texttext tex texttext tex texttext tex texttext tex texttext tex texttext tex text</p>
                        </div>
                    </article>
                    <article class="context-group">
                        <div class="context-group-logo">
                            <img src="~/images/Logo.png" />
                        </div>
                        <div class="context-group-text">
                            <h5>Connectors</h5>
                            <p>text tex texttext tex texttext tex texttext tex texttext tex texttext tex texttext tex texttext tex text</p>
                        </div>
                    </article>
                </div>
            </div>
            <div class="home-row">
                <div class="row-content">
                    <article class="context-group">
                        <div class="context-group-logo">
                            <img src="~/images/Logo.png" />
                        </div>
                        <div class="context-group-text">
                            <h5>Connectors</h5>
                            <p>text tex texttext tex texttext tex texttext tex texttext tex texttext tex texttext tex texttext tex text</p>
                        </div>
                    </article>
                    <article class="context-group">
                        <div class="context-group-logo">
                            <img src="~/images/Logo.png" />
                        </div>
                        <div class="context-group-text">
                            <h5>Connectors</h5>
                            <p>text tex texttext tex texttext tex texttext tex texttext tex texttext tex texttext tex texttext tex text</p>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>