
@{
    ViewData["Title"] = "Products";
}

<h2>Products</h2>
<div class="card-deck">
    <div class="card">
        <a class="card-link" asp-area="" asp-controller="Product" asp-action="Battery">
            <div class="card-body" id="battery-image">
            </div>
            <div class="card-footer">
                <small class="text-muted">Battery</small>
            </div>
        </a>
       
    </div>
    <div class="card">
        <div class="card-body" id="magnet-image">
        </div>
        <div class="card-footer">
            <small class="text-muted">Magnets</small>
        </div>
    </div>
    <div class="card">
        <div class="card-body" id="charger-image">
        </div>
        <div class="card-footer">
            <small class="text-muted">Chargers</small>
        </div>
    </div>
    <div class="card">
        <div class="card-body" id="connector-image">
            <h2>Connectors</h2>
        </div>
        <div class="card-footer">
            <small class="text-muted">Connectors</small>
        </div>
    </div>

</div>
<div class="card-deck">
    <div class="card">
        <div class="card-body" id="pads-image">
            <h2>Battery Pad</h2>
        </div>
        <div class="card-footer">
            <small class="text-muted">Pads</small>
        </div>
    </div>
    <div class="card">
        <div class="card-body" id="rele-image">
            <h2>Reley</h2>
        </div>
        <div class="card-footer">
            <small class="text-muted">Reley</small>
        </div>
    </div>
    <div class="card">
        <div class="card-body" id="bms-image">
        </div>
        <div class="card-footer">
            <small class="text-muted">BMS</small>
        </div>
    </div>
    <div class="card">
        <div class="card-body" id="dcdc-image">
            <h2>DC/DC converters</h2>
        </div>
        <div class="card-footer">
            <small class="text-muted">Converters</small>
        </div>
    </div>
</div>

<div class="card-deck">
    <div class="card">
        <div class="card-body" id="shina-image">
        </div>
        <div class="card-footer">
            <small class="text-muted">Шина</small>
        </div>
    </div>
    <div class="card">
        <div class="card-body" id="bracets-image">
        </div>
        <div class="card-footer">
            <small class="text-muted">Bracets</small>
        </div>
    </div>
    <div class="card">
        <div class="card-body" id="AWG-image">
        </div>
        <div class="card-footer">
            <small class="text-muted">AWG Cables</small>
        </div>
    </div>
    <div class="card">
        <div class="card-body" id="balanceCable-image">
        </div>
        <div class="card-footer">
            <small class="text-muted">Balance cables</small>
        </div>
    </div>

</div>

<div class="card-deck">
    <div class="card">
        <div class="card-body" id="watmeter-image">
        </div>
        <div class="card-footer">
            <small class="text-muted">Wattmeter</small>
        </div>
    </div>
    <div class="card">
        <div class="card-body" id="baterryIndicators-image">
        </div>
        <div class="card-footer">
            <small class="text-muted">Baterry indicators</small>
        </div>
    </div>
    <div class="card">
        <div class="card-body" id="electricBicycleKits-image">
        </div>
        <div class="card-footer">
            <small class="text-muted">Electric bicycle kits</small>
        </div>
    </div>
    <div class="card">
        <div class="card-body" id="barcodeScenners-image">
        </div>
        <div class="card-footer">
            <small class="text-muted">Barcode Scenners</small>
        </div>
    </div>

</div>

<div class="card-deck">
    <div class="card">
        <div class="card-body" id="batteryBag-image">
        </div>
        <div class="card-footer">
            <small class="text-muted">Battery bags</small>
        </div>
    </div>
    <div class="card">
        <div class="card-body" id="controllersAndDisplays-image">
        </div>
        <div class="card-footer">
            <small class="text-muted">Controllers and Displays</small>
        </div>
    </div>
    <div class="card">
        <div class="card-body" id="magneticBall-image">
        </div>
        <div class="card-footer">
            <small class="text-muted">Magnetic Ball</small>
        </div>
    </div>
    <div class="card">
        <div class="card-body" id="instrument-image">
        </div>
        <div class="card-footer">
            <small class="text-muted">Instruments</small>
        </div>
    </div>

</div>



