
@{
    ViewData["Title"] = "Products";
}
<div class="container body-content">
    <h2>Products</h2>

    <div class="card-deck ">
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="Product" asp-action="Battery">
                <div class="card-body" id="battery-image">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Батерии, клетки за батерии, ремонт на акумулаторни батерии</small>
                </div>
            </a>
        </div>
        <div class="card">           
            <a class="card-link" asp-area="" asp-controller="BatteryAccessories" asp-action="BatteryAccessories">
            <div class="card-body" id="battery-accessories-image">
            </div>
            <div class="card-footer">
                <small class="text-muted">Аксесоари за батерии - Зарядни устройства, BMS платки, кабели, конектори, тройни скоби, шлаух, текстолит и др.</small>
            </div>
        </a>
        </div>
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="Product" asp-action="Magnets">
                <div class="card-body" id="magnet-image">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Неодимови магнити</small>
                </div>
            </a>
        </div>
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="Product" asp-action="ElectricBicycleKit">
                <div class="card-body" id="electricBicycleKits-image">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Китове и части за ел. колела, мотоциклети (мотори) комплекти 250W – 6000W. Аксесоари и принадлежности </small>
                </div>
            </a>
        </div>
    </div>
    <div class="card-deck ">
        <div class="card ">
            <a class="card-link" asp-area="" asp-controller="Product" asp-action="Connectors">
                <div class="card-body" id="connector-image">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Конектори</small>
                </div>
            </a>
        </div>
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="Converter" asp-action="ConverterAll">
                <div class="card-body" id="dcdc-image">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Конвертори-преобразуватели на ток и напрежение</small>
                </div>
            </a>
        </div>
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="Product" asp-action="Relay">
                <div class="card-body" id="rele-image">
                    <h2>Реле</h2>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Реле</small>
                </div>
            </a>
        </div>
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="Product" asp-action="BarcodeScenner">
                    <div class="card-body" id="barcodeScenners-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Barcode Scenners  Баркод четци</small>
                    </div>
                </a>
            </div>
        </div>

        <div class="card-deck ">
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Product" asp-action="Wattmeter">
                    <div class="card-body" id="watmeter-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Ватметър (амперметър, волтметър, електромер) с шунт 50A-100A</small>
                    </div>
                </a>
            </div>
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="Product" asp-action="Tools">
                <div class="card-body" id="instrument-image">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Инструменти</small>
                </div>
            </a>
        </div>
        <div class="card card">
            <a class="card-link" asp-area="" asp-controller="Product" asp-action="SpiderStand">
                    <div class="card-body" id="spiderStand-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Стойка за запояване - трета ръка </small>
                    </div>
                </a>
        </div>
        <div class="card card">
            <a class="card-link" asp-area="" asp-controller="Product" asp-action="ZCross">
                    <div class="card-body" id="zcross-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">ZCross</small>
                    </div>
                </a>
        </div>
    </div>  
</div>




