
@{
    ViewData["Title"] = "Products";
}

<h2>Product</h2>
<div class="card-deck">
    <div class="card">
        <div class="card-body" id="battery-image">
            <h2>Battery</h2>
        </div>
        <div class="card-footer">
            <small class="text-muted">Magnets</small>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
        </div>
        <div class="card-footer">
            <small class="text-muted">Magnets</small>
        </div>
    </div>
</div>