
@{
    ViewData["Title"] = "Projects";
}

<div id="projects">

    <div class="card">
        <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Проект ZCROSS
                </button>
            </h5>
        </div>
        <div id="collapseTwo" class="collapse container " aria-labelledby="headingTwo" data-parent="#projects">

            <div class=" row">
                <div class="col-4">                    
                    <img class="descriptive-image" src="~/images/ZCross/SAA_3341.jpg" />
                    <img class="descriptive-image" src="~/images/ZCross/SAA_3143.jpg" />
                    <img class="descriptive-image" src="~/images/ZCross/SAA_3372.jpg" />
                    <img class="descriptive-image" src="~/images/ZCross/Displei ZCross.jpg" />
                </div>

                <div class="col-8">

                    <br />
                    Представяме Ви на Вашето внимание едно доста мощно и бързо колело. То е асемблирано от нас от различни производители.
                    <br />
                    На базата на нашия опит сме на правили този модел и сме го кръстили ZCROSS(зи крос) с възможно най-добрите части за бъде велосипеда бърз, здрав, да може да се кара,
                    както по асфалт така и по черни пътища и да конкурира успешно кросовите мотори.
                    <br />
                    Днес ще Ви представим, как той се държи в сравнение с кросов мотор, АТВ ,и туриър мотор 650 кубика.
                    <br />
                    <br />
                    За коелото да споделим малко данни.
                    <br />
                    За теглото - Тегло без батерия: около 25 кг.
                    <br />
                    Ако изпълним цялото пространство с батерии то може да стане  повече от 45кг. И тук внимавайте, ако живеете на 7-мия етаж и асансьора Ви е малък ще влезнете в ежедневието на принудителните фитнес упражнения.
                    <br />
                    Предна вилка е DNM USD-8S;
                    <br />
                    Да Ви кажем и малко информация за нея
                    <br />
                    На нея може да сложим  от 24 до 27.5 инча капла.
                    <br />
                    Материала на предната вилка е аламуниев .
                    <br />
                    Тя може да се настрои в три режима според терена, по който ще караме
                    <br />
                    Заден амортисьор – DNM RCP-2S ;
                    <br />
                    Задния амортисьор също има настройки за режимите според терена, по който ще караме.
                    <br />
                    На задната вилка може да се сложи гума от 22 до 26инча.
                    <br />
                    В обобщение на това на велосипеда ще можем да сложим между 24 и 26 цола гуми.
                    <br />
                    Спирачки – Хидравлични Tektro с електрически  сензор и 203 мм диск;
                    <br />
                    Велосипеда е с предни, задни светлини и задни мигачи;
                    <br />
                    екран, показващ скорост, консумация, батерия и поддръжка на настройка и допълнителни данни;
                    <br />
                    Хъб моторът е QS205 50H V2 или V3 – по изискване на клиента.
                    <br />
                    <br />
                    За версия 3:
                    <br />
                    Това е BLDC  безчетковправотоков мотор. В него има неодимови високотемпературни магнити от най-висок клас с максимална ефективност от 88%.
                    <br />
                    Пикова мощност до 14KW! От 190 до 290 нютон метра въртящ момент, в зависимост от електрическия двигател. 1050 оборота при 72V батерия.
                    <br />
                    Кoнтролерът е Sabvoton 48-72V, универсален, програмируем, синусоидален. Възможност за от 80 до 200А консумация ток от батерията;
                    <br />
                    Скорост, която може да развие с велосипеда при 72V заредена батерия е около 130 км/ч, а на празен ход се развърто до 145км/ч. с 26 инчова гума, което не е малко даже малко маняшко бихме казали;
                    <br />
                    Ускорение от 0 – 100 км/ч е около 5сек, ако опитвате дали наистина е така дръжте здраво кормилото и не се стрякайте защото ускорението е умопомрачително;
                    <br />
                    Контролера на колелеото е в два варианта на Subvoton, 80А и 150А.
                    <br />
                    Контролера се програмира, чрез  телефон или с кабел през компютър. Поддържа много настройки ,за които в момента няма да говорим подробно.
                    <br />
                    Контролера позвлява регенерация или зареждане при спиране. Има регенеративна подръжка и на скороста по-инерция.
                    <br />
                    Какво да кажем все пак за пробег с едно зареждане на батерията – това много зависи от капацитета на батерията. Предлагаме изработка на различен капацитет батерии. Колелот може да побере доста батерии и ако използваме цялото пространство ще ни се предостави възможността да минем 250км. с едно зареждане на батерията и това също не е никак малко.
                    <br />
                    Да продължим със сравнението на електрическите мотори верси2 и версия 3
                    <br />
                    За версия 2 имаме 80А пиков ток. Препоръчваме да се използват само 50А като продължителен разряд  мотора защото при 80А при продължително каране започва да загрява притеснително.
                    <br />
                    За версия 3  може да кажем, че макар и по спецификация този електрически мотор да е за 100А пиков ток, то след направените от нас тестове при 200А пиков ток мотора се държо изкючително добре без притеснителното загряване дори и при екстремно каране.
                    <br />
                    Мотора при версия 2 е с повече магнити от версия 3 и има повече навивки но с по тънък проводник, което предоставя по бърз начален старт.
                    <br />
                </div>

            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingThree">
            <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Проект електрически автомобил.
                </button>
            </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#projects">
            <div class="card-body">
                Към момента месец Септември на съдбоносната 2020г. сме започнали проект за изработка на батерия за прототипа на електрическа българска кола.
                Снимки и информация ще бъде подадена в процеса на проекта.
            </div>
        </div>
    </div>
</div>

