
@{
    ViewData["Title"] = "Charger2SOne";
}

    <div class="container product-container">
        <img src="~/images/ChargerPictures/2S/2S-1-1.jpg" />       
        <h3>Зарядно устройство 2S 8.4V 1А за литиево-йонни батерии</h3>
        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <div class="description">

            <div class="technical-parameters">
                Чисто нови, неразопаковани Зарядни устройства адаптери 8.4V 1А  за 2S батерии или пакети от батерии.
                <br />
                Стават и за захранване за уреди, осветление и други.
                <br />
                - 8.4V, 1A – цена 15 лв на брой;
            </div>
            <div class="technical-parameters">
                ПАРАМЕТРИ:
                <br />
                Зарядно напрежение: 8.4V (за литиево – йонни батерии от 2 серии с номинално напрежение 7.4V – напълно заредени са 8.4V) – клетките се зареждат до 4.2V на клетка ( 8.4V за пакет);
                <br />
                Заряден ток – 1А;
                <br />
                Автоматично изключване на заряда при заредена батерия с цел да не се презареди батерията;
                <br />
                Защита от късо съединение
                <br />
                Защита от презаряд на батерията
                <br />
                Двоен светодиод за сигнализация на зареждането („червено“ - зарежда; „зелено“ – заредено или не е свързана батерия)
                <br />
                За всякакви приложения, включително акумулаторни: винтоверт, електричестка отвертка, ъглошлайф, флекс, прахосмукачка, резачка, трион, зеге, дрон, количка с дистанционно, лодка за захранка и т.н.
                <br />
                За клетки с номинално напрежение 3.6V, 3.7V (2.5 – 4.2V) Литиеви батерии (включително 18650, 26650, литието полимерни батерии, Литиево йонни батерии, li-ion, lion, li ion, Li-Po, Lipo, Li Po)
                <br />
                Входно напрежение: AC 100-240V 50-60Hz;
                <br />
                Конектор: DC 5.5mm x 2.1mm
                <br />
                Дължина на кабела – 1.1 м
                <br />
            </div>
        </div>
    </div>




