
@{
    ViewData["Title"] = "Charger3S5A";
}

<div class="container product-container">
    <img src="~/images/ChargerPictures/3S/Charger 3S5A.jpg" class="product-main-image" />
    <h3>Зарядно устройство 3S 12.6V 5А за литиево-йонни батерии </h3>
    <div class="d-inline-block">
        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <span class="grey">25лв. с ДДС</span>
    </div>
    <div class="description">


        <div class="technical-parameters">
            <strong>Техически параметри</strong>
            <br />
            Входно напрежение: 85-264V, 47 ~ 63Hz
            <br />
            Входен ток: 2A / 115V 1A / 230V
            <br />
            АС променлив ток: Ток със студен старт 20A / 115V 40A / 230V
            <br />
            Ток на утечка: 1mA / 240V AC
            <br />
            DC регулируем диапазон: ± 10% номинално изходно напрежение
            <br />
            Защита от натоварване: 105% ~ 150% спира захранването към консуматора, автоматично възстановяване.
            <br />
            Защита от пренапрежение: 115% ~ 135% спира захранването към консуматора, автоматично възстановяване.
            <br />
            Автоматично изключване на заряда при заредена батерия с цел да не се презареди батерията;
            <br />
            Време за готовност: 200ms, 50ms, 20ms
            <br />
            Издържа на напрежение: I / P-O / P: 1,5KvAc 1mintule
            <br />
            I / P-FG: 1.5KvAc 1mintule
            <br />
            I / P-O / P: 0.5KvAc 1mintule
            <br />
            Работна температура: -10 ° C ~ + 60 ° C, 20% ~ 90RH
            <br />
            Влажност на околната среда: 0 ~ 95% без конденз
            <br />
            Съответствие с безопасността: CCC / FCC / CE
            <br />
            Конектор: 5,5 * 2,1 мм (дължина на кабела около 1,2 м)
            <br />
            Материал на обвивката: Пластмасова основа
            <br />
            <br />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <img class="descriptive-image" src="~/images/ChargerPictures/3S/Charger 3S5A-1.jpg" />
    </div>
    <a href="https://guideia.olx.bg/ target="_blank">нашите обяви в OLX</a>
</div>
