
@{
    ViewData["Title"] = "Charger20S4A";
}

    <div class="container product-container">
        <img src="~/images/ChargerPictures/72V Battery charger 4A/20S4A-1-1.JPG" class="product-main-image" />
        <h3>Зарядно устройство 20S 72V(84V) 4А за литиево-йонни батерии </h3>
        <div class="d-inline-block">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
            <span class="grey">170лв. с ДДС</span>
        </div>
        <div class="description">

            <div class="technical-parameters">
                Зарядно напрежение: за литиево – йонни батерии от 13 серии с номинално напрежение 72V
                напълно зареденa батерия 84V
                <br />
                – клетките се зареждат до 4V на клетка ( 84V за пакет);
                <br />
                Заряден ток – 4А;
                <br />
                Автоматично изключване на заряда при заредена батерия с цел да не се презареди батерията;
                <br />
                Защита от късо съединение.
                <br />
                Защита от презаряд на батерията.
                <br />
                Защита от прегряване
                <br />
                Функция Smart charger
                <br />
                Двоен светодиод за сигнализация на зареждането („червено“ - зарежда; „зелено“ – заредено или не е свързана батерия)
                <br />
                За всякакви приложения, включително акумулаторни: винтоверт, електричестка отвертка, ъглошлайф, флекс, прахосмукачка, резачка, трион, зеге, дрон, количка с дистанционно, лодка за захранка и т.н.
                <br />
                Вентилатор за активно охлаждане.
                <br />
                За клетки с номинално напрежение 3.6V, 3.7V (2.5 – 4.2V) Литиеви батерии (включително 18650, 26650, литието полимерни батерии, Литиево йонни батерии, li-ion, lion, li ion, Li-Po, Lipo, Li Po)
            </div>

            <div class="technical-parameters">
                Технически характеристики:
                <br />
                Входно напрежение: AC 100-240V 50-60Hz;
                <br />
                Изходен конектор: DC 5.5 / 2.1 стандартен конектор
                <br />
                Максимално изходящо напрежение - 84V (+ /- 0.3V)
                <br />
                Заряден ток – 4А;
                <br />
                Активно охлаждане - Да
                <br />
                Размери: 205mm x 121mm x 50mm
                <br />
                Дължина на кабела – 1.1 м
                <br />
                Клетките се зареждат до 4.2V на клетка ( 84V за пакет);
                <br />
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-md-4">
        <img class="descriptive-image" src="~/images/ChargerPictures/72V Battery charger 4A/20S4A-2.jpg" />
    </div>
    <div class="col-md-4">
        <img class="descriptive-image" src="~/images/ChargerPictures/72V Battery charger 4A/20S4A-3.jpg" />
    </div>

</div>
