
@{
    ViewData["Title"] = "Charger16S";
}

    <div class="container product-container">
        <img src="~/images/ChargerPictures/60V -  16S battery charger 2A/16S-1-1.jpg" class="product-main-image" />
        <h3>Зарядно устройство 16S 60V(67.2V) 4А за литиево-йонни батерии </h3>
        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <div class="description">

            <div class="technical-parameters">
                Зарядно напрежение: за литиево – йонни батерии от 13 серии с номинално напрежение 60.2V
                напълно зареденa батерия 67.2V
                <br />
                – клетките се зареждат до 4.2V на клетка ( 67.2V за пакет);
                <br />
                Заряден ток – 2А;
                <br />
                Автоматично изключване на заряда при заредена батерия с цел да не се презареди батерията;
                <br />
                Защита от късо съединение.
                <br />
                Защита от презаряд на батерията.
                <br />
                Защита от прегряване
                <br />
                Функция Smart charger
                <br />
                Двоен светодиод за сигнализация на зареждането („червено“ - зарежда; „зелено“ – заредено или не е свързана батерия)
                <br />
                За всякакви приложения, включително акумулаторни: винтоверт, електричестка отвертка, ъглошлайф, флекс, прахосмукачка, резачка, трион, зеге, дрон, количка с дистанционно, лодка за захранка и т.н.
                <br />
                Вентилатор за активно охлаждане.
                <br />
                За клетки с номинално напрежение 3.6V, 3.7V (2.5 – 4.2V) Литиеви батерии (включително 18650, 26650, литието полимерни батерии, Литиево йонни батерии, li-ion, lion, li ion, Li-Po, Lipo, Li Po)
            </div>

            <div class="technical-parameters">
                Технически характеристики:
                <br />
                Входно напрежение: AC 100-240V 50-60Hz;
                <br />
                Изходен конектор: DC 5.5 / 2.1 стандартен конектор
                <br />
                Максимално изходящо напрежение - 67.2V (+ /- 0.3V)
                <br />
                Заряден ток – 4А;
                <br />
                Активно охлаждане - Да
                <br />
                Размери: 166mm x 73mm x 46mm
                <br />
                Дължина на кабела – 1.1 м
                <br />
                Клетките се зареждат до 4.2V на клетка ( 67.2V за пакет);
                <br />
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-md-4">
        <img class="descriptive-image" src="~/images/ChargerPictures/60V -  16S battery charger 2A/Capture.JPG" />
    </div>
    <div class="col-md-4">
        <img class="descriptive-image" src="~/images/ChargerPictures/60V -  16S battery charger 2A/Capture 3.JPG" />
    </div>

</div>
