
@{
    ViewData["Title"] = "Charger2S";
}


    <div class="container product-container">
        <img src="~/images/ChargerPictures/DveGnezda.JPG" />
        <h3>Зарядно устройство за батерии 16340, 14500, 18650, 26650, 10440 </h3>
        <div class="d-inline-block">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
            <span class="grey">8лв. с ДДС</span>
        </div>
        <div class="description">
            <div class="technical-parameters">
                - Брой слотове за батерии за едновременно зареждане - 2,
                <br />
                - Показания на светодиода при включено в контакта зарядно:
                <br />
                &nbsp &nbsp зелено - батериите за заредени или в момента няма сложени батерии на заряд;
                <br />
                &nbsp &nbsp червено / оранжево - батерията се зарежда.
            </div>
            <div class="technical-parameters">
                <br />
                Технически характеристики:
                <br />
                - Мощност - DC 4.2V, 1А заряден ток;
                <br />
                Препоръчваме да се зарежда само по една батерия едновременно, тъй като две батерии най-вероятно няма да са на еднаква зареденоств момента на поставянето им в зарядното.
                <br />
                Времето за заряд на 2 батерии едновременно или на 2 батерии една след друга ше е едно и също.
                <br />
            </div>
        </div>
    </div>


