
@{
    ViewData["Title"] = "Charger4S";
}

<div class="container product-container">
    <img src="~/images/ChargerPictures/4S/4S-1-1.jpg" class="product-main-image" />
    <h3>Зарядно устройство 4S 16V 1А за литиево-йонни батерии </h3>
    <div class="description">

        <div class="technical-parameters">
            Зарядно напрежение: 16V - за литиево – йонни батерии от 4 серии с номинално напрежение 14.8V
            напълно зареденa батерия 16.8V
            <br />
            – клетките се зареждат до 4.2V на клетка ( 16.8V за пакет);
            <br />
            Заряден ток – 1А;
            <br />
            Автоматично изключване на заряда при заредена батерия с цел да не се презареди батерията;
            <br />
            Защита от късо съединение.
            <br />
            Защита от презаряд на батерията.
            <br />
            Двоен светодиод за сигнализация на зареждането („червено“ - зарежда; „зелено“ – заредено или не е свързана батерия)
            <br />
            За всякакви приложения, включително акумулаторни: винтоверт, електричестка отвертка, ъглошлайф, флекс, прахосмукачка, резачка, трион, зеге, дрон, количка с дистанционно, лодка за захранка и т.н.
            <br />
            За клетки с номинално напрежение 3.6V, 3.7V (2.5 – 4.2V) Литиеви батерии (включително 18650, 26650, литието полимерни батерии, Литиево йонни батерии, li-ion, lion, li ion, Li-Po, Lipo, Li Po)

            <div class="technical-parameters">
                Технически характеристики:
                <br />
                Входно напрежение: AC 100-240V 50-60Hz;
                <br />
                Заряден ток – 1А;
                <br />
                Конектор: DC 5.5mm x 2.1mm
                <br />
                Дължина на кабела – 1.1 м
                <br />
                Клетките се зареждат до 4.2V на клетка ( 16.8V за пакет);
                <br />
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <img class="descriptive-image" src="~/images/ChargerPictures/4S/4S 2A.jpg" />
    </div>

</div>

