
@{
    ViewData["Title"] = "ImaxB3";
}


@{
    ViewData["Title"] = "ImaxB6";
}

    <div class="container product-container">
        <img src="~/images/ChargerPictures/ImaxB3/ImaxB3 -1.JPG"class="product-main-image"  />        
        <h3>ImaxB3-балансно зарядно до 12V </h3>
        <div class="d-inline-block">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
            <span class="grey">23лв. с ДДС</span>
        </div>
        <div class="description">
            <br />
            IMAX B3 за зареждане на батерии 2S и 3S (2 серии - 8.4V; и 3 серии - 12.6V)
            <br />
            с балансно(балансирано) поклетково зареждане
            <br />
            Комплекта включва захранващ кабел за 220V AC.
            <br />
            За клетки с номинално напрежение 3.6V, 3.7V (2.5 – 4.2V) Литиеви батерии
            <br />
            (включително 18650, 26650, литието полимерни батерии, Литиево йонни батерии, li-ion, lion, li ion,
            <br />
            Li-Po, Lipo, Li Po)
            <br />
            Може да се използва за зареждане на съответните батерии (2 или 3 сериини)
            <br />
            на най-различни устройства, включително акумулаторни: винтоверт, електричестка отвертка, прахосмукачка, дрон, количка с дистанционно, лодка за захранка и т.н.

            <div class="technical-parameters">
                <br />
                ХАРАКТЕРИСТИКИ:
                <br />
                - RC IMAX B3 зарядно за бaтерии 7.4V 11.1V
                <br />
                li-ion, Li-polymer Lipo Battery Charger 2s 3s клетки - за 2 или 3 серии (с 2S, 3S балансен конектор);
                <br />
                Входно напрежение: AC 110V-240V;
                <br />
                Зарядно напрежение: за 2S – 8.4V; за 3S – 12.6V;
                <br />
                Заряден балансен ток: 800mA;
                <br />
                Двоен светодиод за сигнализация на зареждането („червено“ - зарежда; „зелено“ - заредено)
                <br />
                Размери: 90 x 55 x 35mm / 3.5 x 2.2 x 1.4 inch
                <br />
            </div>
            <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>
        </div>
    </div>
<div class="row">
    <div class="col-md-10">
        <img src="~/images/ChargerPictures/ImaxB3/ImaxB3-2.JPG" />      
    </div>
    <div class="col-md-10">
        <img src="~/images/ChargerPictures/ImaxB3/ImaxB3-tech.data.jpg" />       
    </div>    
</div>







