
@{
    ViewData["Title"] = "ImaxB6";
}

<div class="container product-container">
    <img src="~/images/ChargerPictures/Imax B6/ImaxB6-2.jpg" class="product-main-image" />
    <h3>ImaxB6-професионално зарядно устроство </h3>
    <div class="d-inline-block">
        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <span class="grey">80лв. с ДДС</span>
    </div>
    <div class="description">

        <div class="technical-parameters">
            <br />
            Професионално универсално балансно зарядно за Li-ion, LiPo, Nicd, Nimh, Pb и други батерии.
            <br />
            Зарядното може да зарежда от 1 до 6 сериини батерии (литиево йонни и литиево полимерни), както и автомобилни акумулатори.
            <br />
            Това е едно от най-универсалните и ползвани зарядни на пазара.
            <br />
            <br />
            Цена на Комплект зарядно + 12V5A адаптер - 80 лв;
            <br />
            Цена само на зарядно с кабели - 65 лв;
            <br />
            Цена само на 12V 5A захранващ адаптер - 25 лв
            <br />
            <br />
            Комплекта включва:
            <br />
            1 бр. Зарядно IMAX B6;
            <br />
            1 бр. AC 100-240 V захранващ адаптер;
            <br />
            2 бр. преходни кабели с Т конектори и щипки;
            <br />
            Ръководство за употреба;
            <br />
            Комплактна кутия
            <br />
            Зарядното има различни режими на работа за зареждане / разреждане на различен тип и волтаж акумулатори и батерии.
            <br />
            Мoже да се захранва както от акумулатор 12V, така и от мрежата на 110-220 V.
            <br />
            Има защитен таймер на време за зареждане, така че ако зареждате акумулатор за кола или много голяма батерия, е хубаво да завишите стойността на таймера (например на 0 минути, за да е изключен таймерът).
            <br />
            Максималният заряден ток е 6А, има и балансна функция за балансно зареждане на клетките!
        </div>

        <div class="technical-parameters">
            <br />
            ХАРАКТЕРИСТИКИ:
            <br />
            Входно напрежение (от DC източник, например акумулатор): DC 11 до 18 V ;
            <br />
            Входно напрежение от AC мрежата (с включеният адаптер в комплекта) 110 – 220V;
            <br />
            Мощност: максимален заряд – 80 W
            <br />
            Максимален разряд – 10 W
            <br />
            Ток при заряд: 0.1 до 6.0A
            <br />
            Ток при разряд: 0.1 до 2.0A
            <br />
            Балансен ток (Li-po и Li-ion): 300 mAh / cell – на клетка
            <br />
            Li-Ion / Li-Polymer акумулатори: 1 до 6 клетки
            <br />
            За NiCd/NiMH акумултори: 1 до 15 клетки
            <br />
            Pb (оловни) акумулатори: 2V до 20V
            <br />
            Тегло: 277g
            <br />
            Размери: 133*97*33 мм
            <br />            
        </div>
        <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>          
    </div>
</div>
<div class="row">
    <div class="col-md-5">
        <img class="descriptive-image" src="~/images/ChargerPictures/Imax B6/ImaxB6-1.jpg" />
    </div>
    <div class="col-md-5">
        <img class="descriptive-image" src="~/images/ChargerPictures/Imax B6/ImaxB6-2.jpg" />
    </div>
    <div class="col-md-5">
        <img class="descriptive-image" src="~/images/ChargerPictures/Imax B6/ImaxB6-cbales2.jpg" />
    </div>
    <div class="col-md-5">
        <img class="descriptive-image" src="~/images/ChargerPictures/Imax B6/ImaxB6-cbles1.jpg" />
    </div>
</div>





