
@{
    ViewData["Title"] = "BigTamiya";
}

    <div class="container product-container">
        <img src="~/images/Connectors/RCConnectors/Big Tamiya/BigTamya1-1.JPG" />
        <h3>Big Tamiya Конектор</h3>
        <div class="d-inline-block">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
            <span class="grey">0.75лв. на брой/1.50лв. комплект мъжко и женско с ДДС</span>
        </div>
        <br />
        <br />
        <div class="description">

            Big Tamiya L6.2-2P (без крила)
            – до 15A ток
            <br />
            Висококачествени конектори за най-различни приложение – RC батерии, Батерии за дронове, високотокови приложения, електрически колелета и др.
            <br />
            Конекторите се продават по отделно и като комплект (чифт).
            <br />
            Посочените стойности на тока в ампери са за постоянен продължителен разряд.
        </div>
        <br />
        <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>
        <br />
        <br />
        <br />
        <br />

        <div class="row">
            <div class="col-md-10">
                <img class="descriptive-image" src="~/images/Connectors/RCConnectors/Big Tamiya/BigTamya2-1.JPG" />
            </div>
        </div>


    </div>




