
@{
    ViewData["Title"] = "BigTamiya";
}

    <div class="container product-container">
        <img src="~/images/Connectors/RCConnectors/Big Tamiya/BigTamya1-1.JPG" />
        <h3>Big Tamiya Конектор</h3>
        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <br />  
        <br />  
        <div class="description">

            Big Tamiya L6.2-2P (без крила)
            – до 15A ток
            <br />
            Висококачествени конектори за най-различни приложение – RC батерии, Батерии за дронове, високотокови приложения, електрически колелета и др.
            <br />
            Конекторите се продават по отделно и като комплект (чифт).
            <br />
            Посочените стойности на тока в ампери са за постоянен продължителен разряд.
        </div>
        <br />
        <br />

        <div class="row">
            <div class="col-md-10">
                <img class="descriptive-image" src="~/images/Connectors/RCConnectors/Big Tamiya/BigTamya2-1.JPG" />
            </div>
        </div>


    </div>




