
@{
    ViewData["Title"] = "DCWithFlap";
}

<div class="container product-container">
    <img src="~/images/Connectors/RCConnectors/5.5mm/5.5mm.jpg" />
    <h3>Конектор 5.5 на 2.1 </h3>
    <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
    <span class="grey">1.50лв. на брой с ДДС</span>
    <div class="description">
        <br />
        DC(ДЦ) конектор с гумено капаче за да бъде максимално прахо и водоизолиран.
        <br />
        За най-различни приложения - Включване на всякъв вид устройство към литиево йонно зарядно.
        <br />
        Размери 5,5*2,1 мм.
        <br />
        <br />
        <p><a href="https://guideia.olx.bg/" target="_blank">нашите обяви в OLX</a></p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="descriptive-image" src="~/images/Connectors/RCConnectors/5.5mm/5.5mm1.jpg" />
        </div>
        <div class="col-md-4">
            <img class="descriptive-image" src="~/images/Connectors/RCConnectors/5.5mm/5.5mm2.jpg" />
        </div>       
    </div>
</div>





