
@{
    ViewData["Title"] = "Gx16";
}

    <div class="container product-container">
        <img src="~/images/Connectors/GX16/GX16-2.JPG" />
        <h3>GX16 водоизолиран конектор с капаче  </h3>
        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <span class="grey">3лв. комплект мъжко и женско с ДДС</span>
        <div class="description">
            <br />
            <strong>
                Висококачествени GX16 конектори за най-различни приложение – RC батерии, Батерии за дронове, високотокови приложения, електрически колелета и др.
            </strong>
            <br />
            Варинати:
            <br />
            - 3 пина
            <br />
            - 4 пина
            <br />
            със задна гайка и гумено капаче за водоизолация.
            <br />
            защита и затягане на проводника на захранващия кабел;
        </div>
        <div class="description">
            <br />
            <strong>Спецификация:</strong>
            <br />
            Минимален диаметър на кабела – 4.5мм
            <br />
            Максимален диаметър на кабела - 7.14мм
            <br />
            До 7А -125V
            <br />
            Пиково до – 1500V постоянно напрежение до максимум 1мин.
            <br />
            Посочените стойности на тока в ампери са за постоянен продължителен разряд.
            <br />
        </div>
        <br />
        <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>
        <br />


        <div class="row">
            <div class="col-md-10">
                <img src="~/images/Connectors/GX16/GX16-3.JPG" />
            </div>
            <div class="col-md-10">
                <img src="~/images/Connectors/GX16/GX16-4.JPG" />
            </div>
            <div class="col-md-10">
                <img src="~/images/Connectors/GX16/GX16-5.JPG" />
            </div>
        </div>
    </div>

