
@{
    ViewData["Title"] = "TConnector";
}

    <div class="container product-container">
        <img src="~/images/Connectors/RCConnectors/T/TConnector-1-1.jpg" />
        <h3>Т Конектор</h3>
        <div class="d-inline-block">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
            <span class="grey">1.50лв. на брой/3лв. комплект мъжко и женско с ДДС</span>
        </div>
        <br />
        <br />
        <div class="description">

            Т Конектор
            – до 60A ток
            <br />
            Висококачествени конектори за най-различни приложение – RC батерии, Батерии за дронове, високотокови приложения, електрически колелета и др.
            <br />
            Конекторите се продават по отделно и като комплект (чифт).
            <br />
            Посочените стойности на тока в ампери са за постоянен продължителен разряд.
            <br />
            В цената са включени и пластмасовите изолатори от снимките.
        </div>
        <br />
        <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>
        
        <br />
        <br />

        <div class="row">
            <div class="col-md-5">
                <img class="descriptive-image" src="~/images/Connectors/RCConnectors/T/TConnector2-1.JPG" />
            </div>
            <div class="col-md-5">
                <img class="descriptive-image" src="~/images/Connectors/RCConnectors/T/TConnector2-2.JPG" />
            </div>
        </div>


    </div>




