
@{
    ViewData["Title"] = "WaterproofModel3";
}

    <div class="container product-container">
        <img src="~/images/Connectors/WaterproofConnectors/var 3-1-1.JPG" />
        <h3>Waterproof Model 3</h3>
        <h3>Влагозащитен конектор Модел 3</h3>
        <div class="d-inline-block">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
            <span class="grey">18лв. с ДДС</span>
        </div>
        <div class="description">

            Вариант 3
            <br />
            Диаметър 20 – 20,5 мм (отвор)
            <br />
            от 2 до 14 пина.
            <br />
            Ток: за до 5 пина - 25А;
            <br />
            Ток: за 6 до 7 пина - 10А.
            <br />
            Ток: за 8 до 14 пина - 5А. на пин
            <br />

            Има 3 подварианта, моля при поръчка кажете кой избирате:
            <br />
            - За съединяване на 2 кабела;
            <br />
            - С планка с отвори за закрепване на стена или повърхност с винтове / гайки;
            <br />
            - С гайка за закрепване на стена или повърхност, като щуцер.
            <br />
            <br />
            Комплектът включва мъжки и женски конектор.
            <br />
            Когато не са съединени двата кабела, женският конектор има капаче, което се завинтва на него и го предпазва от влага и вода.
            <br />
            Мъжкият конектор се завинтва на женският и връзката също е водоизолирана.
            <br />
            Перфектен индустриален конектор.
            <br />
        </div>
        <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>
        <br />
        <br />
    </div>
<br />
<br />

<div class="row">
    <div class="col-md-10">
        <img class="descriptive-image" src="~/images/Connectors/WaterproofConnectors/Var 3-2-Square.JPG" />
    </div>
</div>



