
@{
    ViewData["Title"] = "WaterproofModel4";
}

    <div class="container product-container">
        <img src="~/images/Connectors/WaterproofConnectors/Var 4-1-1.JPG" />        
        <h3>Waterproof Model 4</h3>
        <h3>Влагозащитен конектор Модел 4</h3>
        <div class="description">

            Вариант 4
            <br />
            Диаметър 20 – 20,5 мм (отвор)
            <br />
            от 2 до 14 пина.
            <br />
            Ток: за до 5 пина - 25А;
            <br />
            Ток: за 6 до 7 пина - 10А.
            <br />
            Ток: за 8 до 14 пина - 5А. на пин
            <br />

            Има 3 подварианта, моля при поръчка кажете кой избирате:
            <br />
            - За съединяване на 2 кабела;
            <br />
            - С планка с отвори за закрепване на стена или повърхност с винтове / гайки;
            <br />
            - С гайка за закрепване на стена или повърхност, като щуцер.
            <br />
            <br />
            Комплектът включва мъжки и женски конектор.
            <br />
            Когато не са съединени двата кабела, женският конектор има капаче, което се завинтва на него и го предпазва от влага и вода.
            <br />
            Мъжкият конектор се завинтва на женският и връзката също е водоизолирана.
            <br />
            Перфектен индустриален конектор.           
        </div>
        <br />
        <br />

        <div class="row">
            <div class="col-md-10">               
                <img class="descriptive-image" src="~/images/Connectors/WaterproofConnectors/Var 4-3.JPG" />
            </div>
        </div>


    </div>


