
@{
    ViewData["Title"] = "XT30Connector";
}

    <div class="container product-container">
        <img src="~/images/Connectors/RCConnectors/XT30/XT30-1.JPG" />        
        <h3>XT-30 конектор</h3>
        <div class="d-inline-block">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
            <span class="grey">0.90 лв. на брой/1.40лв. комплект мъжко и женско с ДДС</span>
        </div>
        <br />
        <br />
        <div class="description">

            XT 30
            – до 30A ток
            <br />
            Висококачествени конектори за най-различни приложение – RC батерии, Батерии за дронове, високотокови приложения, електрически колелета и др.
            <br />
            Конекторите се продават по отделно и като комплект (чифт).
            <br />
            Посочените стойности на тока в ампери са за постоянен продължителен разряд.
        </div>
        <br />
        <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>
        <br />
        <br />

        <div class="row">
            <div class="col-md-5">
                <img src="~/images/Connectors/RCConnectors/XT30/XT30-2.JPG" />               
            </div>
            <div class="col-md-5">
                <img src="~/images/Connectors/RCConnectors/XT30/XT30-3.JPG" />                
            </div>
        </div>


    </div>

