
@{
    ViewData["Title"] = "XT60Connector";
}

<div class="container product-container">
    <img src="~/images/Connectors/RCConnectors/XT60/XT60-1-1.jpg" />
    <h3>XT-60 конектор</h3>
    
    <div class="description">

        XT 60
        – до 65A ток
        <br />
        Висококачествени конектори за най-различни приложение – RC батерии, Батерии за дронове, високотокови приложения, електрически колелета и др.
        <br />
        Конекторите се продават по отделно и като комплект (чифт).
        <br />
        Посочените стойности на тока в ампери са за постоянен продължителен разряд.
    </div>
    <br />
    <br />

    <div class="row">
        <div class="col-md-5">
            <img class="descriptive-image" src="~/images/Connectors/RCConnectors/XT60/XT60-2.jpg" />
        </div>
        <div class="col-md-5">
            <img class="descriptive-image" src="~/images/Connectors/RCConnectors/XT60/XT60-2-1.jpg" />
        </div>
    </div>


</div>



