
@{
    ViewData["Title"] = "XT90Connector";
}

    <div class="container product-container">
        <img src="~/images/Connectors/RCConnectors/XT90/XT90-1-1.jpg" />
        <h3>XT-90 конектор</h3>
        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <br />
        <br />
        <div class="description">

            XT 60
            – до 90A ток
            <br />
            Висококачествени конектори за най-различни приложение – RC батерии, Батерии за дронове, високотокови приложения, електрически колелета и др.
            <br />
            Конекторите се продават по отделно и като комплект (чифт).
            <br />
            Посочените стойности на тока в ампери са за постоянен продължителен разряд.
            <br />
            В цената са включени и пластмасовите изолатори от снимките.
        </div>
        <br />
        <br />

        <div class="row">
            <div class="col-md-5">
                <img class="descriptive-image" src="~/images/Connectors/RCConnectors/XT90/XT90-2.jpg" />
            </div>
            <div class="col-md-5">
                <img class="descriptive-image" src="~/images/Connectors/RCConnectors/XT90/XT90-2-1.jpg" />
            </div>
        </div>


    </div>



