
@{
    ViewData["Title"] = "ConverterModel6";
}

    <div class="container product-container">
        <img src="~/images/DC-DC converters/Model 6/Model6-1.jpg" />
        <h3>Модел 6 DC/DC повишаващ конветор; вход 10 - 60V, изход 12 - 60V; ток: 0.2 - 10А  </h3>
        <div class="d-inline-block">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
            <span class="grey">26лв. на брой с ДДС</span>
        </div>
        <div class="description">
            <br />
            Правотоков повишаващ конвертор преобразувател на напрежение с регулация на напрежението и тока с потенциометри.
            <br />
            Стават за множество приложения, включително за зарядна система (зарядни) за батерии и соларни панели и инсталации, генератори, захранване и захранващи системи, светодиодни системи и други.
            <br />
            <div class="technical-parameters">
                Технически параметри:
                <br />
                600W модул усилване на постоянен ток не изолиран
                <br />
                Входящо напрежение: DC 10V-60V
                <br />
                Входящ ток: 10А (MAX) (над 8А моля осигурете на модула допълнително охлаждане)
                <br />
                Работен ток: 10mA (12V до 20V)
                <br />
                Изходящо напрежение: 12-60V регулируемо (Изходящо напрежение по подразбиране 19V)
                <br />
                Изходящ ток: 10A MAX (над 6А моля осигурете на модула допълнително охлаждане)
                <br />
                Колкото е по голямат разликата при входното и изходното напрежение толкова по нисък е тока.
                <br />
                Диапазон ток: 0.2-10A
                <br />
                Изход примерни данни = входящо напрежение 12V*10A=120W, входящо напрежение 24V*10A=240W,
                <br />
                36V * 10A = 1360W, 60V * 10A = 600W,
                <br />
                Работна температура: -40 ~ +85 degree (моля осигурете допълнително охлаждане когато температурата на околната среда е висока)
                <br />
                Работна честота: 150KHz
                <br />
                Коефицент на ефективност: 92%-96%
                <br />
                Защита от размяна на поляритета: Не
                <br />
                Монатж: 43mm дупки за болчета
                <br />
                Размери: 85mm х 52mm х 21mm
                <br />
                Тегло: 80 гр.
                <br />
            </div>
            <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>
            <br />
            <br />
            <div class="row">
                <div class="col-md-10">
                    <img class="descriptive-image" src="~/images/DC-DC converters/Model 6/Model6-2.jpg" />
                </div>
            </div>
        </div>
    </div>

