
@{
    ViewData["Title"] = "ConverterModel7";
}

    <div class="container product-container">
        <img src="~/images/DC-DC converters/Model 7/Model7-1.jpg" />
        <h3>Модел 7 DC/DC повишаващ конветор вход 10.5 - 90V, изход 12.8 - 90V ток 0.2 – 20А   </h3>
        <div class="d-inline-block">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
            <span class="grey">65лв. на брой с ДДС</span>
        </div>
        <div class="description">
            <br />
            Правотоков повишаващ конвертор преобразувател на напрежение с регулация на напрежението и тока с потенциометри.
            <br />
            Стават за множество приложения, включително за зарядна система (зарядни) за батерии и соларни панели и инсталации, генератори, захранване и захранващи системи, светодиодни системи и други.
            <br />
            Влагозащитен, с алуминиев радиатор.
            <br />
            <div class="technical-parameters">
                Технически параметри:
                <br />
                700W/20A Конвертор 12V 24V 36V 48V 60V 72V 84V регулеруем влагозащитен повишаващ CV + CC Adjustable
                <br />
                Има защита на входната батерия
                <br />
                Преди употреба, моля, изчислете Максимална изходна мощност = входно напрежение * 20.
                <br />
                Входящо напрежение : 10.5V - 90V;
                <br />
                Входящ ток: 20A (Max);
                <br />
                Изходящо напрежение : 12.8V - 90V (регулеруемо с отверка);
                <br />
                Изходящ токt : 0.2 A - 20A (егулеруемо с отверка);
                <br />
                Ток на усилване : 30mA (Vin = 10V, Vout = 80V );
                <br />
                Работна температура: -30 градуса - +50 градуса;
                <br />
                Термо защита -  80 градуса;
                <br />
                Коефицент на ефективност: до 95%;
                <br />
                Спиране поради претоварване - входът за повторно свързване може да се възстанови;
                <br />
                <br />
                Как да настроите защитно напрежение на входната батерия:
                <br />
                Настройте на напрежението, което ви е необходимо на входовете,
                <br />
                след което преместете щифта на превключвателя чрез отвертка за 0,5 секунди за да запазите настройката.
                <br />
                Рестартирайте захранването.
                <br />
                Светлинен индикаторr: Посотоянно светещ - Захранването е включено или батерията е заредена
                <br />
                Премигващ - зарежда или е в режим CC
                <br />
            </div>
            <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>
            <br />
            <br />
        </div>
    </div>
