
@{
    ViewData["Title"] = "ConverterModel1";
}

    <div class="container product-container">
        <img src="~/images/DC-DC converters/Model 1/Model 1-1.jpg" />
        <h3>DC DC step up, down конветори; вход 3.5 - 28V, изход 1.25 - 26V  </h3>
        <div class="d-inline-block">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
            <span class="grey">13лв. на брой с ДДС</span>
        </div>
        <br />
        <br />
        <div class="description">

            Правотоков повишител / понижител / конвертор / преобразувател на напрежение с екран с регулация на напрежението с потенциометър.
            <br />
            Стават за множество приложения, включително за зарядна система (зарядни) за батерии и соларни панели и инсталации,
            <br />
            генератори, захранване и захранващи системи и други.
            <br />
            <div class="technical-parameters">
                DC-DC повишаващ,понижаващ модул с дисплей.
                <br />
                Входно напрежение 3.5-28V
                <br />
                Изходно напрежение: 1.25-26V
                <br />
                Вход / Изход ток (max.): 3A
                <br />
                Номинален вход / изход: 1A (Моля, добавете охлаждане при работа с по висок ток).
                <br />
                Режим на регулиране на напрежението:
                <br />
                &emsp;&emsp;&emsp;- Повишаване - Потенциометърът се върти по посока на часовниковата стрелка
                <br />
                &emsp;&emsp;&emsp;- Понижаване - Потенциометърът се върти обратно на часовниковата стрелка
                <br />
                Размери: 6.6 x 4.7 x 1.4cm
                <br />
                LM2577S + LM2596S dual chip modules.
                <br />
            </div>
            <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>           
        </div>
    </div>