
@{
    ViewData["Title"] = "ConverterModel2";
}

    <div class="container product-container">
        <img src="~/images/DC-DC converters/Model 2/DCDCmodel2-1.jpg" />
        <h3>DC DC step down конветори; вход 5 - 36V, изход 1.25 - 32V; ток: 0 - 5А </h3>
        <div class="d-inline-block">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
            <span class="grey">15лв. на брой с ДДС</span>
        </div>
        <div class="description">
            <br />
            Правотоков понижител / конвертор / преобразувател на напрежение с екран, с регулация на напрежението и тока с потенциометри.
            <br />
            Стават за множество приложения, включително за зарядна система (зарядни) за батерии и соларни панели и инсталации, генератори, захранване и захранващи системи, светодиодни системи и други.
            <br />
            В комплекта има и радиаторче за охлаждане, което може да се залепи на чипа,
            <br />
            както и шестоъгълни винтове и гайки.
            <br />
            USB порт
            <br />
            <div class="technical-parameters">
                DC-DC повишаващ,понижаващ модул с дисплей.
                <br />
                Понижаващ 5A USB LED конвертор с волтметър, амперметър DC-DC понижаване CC / CV напрежение и дисплей модул
                <br />
                входно напрежение: 5 - 36V
                <br />
                изходно напрежение 1.25 - 32V
                <br />
                ток: 0 - 5А
                <br />
                Акценти:
                <br />
                Измерва волтове, ампери, ватове
                <br />
                USB интерфейс за зареждане на цифровите продукти.

            </div>
            <div class="row">
                <div class="col-md-10">
                    <img class="descriptive-image" src="~/images/DC-DC converters/Model 2/Model 2.jpg" />
                </div>
                <div class="col-md-10">
                    <img class="descriptive-image" src="~/images/DC-DC converters/Model 2/Model 2 2.jpg" />
                </div>
            </div>

        </div>
    </div>

