
@{
    ViewData["Title"] = "ConverterModel5";
}

    <div class="container product-container">
        <img src="~/images/DC-DC converters/Model 5/Model 5-1.jpg" />
        <h3>Модел 5 DC/DC понижаващ конветор; вход 4 - 38V, изход 1.25 - 36V; ток: 0 - 5А </h3>
        <div class="d-inline-block">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
            <span class="grey">7лв. на брой с ДДС</span>
        </div>
        <div class="description">
            <br />
            Правотоков понижаващ конвертор преобразувател на напрежение с регулация на напрежението и тока с потенциометри.
            <br />
            Стават за множество приложения, включително за зарядна система (зарядни) за батерии и соларни панели и инсталации, генератори, захранване и захранващи системи, светодиодни системи и други.
            <br />
            <div class="technical-parameters">
                Технически параметри:
                <br />
                Входящо напрежение: 4-38V
                <br />
                Изходящо напрежение: 1.25-36V регулеруемо
                <br />
                Изходящ ток: регулеруем, макс. 5A
                <br />
                Изходяща мощност: 75W макс.
                <br />
                Работна температура: -40 до + 85 градуса (моля при високотемпературна околна среда осигурете охлаждането на модула)
                <br />
                Работна честота: 180KHz
                <br />
                Ефективност на преобразуване: до 96%
                <br />
                Защита от късо съединение: Да (до 8A)
                <br />
                Защита от прегравяне: (автоматично изключва изхода при достигане на критина температура за модула)
                <br />
                Защита от размяна на поляритети: Има
                <br />
                Монтаж: четири 3mm дупки за болче
                <br />
                Размери: 51mm х 26mm х 15mm
                <br />
                Тегло: 23g
            </div>
            <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>
            <br />
            <br />
        </div>

    </div>


