
@{
    ViewData["Title"] = "ConverterModel3";
}

    <div class="container product-container">
        <img src="~/images/DC-DC converters/Model 3/Model3-1.jpg" />
        <h3>DC/DC понижаващ повишаващ конветор; вход 4.5 - 30V, изход 0.5 - 33V; ток 5А </h3>

        <div class="description">
            <br />
            Правотоков повишаващ понижаващ конвертор преобразувател на напрежение с екран, с регулация на напрежението с потенциометър. 
            <br />
            Стават за множество приложения, включително за зарядна система (зарядни) за батерии и соларни панели и инсталации, генератори, захранване и захранващи системи, светодиодни системи и други.
            <br />
            Работи и в двете посоки - може да повишава и понижава входното напрежение.
            <br />
            <div class="technical-parameters">
                Технически параметри:
                <br />
                DC/DC 5V 12V 24V Автоматичен регулируем повишаващ, понижаващ конвертор  5A/80W с дисплей.
                <br />
                Входно напрежение: DC 4.5 ~ 30V -Do not reverse or reverse, or will be damaged
                <br />
                Изходно напрежение: DC 0.5 ~ 33V
                <br />
                Максимален изходен ток: 5A
                <br />
                Максимална изходна мощност: 80W при продължителна работа на максималните мощности моля добавете охлаждане.
                <br />
                Ефективност на преобразуването: 91% (измерено при 12V вход, 19V изход 2A)
                <br />
                Размер намодула: 78 * 48 * 22mm.
            </div>
            <div class="row">
                <div class="col-md-10">
                    <img class="descriptive-image" src="~/images/DC-DC converters/Model 3/Model 3-2.jpg" />
                </div>                
            </div>

        </div>
    </div>

