
@{
    ViewData["Title"] = "ConverterModel4";
}

    <div class="container product-container">
        <img src="~/images/DC-DC converters/Model 4/Model 4 - 1.jpg" />
        <h3>Модел 4 DC/DC повишаващ конветор; вход 8.5 - 48V, изход 10 - 50V; ток: 0 - 10А </h3>
        <div class="d-inline-block">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
            <span class="grey">15лв. на брой с ДДС</span>
        </div>
        <div class="description">
            <br />
            Правотоков повишаващ конвертор преобразувател на напрежение с регулация на напрежението и тока с потенциометри.
            <br />
            Стават за множество приложения, включително за зарядна система (зарядни) за батерии и соларни панели и инсталации, генератори, захранване и захранващи системи, светодиодни системи и други.
            <br />
            <div class="technical-parameters">
                Технически параметри:
                <br />
                DC/DC повишаващ конвертор постоянно токово захранване 250W 10A неизолиран.
                <br />
                Входящо напрежение: DC 8.5V-48V
                <br />
                Входящ ток: 10A (MAX) при повече от 8A моля осигурете охлаждането на модула.
                <br />
                Статичен ток: 10mA
                <br />
                Изходящо напрежениеe: 10-50V регулируемо
                <br />
                Изходящ ток: 0.2-8A
                <br />
                Температира: -40 to + 85 градуса (ако околната температура е висока моля осигурете охлаждане на модула)
                <br />
                Работна честота: 150KHz
                <br />
                Коефицент на ефективност: до 96%
                <br />
                Защита от размяна на поляритети: Има
                <br />
                Монтаж: 4бр. 3mm дупки за болче.
                <br />
                Размер:70mm х 36mm х 13mm
                <br />
                Тегло: 50 g

            </div>
        </div>

    </div>
