
@{
    ViewData["Title"] = "ConverterAll";
}


<div class="container product-container">

    <div class="card-deck ">
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="Converter" asp-action="StepUpConverter">
                <div class="card-body" id="dcdc-stepup-image">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Повишаващи конвертори</small>
                </div>
            </a>
        </div>
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="Converter" asp-action="StepDwonConverter">
                <div class="card-body" id="dcdc-stepdown-image">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Понижаващи конвертори</small>
                </div>
            </a>
        </div>

        <div class="card">
            <a class="card-link" asp-area="" asp-controller="Converter" asp-action="StepUpStepDwonConverter">
                <div class="card-body" id="dcdc-stepup-stepdown-image">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Понижаващи/повишаващи конвертори </small>
                </div>
            </a>
        </div>
        <div class="card">

        </div>
    </div>
</div>










@*<div class="container product-container">
    <div class="card-deck ">
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="Converter" asp-action="ConverterModel1">
                <div class="card-body" id="dcdc-model1-image">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Модел 1 DC/DC понижаващ и повишаващ конвертор</small>
                </div>
            </a>
        </div>
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="Converter" asp-action="ConverterModel2">
                <div class="card-body" id="dcdc-model2-image">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Модел 2 DC/DC понижаващ конветор. Вход 5 - 36V, изход 1.25 - 32V</small>
                </div>
            </a>
        </div>

        <div class="card">
            <a class="card-link" asp-area="" asp-controller="Converter" asp-action="ConverterModel3">
                <div class="card-body" id="dcdc-model3-image">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Модел 3 DC/DC понижаващ и повишаващ конветор; вход 4.5 - 30V, изход 0.5 - 33V </small>
                </div>
            </a>
        </div>
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="Converter" asp-action="ConverterModel4">
                <div class="card-body" id="dcdc-model4-image">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Модел 4 DC/DC повишаващ конветор; вход 8.5 - 48V, изход 10 - 50V</small>
                </div>
            </a>
        </div>
    </div>
    <div class="card-deck ">
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="Converter" asp-action="ConverterModel5">
                <div class="card-body" id="dcdc-model5-image">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Модел 5 DC/DC понижаващ конветор; вход 4 - 38V, изход 1.25 - 36V</small>
                </div>
            </a>
        </div>
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="Converter" asp-action="ConverterModel6">
                <div class="card-body" id="dcdc-model6-image">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Модел 6 DC/DC повишаващ конветор; вход 10 - 60V, изход 12 - 60V</small>
                </div>
            </a>
        </div>

        <div class="card">
            <a class="card-link" asp-area="" asp-controller="Converter" asp-action="ConverterModel7">
                <div class="card-body" id="dcdc-model7-image">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Модел 7 DC/DC повишаващ конветор вход 10.5 - 90V, изход 12.8 - 90V </small>
                </div>
            </a>
        </div>
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="Converter" asp-action="ConverterModel8">
                <div class="card-body" id="dcdc-model8-image">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Модел 8 DC/DC понижаващ вход 5 - 38V, изход 1.25 - 36V</small>
                </div>
            </a>
        </div>
    </div>
    <div class="card-deck ">
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="Converter" asp-action="ConverterModel9">
                <div class="card-body" id="dcdc-model9-image">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Модел 9 DC/DC понижаващ конвертор вход 8 - 60V, изход 1 - 36V</small>
                </div>
            </a>
        </div>
        <div class="card">

        </div>

        <div class="card">


        </div>
        <div class="card">

        </div>
    </div>
</div>*@

