
@{
    ViewData["Title"] = "ConverterModel8";
}

    <div class="container product-container">
        <img src="~/images/DC-DC converters/Model 8/Model 8-1.jpg" />
        <h3>Модел 8 DC/DC понижаващ вход 5 - 38V, изход 1.25 - 36V; ток: 0 - 5А   </h3>
        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <div class="description">
            <br />
            Правотоков понижаващ конвертор преобразувател на напрежение с регулация на напрежението и тока с потенциометри.
            <br />
            Стават за множество приложения, включително за зарядна система (зарядни) за батерии и соларни панели и инсталации, генератори, захранване и захранващи системи, светодиодни системи и други.
            <br />
            С комплект за монтаж – болтчета, гайки и алуминиев радиатор.
            <br />
            LED индикатор за захранване.
            <br />
            Бутон за превключване на измерване на входното или изходното напрежение, и светодиод - показва текущото измерване на входното или изходното напрежение; Nixie tube може да бъде изключена с друг бутон. Настройките могат да бъдат запаметени, дори и ако захранването е изключено.
            <br />
            Функцията за калибриране на волтметъра
            <br />
            <div class="technical-parameters">
                <strong>Технически параметри: </strong>
                <br />
                Номинално входно напрежение: 4 ~ 38VDC - входно напрежение да не надвишава 38V.
                <br />
                Изходно напрежение: 1.25-36VDC регулируемо.
                <br />
                Изходен ток: 0-5A.
                <br />
                Изходна мощност: 75W.
                <br />
                Волтметър обхват: 4 до 40V, грешка ± 0.1V.
                <br />
                Работна честота: 180KHz.
                <br />
                Ефективност до 96%.
                <br />
                Вградена функция термично изключване.
                <br />
                Вградена в функцията за ограничаване на тока
                <br />
                Вградена изходна функция за защита при късо.
                <br />
                Защита на полярността на обратната връзка - Няма
                <br />
                Д x Ш x В = 6.6 * 3.9 * 1.8см.
            </div>
            <div>
                <strong>Метод за калибриране на волтметър:</strong>
                <br />
                <br />
                1. Стъпки за калибриране на изходното напрежение:
                <br />
                <br />
                Стъпка 1
                <br />
                Регулиране на десния бутон, така че "OUT" LED светва, волтметърът показва стойността на изходното напрежение; Натиснете десния бутон за повече от 2 секунди, пуснете бутона, волтметър и светодиод "OUT" мига в синхрон, така че да влезете в режим на калибриране на изходното напрежение.
                <br />
                <br />
                Стъпка 2
                <br />
                Натиснете десния бутон еднократно, стойността на напрежението се добавя с единица; Натиснете левия бутон еднократно изважда с единица;
                <br />
                Единица като стойност е по-малко от 0.1V така че трябва да продължите с натискането на бутона до стойността, която желаете да настроите.
                <br />
                Стъпка 3
                <br />
                Натиснете десния бутон за повече от 2 секунди, освободете, за да излезете от режима на калибриране на изходното напрежение.
                <br />
                <br />
                2. Стъпки за калибриране на входното напрежение
                <br />
                Стъпка 1
                <br />
                Натиснете десния бутон за повече от 2 секунди, освобождавате, волтметър и "IN" LED мига в синхрон, така че да влезете в режим на калибриране на входното напрежение.
                <br />
                Стъпки 2 и 3
                <br />
                Съответстващи на метода за калибриране на изходното напрежение.
                <br />
            </div>
        </div>
    </div>

