
@{
    ViewData["Title"] = "ConverterModel9";
}

    <div class="container product-container">
        <img src="~/images/DC-DC converters/Model 9/Model9-1.bmp" />
        <h3>Модел 9 DC/DC понижаващ вход 8 - 60V, изход 1 - 36V; ток: до 15А </h3>
        <div class="d-inline-block">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
            <span class="grey">20лв. на брой с ДДС</span>
        </div>
        <br />
        <br />
        <div class="description">
            <br />
            Правотоков понижаващ конвертор преобразувател на напрежение с регулация на напрежението с потенциометър.
            <br />
            Стават за множество приложения, включително за зарядна система (зарядни) за батерии и соларни панели и инсталации, генератори, захранване и захранващи системи, светодиодни системи и други.
            <br />
            С комплект за монтаж – болтчета, гайки и алуминиев радиатор.
            <br />
            LED индикатор за захранване.
            <br />
            Бутон за превключване на измерване на входното или изходното напрежение, и светодиод - показва текущото измерване на входното или изходното напрежение; Nixie tube може да бъде изключена с друг бутон. Настройките могат да бъдат запаметени, дори и ако захранването е изключено.
            <br />
            Функцията за калибриране на волтметъра
            <br />
            <div class="technical-parameters">
                <strong>Технически параметри: </strong>
                <br />
                <br />
                Номинално входно напрежение: 8 ~ 60VDC - входно напрежение да не надвишава 60V.
                <br />
                Изходно напрежение: 1-36VDC регулируемо.
                <br />
                Изходен ток: до 15A (зависи от източника и консуматора).
                <br />
                Изходна мощност: 200W (да не се ползва над 100W в среда без активно охлаждане!)
                <br />
                Работна честота: 180KHz.
                <br />
                Ефективност до 94%.
                <br />
                Вградена функция термично изключване.
                <br />
                Вградена функция за защита от висок ток (над 15А).
                <br />
                Защита от объщане на полярността на – да, устройството не изгаря.
                <br />
                Д x Ш x В = 70 x 38 x 31 mm / 27.5"x1.5" x1.2"
                <br />
                С алуминиев корпус и радиатор, за охлаждане и механична защита.
                <br />
                Д x Ш x В = 6.6 * 3.9 * 1.8см.
                <br />
            </div>
            <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>
            <br />
            <br />
        </div>
    </div>

