
@{
    ViewData["Title"] = "StepUpConverter";
}

    <div class="container product-container">
        <div class="card-deck ">
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Converter" asp-action="ConverterModel4">
                    <div class="card-body" id="dcdc-model4-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Модел 4 DC/DC повишаващ конветор; вход 8.5 - 48V, изход 10 - 50V</small>
                    </div>
                </a>
            </div>
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Converter" asp-action="ConverterModel6">
                    <div class="card-body" id="dcdc-model6-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Модел 6 DC/DC повишаващ конветор; вход 10 - 60V, изход 12 - 60V</small>
                    </div>
                </a>
            </div>

            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Converter" asp-action="ConverterModel7">
                    <div class="card-body" id="dcdc-model7-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Модел 7 DC/DC повишаващ конветор вход 10.5 - 90V, изход 12.8 - 90V </small>
                    </div>
                </a>
            </div>
            <div class="card">
               
            </div>
        </div>
    </div>
