
@{
    ViewData["Title"] = "StepUpStepDwonConverter";
}

<div class="container product-container">
    <div class="card-deck ">
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="Converter" asp-action="ConverterModel1">
                <div class="card-body" id="dcdc-model1-image">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Модел 1 DC/DC понижаващ и повишаващ конвертор</small>
                </div>
            </a>
        </div>
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="Converter" asp-action="ConverterModel3">
                <div class="card-body" id="dcdc-model3-image">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Модел 3 DC/DC понижаващ и повишаващ конветор; вход 4.5 - 30V, изход 0.5 - 33V </small>
                </div>
            </a>
        </div>

        <div class="card">

        </div>
        <div class="card">

        </div>
    </div>
</div>

