
@{
    ViewData["Title"] = "StepDwonConverter";
}

<div class="container product-container">
    <div class="card-deck ">
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="Converter" asp-action="ConverterModel2">
                <div class="card-body" id="dcdc-model2-image">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Модел 2 DC/DC понижаващ конветор. Вход 5 - 36V, изход 1.25 - 32V</small>
                </div>
            </a>
        </div>
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="Converter" asp-action="ConverterModel5">
                <div class="card-body" id="dcdc-model5-image">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Модел 5 DC/DC понижаващ конветор; вход 4 - 38V, изход 1.25 - 36V</small>
                </div>
            </a>
        </div>

        <div class="card">
            <a class="card-link" asp-area="" asp-controller="Converter" asp-action="ConverterModel8">
                <div class="card-body" id="dcdc-model8-image">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Модел 8 DC/DC понижаващ вход 5 - 38V, изход 1.25 - 36V</small>
                </div>
            </a>
        </div>
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="Converter" asp-action="ConverterModel9">
                <div class="card-body" id="dcdc-model9-image">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Модел 9 DC/DC понижаващ конвертор вход 8 - 60V, изход 1 - 36V</small>
                </div>
            </a>
        </div>
    </div>
</div>

