
@{
    ViewData["Title"] = "BickeController";
}

    <div class="container product-container">
        <img src="~/images/Controllers and displays/Controllers/ControlersTop.jpg" />

        <h3>Универсални BLDC контролери със/без сензори с дисплей dual mode </h3>
        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <br />
        <br />
        <div class="description">
            Универсален контролери 24V, 36-48V, 48-84V, работещи със сензорни и безсензорни БЕЗЧЕТКОВИ мотори (BLDC).
            <br />
            Контролерите се самоубочават след включване спрямо Вашият мотор и волтаж на батерията.
            <br />
            Имат всички стандартни изводи за газ, спирачки, фази на мотора, PAS и т.н.
            <br />
            Контролерите могат да работят и без конторлни панели!
            <br />
            Да не се ползват на четкови мотори!

            <div class="technical-parameters">
                <strong>СПЕЦИФИКАЦИИ:</strong>
                <br />
                <br />
                <strong>1. 24V 15А УНИВЕРСАЛЕН СЪС/БЕЗ СЕНЗОРЕН КОНТРОЛЕР;</strong>
                <br />
                Работи с БЕЗЧЕТКОВИ мотори, които са със или без сензори!
                <br />
                - Номинално напрежение: DC24V
                <br />
                - Номинална мощност: 250W; пикова – 350W
                <br />
                - Максимален ток:> 15A
                <br />
                - защита под напрежение: 19V + -0.5V (този контролер е специализиран за литиево-йонна батерия)
                <br />
                - Ток ограничен: 15А
                <br />
                - Ефективност: ≥83%
                <br />
                - Разход: < 1.5W
                <br />
                - Контролер категория: Безчетков, постоянен ток
                <br />
                - Модел: електрически велосипеди, електрически скутери, електрически превозни средства, играчки, скутери и др.
                <br />
                - Размери на кутията на контролера: 90 * 52 * 30mm
                <br />
                - Съвместим с мотори с фази 120 градуса и 60 градуса
                <br />
                - Окабеляване и изводи – вижте на снимките.
                <br />
                <div class="row">
                    <div class="col-md-5">
                        <img class="descriptive-image" src="~/images/Controllers and displays/Controllers/24V universal controller/24V-1.jpg" />
                    </div>
                    <div class="col-md-4">
                        <img class="descriptive-image" src="~/images/Controllers and displays/Controllers/24V universal controller/24V-2.jpg" />
                    </div>
                </div>
                <div class="technical-parameters">
                    <strong> 2. 36-48V 15А УНИВЕРСАЛЕН СЪС/БЕЗ СЕНЗОРЕН КОНТРОЛЕР;</strong>
                    <br />
                    - Работи с БЕЗЧЕТКОВИ мотори, които са със или без сензори!
                    <br />
                    - Номинално напрежение: 36V / 48V
                    <br />
                    - Номинална мощност: 250W, пикова – до 750W
                    <br />
                    - Максимален ток: 15A
                    <br />
                    - защита под напрежение: 30V / 40V + -0.5V
                    <br />
                    - Ток ограничен: 15Amax
                    <br />
                    - Ефективност: ≥83%
                    <br />
                    - Разход: < 1.5W
                    <br />
                    - Контролер категория: Безчетков постоянен ток
                    <br />
                    - Приложим модел: електрически велосипед, електрически скутер, електрическо превозно средство
                    <br />
                    - Размери на кутията на контролера: 90 * 52 * 30mm
                    <br />
                    - Съвместим с мотори с фази 120 градуса и 60 градуса
                    <br />
                    - Окабеляване и изводи – вижте на снимките.
                </div>
                <strong>Функции:</strong>
                <br />
                - Супер нисък шум при стартиране
                <br />
                - Функция за граничение на скоростта
                <br />
                - Защита от ниско напрежение
                <br />
                - Защита от свръх ток
                <br />
                - E-ABS, спирачка с ниска степен
                <br />
                - Водоустойчивост
                <br />
                - С PAS сезор
                <br />
                - конектори за индикатор на скоростта и индикатор за батерията
                <br />
                - 3 степенен контрол на скоростта (80-100-110%, ако не се свържат тези проводници, скоростта е 100%)
                <br />
                <div class="row">
                    <div class="col-md-5">
                        <img class="descriptive-image" src="~/images/Controllers and displays/Controllers/36-48V Universal controller/Controller 36-48V-1.jpg" />
                    </div>
                    <div class="col-md-4">
                        <img class="descriptive-image" src="~/images/Controllers and displays/Controllers/36-48V Universal controller/Controller 36-48V-2.png" />
                    </div>
                </div>
                <br />
                <br />
                <strong>3. 48-84V 45А УНИВЕРСАЛЕН СЪС/БЕЗ СЕНЗОРЕН КОНТРОЛЕР – 130 ЛВ;</strong>
                <br />
                (Опция към него: Контролен LCD панел с дисплей SW900, за 36V и 48-60V)
                <br />
                Работи с БЕЗЧЕТКОВИ мотори, които са със или без сензори!
                <br />
                С РЕГЕНЕРАТИВНА ФУНКЦИЯ – ЗАРЕЖДА БАТЕРИИТЕ ПРИ СПИРАНЕ!
                <br />
                Напрежение: 48-84V
                <br />
                Защита от ниско напрежение Cutoff: 41.5V + -0.5V
                <br />
                Номинална мощност: до 1800W, Пикова мощност до 3000W!
                <br />
                Mosfets: 15pcs истински irfb4410 MOSFET, този контролер може да работи с 48-84V батерии.
                <br />
                Ограничен ток: 45A
                <br />
                Размер на контролер кутия: 216 * 84 * 45mm (монтажните планки не са включени в тези размери)
                <br />
                Този контролер е мултифункционален модел, който може да работи със сензорен или безсензорен безчетков постоянно токов двигател, ограничителният ток е 45А, който е подходящ за 1000W-1500W безчетков DC двигател.
                <br />
                Съвместим с мотори с фази 120 градуса и 60 градуса
                <br />
                Окабеляване и изводи – вижте на снимките.
                <br />
                <br />
                <strong>Функции:</strong>
                <br />
                1. Защита от ниско напрежение, защита от претоварване
                <br />
                2. Спирачка E-ABS / висока степен / ниска степен
                <br />
                3. Регенеративна спирачка (с превключвател за включване / изключване) – зарежда батерията при спиране;
                <br />
                4. Автопилот / круз контрол – cruise control
                <br />
                5. Задна скорост (движение назад) (50% от скоростта на движение напред)
                <br />
                6. 3 степенен контрол на скоростта (80-100-110%, ако не се свържат тези проводници, скоростта е 100%)
            </div>
            <div class="row">
                <div class="col-md-5">
                    <img class="descriptive-image" src="~/images/Controllers and displays/Controllers/48-72V - 45A Universal Controller/48-72V-1.jpg" />
                </div>
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/Controllers and displays/Controllers/48-72V - 45A Universal Controller/48-72V-2.jpg" />
                </div>
            </div>

        </div>
    </div>




