
@{
    ViewData["Title"] = "BikeAccessories";
}

<h3>Аксесоари за Електрически колела </h3>
<div class="container product-container">
    <img src="~/images/Controllers and displays/BikeAccessories/AllProducts -1.JPG" />
    <br />
    <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
    <br />
    <div class="description">
        Чисто нови универсални , със стандартни изводи за електрически велосипеди, тротинетки, скутери и други.
        <br />
        Моля разгледайте снимките в обявата и кажете кой точно вариант искате.
        <br />
        Могат да се поставят на всякакви видове бързо и лесно. Монтират се на кормилото на превозното средство.
        <br />
        В комплекта с ръкохватки е включена и втори брой ръкохватка с същите цветове за монтаж на другата част на кормилото.
        <br />
        Поради лесният монтаж, те Ви спестяват часове работа и много разходи.
        <br />
        <br />
        <div class="technical-parameters">
            <strong>Вариантите,с който разполагаме са :</strong>
            <br />
            1. Палец газ обикновен – 15 лв - за плавно подаване на газ. Характерни за тротинетки , ел. Колелета и скутери;
            <br />
            2. Палец газ с LCD дисплей с волтметър за следене на нивото на батерията и бутон за три степени на подпомагане и скорост – 35 лв;
            <br />
            3. Ръкохватка за подаване на газ (масур газ) обикновенна – 20 лв;
            <br />
            4. Ръкохватка за подаване на газ с LCD дисплей волтметър за следене на нивото на батерията, бутон ON / OFF и бутон за КРУИЗ КОНТРОЛ – 40 лв
            <br />
            <br />
            <strong>НАЧИН НА МОНТАЖ И ФУНКЦИИ:</strong>
            1. При палец обикновенна газ - чрез плавно притискане на палеца се увеличава скороста на превозното средство.
            <br />
            2. При палец с LCD дисплей – Има наличие на дисплей, който подпомага следене на напрежението на батерията от водача, което от своя страна подпомага за предотвратяването на възможността от оставане на пътя без батерия.
            <br />Има и бутон за превключване степените на подпомагане или на режима за скорост (мощност), което означава че водача може сам да определе до каква степен електромотора да подпомага движението на превозното средство.
            <br />
            3. При обикновенна ръкохватка (масур) - има възможност за плавно регулиране на скоростта.
            <br />
            4. При ръкохватка с LCD дисплей и бутони - Дисплеят дава индикация за напрежението на батерията, бутонът ON и OFF дава възможноста за включване и изключване на контролера,
            <br />
            зеленият бутон за КРУИЗ КОНТРОЛ дава възможноста без подаване на газ да подържате скоростта, която желаете.
            <br />
            Всичките варианти работят с батерии и контролери с различни волтажи – 24V, 36V, 48V, 52V, 60V, 72V!
            <br />
        </div>
    </div>
    <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>
    <br />
    <br />
</div>
<div class="row">
    <div class="col-md-4">
        <img class="descriptive-image" src="~/images/Controllers and displays/BikeAccessories/Throttle.JPG" />
    </div>
    <div class="col-md-4">
        <img class="descriptive-image" src="~/images/Controllers and displays/BikeAccessories/Throttle-2.JPG" />
    </div>
    <div class="col-md-4">
        <img class="descriptive-image" src="~/images/Controllers and displays/BikeAccessories/ThrottleWithVoltmeter.JPG" />
    </div>
    <div class="col-md-4">
        <img class="descriptive-image" src="~/images/Controllers and displays/BikeAccessories/ThrottleWithVoltmeter-1.JPG" />
    </div>
    <div class="col-md-4">
        <img class="descriptive-image" src="~/images/Controllers and displays/BikeAccessories/TwistThrottle.JPG" />
    </div>
    <div class="col-md-4">
        <img class="descriptive-image" src="~/images/Controllers and displays/BikeAccessories/TwistThrottle-1.JPG" />
    </div>
    <div class="col-md-4">
        <img class="descriptive-image" src="~/images/Controllers and displays/BikeAccessories/TwistThrottleWithVoltmeter.JPG" />
    </div>
    <div class="col-md-4">
        <img class="descriptive-image" src="~/images/Controllers and displays/BikeAccessories/TwistThrottleWithVoltmeter-1.JPG" />
    </div>
</div>






