
@{
    ViewData["Title"] = "Bms10S15A";
}
    <div class="container product-container">
        <img src="~/images/BMS/10SBMS-15A/10SBMS-15A.jpg" />
        <h3>10S BMS 36V(42V) 15A, защитна платка с балансно зареждане </h3>
        <div class="d-inline-block">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
            <span class="grey">20лв. на брой с ДДС</span>
        </div>
        <br />
        <br />
        <div class="description">
            BMS платка PCB с баланс за батерии тип 18650
            <br />
            защита от преразряд, презаряд, късо съединение, ограничение на изходния ток, и балансно(балансирано) поклетково зареждане
            <br />
            СХЕМА НА СВЪРЗВАНЕ:
            Виж снимка след описанието
            <div class="technical-parameters">
                Система за управление на батерии 10S BMS (Battery management system) 15A 42V  защитна платка с балансно зареждане на сериите
                <br />
                <br />
                СПЕЦИФИКАЦИЯ:
                <br />
                Зарядно напрежение: 42V (BMS 25 – 36 – 42V) – клетките се зареждат до 4.2V на клетка ( 42V за пакет);
                <br />
                Защита от преразряд на клетките – платката спира разряда, докато не се зареди пакетът над даден волтаж;
                <br />
                Продължителен работен разряден ток (горна граница): 15A (ако няма добро охлаждане е добре да се намали консумацията на ток)
                <br />
                Продължителен работен заряден ток (Горна граница): < 8A
                <br />
                Функция на самовъзстановяване (recovery function - AUTO Recovery);
                <br />
                Балансна функция за поклетково зареждане;
                <br />
                Функция против интерференция;
                <br />
                Размер: 62 x 32 x 10 mm
                <br />
                Тегло – 30 г.
            </div>
            <br />
            <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>
            <br />
            <br />
            <div class="row">
                <div class="col-md-5">
                    <img src="~/images/BMS/10SBMS-15A/10SBMS-15A-1.jpg" />                  
                </div>
                <div class="col-md-5">
                    <img src="~/images/BMS/10SBMS-15A/10SBMS-15A-2.jpg" />                   
                </div>
            </div>
           
            <br />
            <br />
            <div>
                Препоръка: Когато се прави батерия от 10 серии, хубаво е отделните елементи да са на еднакакъв волтаж (еднакво заредени / разредени).
                <br />
                Ако не са – заредете ги отделно и тогава ги използвайте в серии.
                <br />
                За проверка на състоянието на батерията – ако напрежението на дадена / дадени серии спада по-бързо, то в тези серии има слаба / повредена батерия.
                <br />
                Не е хубаво да се смесват стари или слаби, или различни модели батерии заедно!
                <br />
                Състоянието на сглобената батерия е относително равно на състоянието на най-слабия елемент в нея!
            </div>
        </div>
    </div>


