
@{
    ViewData["Title"] = "Bms10Sto16S";
}

<div class="container product-container">
    <img src="~/images/BMS/10S-16S Waterproofe BMS Common Port/BMS-10to16S -1.JPG" />
    <h3>10S, 13S, 14S, 16S. Водоизолирани платките са със защитна функция и баланс на сериите</h3>
    <br />
    <br />
    <div class="description">
        Водозащитени BMS платки с Common port (общ порт), поддържащи регенерация (зареждане на батерията при спиране), с постоянен разряден ток 35А или 45А, за литиево-йонни батерии.
        <br />
        С различни волтажи – 10S, 13S, 14S, 16S. Платките са със защитна функция и баланс на сериите!
        <br />
        Платките издържат пикове до 100А (за 35А модела) и до 180А (за 45А модела).
        <br />
        Корпусът е водоизолиран;
        <br />
        Имат вграден радиатор за разсейване на топлината
        <br />
        Имат вграден температурен датчик за термо защита.
        <br />
        Зарядният ток / разрядният ток е 35А и 45А, според модела.
        <br />
        <br />
        СХЕМА НА СВЪРЗВАНЕ:
        Виж снимка след описанието
        <div class="technical-parameters">

            СПЕЦИФИКАЦИЯ:
            <br />
            Защита от презаряд 4.25 ± 0.025V
            <br />
            Време за задействане при презаряд - 0.5S
            <br />
            Освобождаване след преразряд V - 4.19 ± 0.05V
            <br />
            Номинално напрежение за започване балансиране на клетките -  4.18V
            <br />
            Постоянен ток при баланс до 45А ± 5mA
            <br />
            Защита от преразряд на клетка 2.8 ± 0.05V
            <br />
            Време за реакция при преразряд - 0.5S
            <br />
            Възтановяване преразряд - 3.0V ± 0.05V
            <br />
            Напрежение за засичане на свърх натовареност 150mV
            <br />
            Време за реакция при засичане на свръх напрежение -  9mS
            <br />
            Състояние при засичане на свръх натоварване: изключва товара
            <br />
            Условия за защита от късо съединение: късо съединение при външно натоварване
            <br />
            Закъснение за откриване на късо съединение 250uS
            <br />
            Състояние на освобождаване на защита от късо съединение: Изключете товара
            <br />
            Температурна защита
            <br />
            Съпротивление на проводимост на основната верига ≤ 10 mΩ
            <br />
            Работен ток със самостоятелна мощност ≤ 40uA
            <br />
            Самостоятелна консумация на захранващ ток (преразреждане) ≤ 20uA
            <br />
            Работен температурен диапазон -30 / + 80 Целзий
            <br />
            Напрежението на свръхнатоварване на схемата за интегриране на лионовите йони е 4,25 V.
            <br />
            Напрежението за свръхразреждане е 2.7V. Балансът е 4.18V.
            <br />
            BMS 35A - 73*61*9mm
            <br />
            BMS 45A - 80*65*9mm
        </div>
        <br />
        <div>
            ИНСТРУКЦИЯ ЗА СВЪРЗВАНЕ:
            <br />
            1. Изключва се балансната букса (лентовият конектор от БМС-а)!
            <br />
            2. Запояват се последователно кабелчетата на лентовата букса към сериите на батерията. На 1-вия кабел (черният) се запоява първият „-„ на батерията (0V), а на всеки следващ червен кабел по ред се запоява на всеки следващ мост (3,7V; 7,4V; 11,1V ... и т.н.). На последният + на батерията се запоява последният червен кабел от лентовия балансен конектор.
            <br />
            3. Задължително премерете с мултицет на балансният конектор волтажите между сериите! Не трябва да има грешка в последователността! „-„ на мултицета се поставя на черното кабелче от конектора, а „+“ на мултицета се поставя последователно на всяко следващо червено. Волтажите трябва да се повишават с еднаква стъпка със всяко измерване. Ако има грешка в опроводяването, обезателно я поправете, иначе след включване платката ще се повреди!
            <br />
            4. Запояват се B- кабела за „-„ на батерията;
            <br />
            5. Включва се балансната лентова букса в БМС-а;
            <br />
            6. Контролно се премерва с мултицета волтажа между B- дебелият кабел и + на батерията. Волтажът като стойност трябва да е целият волтаж между „+“ и “ – „на батерията
            <br />
            7. Запоява се главният + на батерията, с + на товара и + на зарядното.
            <br />
            8. На Р- се запояват „-„ на товара и зарядното.
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-4">
                <img class="descriptive-image" src="~/images/BMS/10S-16S Waterproofe BMS Common Port/BMS-10to16S-2.JPG" />
            </div>
            <div class="col-md-4">
                <img class="descriptive-image" src="~/images/BMS/10S-16S Waterproofe BMS Common Port/BMS-10to16S-3.JPG" />
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/BMS/10S-16S Waterproofe BMS Common Port/BMS-10to16S-4.JPG" />
                </div>
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/BMS/10S-16S Waterproofe BMS Common Port/BMS-10to16S-5.JPG" />
                </div>
            </div>
            <br />
            <br />
            <div>
                Препоръка: Когато се прави батерия от 10S, 13S, 14S, 16S серии, хубаво е отделните елементи да са на еднакакъв волтаж (еднакво заредени / разредени).
                <br />
                Ако не са – заредете ги отделно и тогава ги използвайте в серии.
                <br />
                За проверка на състоянието на батерията – ако напрежението на дадена / дадени серии спада по-бързо, то в тези серии има слаба / повредена батерия.
                <br />
                Не е хубаво да се смесват стари или слаби, или различни модели батерии заедно!
                <br />
                Състоянието на сглобената батерия е относително равно на състоянието на най-слабия елемент в нея!
            </div>
        </div>
    </div>
</div>
