
@{
    ViewData["Title"] = "Bms13S";
}

    <div class="container product-container">
        <img src="~/images/BMS/13S BMS - 35A/BMS-13S-1.JPG" />        
        <h3>13S BMS 35A 48V - 54.6V </h3>

        <div class="description">
            BMS платка PCB с баланс за батерии тип 18650
            <br />
            защита от преразряд, презаряд, късо съединение, ограничение на изходния ток, и балансно(балансирано) поклетково зареждане
            <br />
            СХЕМА НА СВЪРЗВАНЕ:
            Виж снимка след описанието
            <div class="technical-parameters">
                Система за управление на батерии 13S BMS (Battery management system) 35A 54.6V 35A защитна платка с балансно зареждане на сериите
                <br />
                Основни приложения: Акумулаторни литиево-йонни и литиево-полимерни батерии, електрически колелета, електрически скутери, инвертори, електрически мотори, електрически коли, електрически тротинетки и много други.
                <br />
                <br />
                СПЕЦИФИКАЦИЯ:
                <br />
                Защита от преразряд на клетките – платката спира разряда, докато не се зареди пакетът над даден волтаж;
                <br />
                Продължителен работен разряден ток (горна граница): 35A (ако няма добро охлаждане е добре да се намали консумацията на ток)
                <br />
                Продължителен работен заряден ток (Горна граница): < 8A
                <br />
                Функция на самовъзстановяване (recovery function - AUTO Recovery);
                <br />
                Балансна функция за поклетково зареждане;
                <br />
                Функция против интерференция;
                <br />
                За клетки с номинално напрежение 3.6V, 3.7V (2.5 – 4.2V) Литиеви батерии (включително 18650, 26650, литието полимерни батерии, Литиево йонни батерии, li-ion, lion, li ion, Li-Po, Lipo, Li Po)
                <br />
                Следвайте точно указаните изводи и не окъсявайте!
                <br />
                Размер: 69*51*8 mm
            </div>
            <br />

            <br />
            <br />
            <div class="row">
                <div class="col-md-5">
                    <img class="descriptive-image" src="~/images/BMS/13S BMS - 35A/BMS-13S-2.jpg" />
                </div>
                <div class="col-md-5">
                    <img class="descriptive-image" src="~/images/BMS/13S BMS - 35A/BMS-13S-3.JPG" />
                </div>
            </div>            
            <br />
            <br />
            <div>
                Препоръка: Когато се прави батерия от 13 серии, хубаво е отделните елементи да са на еднакакъв волтаж (еднакво заредени / разредени).
                <br />
                Ако не са – заредете ги отделно и тогава ги използвайте в серии. За проверка на състоянието на батерията – ако напрежението на дадена / дадени серии спада по-бързо, то в тези серии има слаба / повредена батерия.
                <br />
                Не е хубаво да се смесват стари или слаби, или различни модели батерии заедно.
                <br />
                Състоянието на сглобената батерия е относително равно на състоянието на най-слабия елемент в нея!
            </div>
        </div>
    </div>

