
@{
    ViewData["Title"] = "Bms1S";
}

    <div class="container product-container">
        <img src="~/images/BMS/1S-BMS/BMS1-1.jpg" />
        <h3>1S BMS 3.7V 5A, защитна платка</h3>
        <div class="d-inline-block">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
            <span class="grey">2.50лв. на брой с ДДС</span>
        </div>
        <br />
        <br />  
        <div class="description">
            Платки BMS PCB за батерии тип 18650, защита от преразряд, късо съединение, ограничение на изходен и заряден ток.
            <br />
            СХЕМА НА СВЪРЗВАНЕ:
            Отзад или отпред на B- и B+ се вързва батерията;
            Отзад на малките Р- и Р+ се слага товара и зарядното.
            <br />
            <br />
            <div class="technical-parameters">
                СПЕЦИФИКАЦИЯ:
                <br />
                Зарядно напрежение: до 5V
                <br />
                Размер: 35 * 5 MM;
                <br />
                Детекция на презаряд, Волтаж: 4.25V ± 0.05V
                <br />
                Възстановяване от презаряд, волтаж: 4.05V ± 0.05V
                <br />
                Детекция на преразряд, Волтаж: 2.50V ± 0.1V
                <br />
                Възстановяване от преразряд, волтаж: 2.90V ± 0.1V
            </div>
        </div>
        <br />
        <br />

        <div class="row">
            <div class="col-md-5">
                <img class="descriptive-image" src="~/images/BMS/1S-BMS/BMS1S-1-1.jpg" />
            </div>
        </div>
    </div>
