
@{
    ViewData["Title"] = "Bms20S";
}

    <div class="container product-container">
        <img src="~/images/BMS/20S bms 90A/BMS-20S-1.JPG" />
        <h3>20S BMS 90A 72V - 84V </h3>
        <div class="d-inline-block">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
            <span class="grey">85лв. на брой с ДДС</span>
        </div>
        <div class="description">

            <br />
            Система за управление на батерии 20S BMS (Battery management system) 90A 84V защитна платка с балансно зареждане на сериите
            <br />
            Зарядно напрежение: 84V (BMS мин 60V – 72V – макс 84V) – клетките се зареждат до 4.2V на клетка ( 84V за пакет);
            <br />
            Защита от преразряд на клетките – платката спира разряда, докато не се зареди пакетът над даден волтаж;
            <br />
            Продължителен работен разряден ток (горна граница): 90A (ако няма добро охлаждане е добре да се намали консумацията на ток)
            <br />
            Продължителен работен заряден ток (Горна граница): < 90A
            <br />
            <br />
            СХЕМА НА СВЪРЗВАНЕ:
            1. На C- (то е и P-) свързвате "-" на заряда и на товара;
            <br />
            2. На B- свързвате "-" на батерията;
            <br />
            3. При откачен балансен кабел, запоявате поред балансните кабели към сериите на батерията;
            <br />
            4. Накрая свързвате балансният конектор към БМС-а.
            <br />
            <div class="technical-parameters">
                Система за управление на батерии 13S BMS (Battery management system) 20S BMS 90A 72V - 84V защитна платка с балансно зареждане на сериите
                <br />
                Основни приложения: Акумулаторни литиево-йонни и литиево-полимерни батерии, електрически колелета, електрически скутери, инвертори, електрически мотори, електрически коли, електрически тротинетки и много други.
                <br />
                <br />
                СПЕЦИФИКАЦИЯ:
                <br />
                ПАРАМЕТРИ:
                <br />
                Ампераж при разряд: 90А (max)
                <br />
                Ампераж при временен пиков разряд: 160A
                <br />
                Волтове зареждане: 84V
                <br />
                Ток при зареждане: 90А (max)
                <br />
                Засичане на презаряд: 4.28 +- 0.05 V
                <br />
                Реакция при засичане на преразряд: 100 mS
                <br />
                Освобождаване на зарядния порт след презаряд: 4.08 -+ 0.05 V
                <br />
                Балансно напрежение на зареждане: 4.2 -+ 0.025 V
                <br />
                Прекъсване на зареждането: 4.2 -+ 0.05 V
                <br />
                Баланс ампери: 60 -+ 5 mA
                <br />
                Засичане на преразряд: 2.55 +- 0.08 V
                <br />
                Реакция при преразряд: 50 mS
                <br />
                Възтановяване след преразряд: 2.9 +- 0.1 V
                <br />
                Напрежение за откриване на свръхразряд:  150 mV
                <br />
                Време за реакция при преразряд: 15 mS
                <br />
                Защита от свръх ток:
                <br />
                Засичане при волтаж 150 mV
                <br />
                Време за реакция 15 mS
                <br />
                Стойности при засичане 200 +- 20 A
                <br />
                Release Condition Cut Load
                <br />
                Short-circuit Protect:
                <br />
                Protect Condition Cut Load
                <br />
                Закъснение при засичане 200 uS
                <br />
                Изключване на товара
                <br />
                Съпротивление по-малко от: 15 mΩ
                <br />
                Работен ток по-малък от 70 uA
                <br />
                Sleep Current (when Over-discharge) less than 10 uA
                <br />
                Работна температура -30/+80 C
            </div>
            <br />
            <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>
            <br />
            <br />
            <div class="row">
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/BMS/20S bms 90A/Capture 3.JPG" />
                </div>
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/BMS/20S bms 90A/Capture6.JPG" />
                </div>
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/BMS/20S bms 90A/Capture 5.JPG" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <img class="descriptive-image" src="~/images/BMS/20S bms 90A/BMS 20S-3.JPG" />
                </div>
            </div>
            <br />
            <br />
            <div>
                Препоръка: Когато се прави батерия от 20 серии, хубаво е отделните елементи да са на еднакакъв волтаж (еднакво заредени / разредени).
                <br />
                Ако не са – заредете ги отделно и тогава ги използвайте в серии.
                <br />
                За проверка на състоянието на батерията – ако напрежението на дадена / дадени серии спада по-, то в тези серии има слаба / повредена батерия.
                <br />
                Не е хубаво да се смесват стари или слаби, или различни модели батерии заедно! Състоянието на сглобената батерия е относително равно на състоянието на най-слабия елемент в нея!
            </div>
        </div>
    </div>



