
@{
    ViewData["Title"] = "Bms2S";
}

<div class="container product-container">
    <img  src="~/images/BMS/2S-BMS/2SBMS.JPG" />
    <h3>2S BMS 8.4V 20A, защитна платка с балансно зареждане</h3>
    <div class="d-inline-block">
        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <span class="grey">10лв. на брой с ДДС</span>
    </div>
    <br />
    <br />
    <div class="description">
        Система за управление на батерии 2S BMS (Battery management system) 20A 8.4V защитна платка с балансно зареждане на сериите
        <br />
        СХЕМА НА СВЪРЗВАНЕ:
        <br />
        Свържете първо 0V, след това 4.2V и накрая 8.4V, в точната написана последователност. Когато запоявате към платката,
        <br />
        не докосвайте никакви други компоненти на платката и не правите умишлено късо съединение.
        <br />
        Свържете товара и разряда към обозначените + и -. Проверете на изхода на батерията за правилно свързани + и - към разряда и към разряда.
        <br />
        Препоръчително е да се използват медни проводници с повече от 2 квадратни милиметра.
        <br />
        <br />
        <div class="technical-parameters">
            СПЕЦИФИКАЦИЯ:
            <br />
            Зарядно напрежение: DC 8.4V;
            <br />
            Ток на непрекъснат разряд: максимум 20A (ако околната среда за разсейване на топлината не е добра, моля, намалете натоварването);
            <br />
            Ток на непрекъснато зареждане: максимум 10A;
            <br />
            Приложение: За литиеви батерии с номинално напрежение 3,7 V и зареждане от 4,2 V на клетка (включително 18650, 26650 и полимерни литиеви батерии)
            <br />
            може да пусне ток 25А, мощност по-малка от 50 W електрическа бормашина или 168 W резистивен товар
            <br />
            Размер на продукта: 48mm х 20mm х 4mm / 1.88 х 0.78 х 0.15 инч.
            <br />
            Тегло: 3гр
            <br />
        </div>
    </div>
    <br />
    <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>
    <br />
    <br />

    <div class="row">
        <div class="col-md-5">
            <img class="descriptive-image" src="~/images/BMS/2S-BMS/2SBMS-1.JPG" />
        </div>
    </div>
</div>


