
@{
    ViewData["Title"] = "Bms300А";
}

<div class="container product-container">
    <img src="~/images/BMS/300ABMS/300ABMS-1.jpg" />
    <h3>BMS 2S-16S 300A Универсален </h3>
    <div class="d-inline-block">
        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <span class="grey">600лв. на брой с ДДС</span>
    </div>
    <div class="description">
        <br />
        - 2S – 16S BMS с 300A шунт (8.4V – 67.2V)
        <br />
        Дължина на балансните кабели с конектора: около 300 мм
        <br />
        1.Използва модерна технология за измерване на ADC, висока точност, високо напрежение и висок ток
        <br />
        верига за откриване Толерансът за измерване на максимално напрежение е в рамките на 5mV при батерия до 16S - 68V
        <br />
        2. Поддържайте регенеративно спиране, по време на натискане може да зареждате пакета от батерия и мощността на разреждане
        <br />
        (Wh) ще намалее в отговор на спирачната сила.
        <br />
        3. Заряден / разреждащ ток до 600A. По-големият ток може да бъде персонализиран.
        <br />
        4. 1.2A ток за баланс на клетката е много полезен за батерия с голям капацитет, функцията може да възобнови всички клетки
        <br />
        състояние на баланса на напрежението в най-кратки срокове. Защитата от висока температура дава безопасността на системата
        <br />
        по време на баланс.
        <br />
        5. Изчислява и показва мощността на заряд и разряд (Wh).
        <br />
        6. TFT LCD екранът предоставя богата информация, включително ток, напрежение, мощност, капацитет, състояние на батерията, SOC
        <br />
        и температура и т.н.
        <br />
        7. BMS-а разполага с максимална защита за безопасност, в рамките на параметрите на диапазона могат да се настройват, BMS-а алармира
        <br />
        и прекъсване на заряда или разреждане според настройките на потребителите, извън диапазона от параметри  BMS-a ще п изключи зареждането или разреждането,
        <br />
        за да предотврати развалянето на батерията.
        <br />
        8. Минимизирайте консумацията на енергия.
        <br />
        9. Дизайн с двойно захранване, устройството може да се захранва от всички клетки или външно захранване.
        <br />
        10. Разбира броя на клетките по всяко време и сравнява с броя, открит при първото включване. Ако намери
        <br />
        разлики, устройството ще алармира и ще изключи зареждането или разреждането според настройките на потребителите, функцията може
        <br />
        предотвратяване на загуба на всяка клетъчна връзка.
        <br />
        11. Звукова аларма и LED аларма ще се задействат, когато се появят някакви предупредителни събития, и след това изчакайте няколко
        <br />
        секунди  Не прекъсвайте зареждането или разреждането. Времето за закъснение може да се програмира.
        <br />
        12. Релето за зареждане и релето за разреждане се управляват независимо.
        <br />
        13. Два температурни датчика следят температурата на батерията в различно положение.
        <br />
        14. Поддържа обновяването на програмата на фърмуера чрез USB порт.
        <br />
        15. Предоставя на потребителите максимална гъвкавост, ключовите параметри могат да бъдат програмирани.
        <br />
        16. Дисплей SOC батерия или наречен габарит на батерията, подобен на таблото за автомобил. Брой клетки, батерия
        <br />
        едновременно се показват напрежение и габарит на батерията (%).
        <br />
        17. В случай, че батерията не трябва да се зарежда и разрежда, натиснете STOP бутона, влезте в спящ режим,
        <br />
        за да спестите консумация на енергия, в този режим зареждането и разреждането са забранени, а задната светлина на LCD дисплея е изключена.
        <br />
        Натиснете който и да е клавиш, за да възобновите нормалния работен режим.
        <br />
        18. Времето за включване на задната светлина на LCD може да се програмира, за да спести енергия, когато е изключена, натиснете който и да е клавиш, за да се възобновите.
        <br />
        <br />
        <strong>Функции за защита</strong>
        <br />
        1. Защита от грешки в броя на клетките
        <br />
        2. Защита срещу презареждане
        <br />
        3. Под защита от напрежение
        <br />
        4. Защита от ток при зареждане или разреждане
        <br />
        5. Защита от прекомерна температура
        <br />
        6. Защита от диференциално напрежение в клетката
        <br />
        7. Над диференциална защита на температурата на батерията
        <br />
        8. Под защита на SOC
        <br />
        <div class="technical-parameters">
            <strong>Технически спецификации:</strong>
            <br />
            Размер 96×80×24 mm
            <br />
            Тегло – 365г.
            <br />
            1. Обхват на батерията: 2S-16S LiPo, LiFe, LiIon, LTO пакет батерии на BMS16S
            <br />
            2. Точен обхват на напрежението в клетката: -5mV + 5mV на BMS16T
            <br />
            3. Диапазон на дисплея на напрежението в клетката: 0.10 до 4.99V
            <br />
            4. Напрежението на външна мощност: 15-60V
            <br />
            5. Балансов ток: 1,2А на клетка
            <br />
            6. Диапазон на показване на температурата: -20 до 150 градуса Целзий,
            <br />
            7. SOC индикатор: ЧЕРВЕНА зона 0-15% от площта на  ЖЪЛТА 16-35% от площта на  ЗЕЛЕНА 36-100% от SOC
            <br />
            8. Размер на основния модул: 124 × 95 × 30 (Д × Ш × Т, мм) или 4,88 × 3,74 × 1,18 (Д × Ш × Т, инч)
            <br />
            9. Тегло на основния модул: 365 г без аксесоарите
            <br />
            10. Размер на дисплейния модул: 96 × 80 × 24 (Д × Ш × Т, мм) или 3.8 × 3.2 × 0.95 (L × W × T, инч)
            <br />
            11. Предупредителен светодиод: 11000mCd, 2.0V, 20mA
            <br />
            12. Предупредителен звуков сигнал: 85dB 12V, 25mA
            <br />
            13. Опаковка: Калъф от AL сплав
            <br />
            <br />
            <strong>Актуализации</strong>
            <br />
            1. Добавете RS232 порт, външното устройство може да прочете всички данни от BMS16S
            <br />
            2. Подобрете точността за анализиране броя на клетките
            <br />
            3. Добавете защита от ток по време на балансиране
            <br />
            4. Оптимизирана точност на SOC, новите подходи са базирани на напрежение и броене на кулон, съобразете се с клетката
            <br />
            импеданс в същото време. Моля, настройте точния капацитет на батерията в менюто за настройка на програмата, преди да използвате BMS-a.
            <br />
            5. Добавете ток, AH и WH, SOC интерфейс, лесно е да се чете ток или разряд на ток, капацитет, мощност и
            <br />
            състояние на капацитет на батерията на един интерфейс.
            <br />
            6. Релейният контролер използва 12V 3A голям токов регулатор от 16S батерия. може да задвижва по-голям ток
            <br />
            механично и състояние твърдо реле.
            <br />
            7. Ако използвате външен адаптер, BMS-а може да направи батерия 2S -16S, а обхватът на външното напрежение е 15-60V.
            <br />
        </div>
        
        <p>  <a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>
        
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-4">
                <img class="descriptive-image" src="~/images/BMS/300ABMS/300ABMS-2.jpg" />
            </div>
            <div class="col-md-4">
                <img class="descriptive-image" src="~/images/BMS/300ABMS/300ABMS-3.jpg" />
            </div>
            <div class="col-md-4">
                <img class="descriptive-image" src="~/images/BMS/300ABMS/300ABMS-4.jpg" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <img class="descriptive-image" src="~/images/BMS/300ABMS/300ABMS-5.jpg" />
            </div>
        </div>
        <br />
        <br />
        <div>
            Препоръка: Когато се прави батерия от серии, хубаво е отделните елементи да са на еднакакъв волтаж (еднакво заредени / разредени).
            <br />
            Ако не са – заредете ги отделно и тогава ги използвайте в серии.
            <br />
            За проверка на състоянието на батерията – ако напрежението на дадена / дадени серии спада по-, то в тези серии има слаба / повредена батерия.
            <br />
            Не е хубаво да се смесват стари или слаби, или различни модели батерии заедно! Състоянието на сглобената батерия е относително равно на състоянието на най-слабия елемент в нея!
        </div>
    </div>





