
@{
    ViewData["Title"] = "Bms4S";
}

    <div class="container product-container">
        <img src="~/images/BMS/4S-BMS/BMS-4S-1.jpg" />        
        <h3>4S BMS 16.8V 40A, защитна платка с балансно зареждане</h3>

        <div class="description">
            Платки BMS PCB за батерии тип 18650, защита от преразряд, защита от презаряд, късо съединение, ограничение на изходен и заряден ток.
            <br />
            и балансно (балансирано) поклетково зареждане.
            <br />
            4S BMS 40A 14.8V - 16.8V
            <br />
            СХЕМА НА СВЪРЗВАНЕ:
            Виж снимка след описанието
            <div class="technical-parameters">
                Система за управление на батерии 4S BMS (Battery management system) 40A 16.8V 40A
                <br />
                <br />
                СПЕЦИФИКАЦИЯ:
                <br />
                40A 12.6V 40A защитна платка с балансно зареждане на сериите
                <br />
                Зарядно напрежение: 16.8V – 18.1V (BMS 12 – 14.8 – 16.8V) – клетките се зареждат до 4.2V на клетка ( 16.8V за пакет);
                <br />
                Защита от преразряд на клетките – 3V на клетка или 12V на целият пакет;
                <br />
                Продължителен работен разряден ток (горна граница): 40A (ако няма добро охлаждане е добре да се намали консумацията на ток)
                <br />
                Продължителен работен заряден ток (Горна граница): 20A
                <br />
                Функция на самовъзстановяване (recovery function - AUTO Recovery);
                <br />
                100 mA балансен ток;
                <br />
                Функция против интерференция;
                <br />
                Размер: 42*60*3.4mm
                <br />
                Тегло: 9.8 г
             
            </div>
            <div>
                За всякакви приложения, включително алумулаторни: винтоверт, електричестка отвертка, ъглошлайф, флекс, прахосмукачка, резачка, трион, зеге, и т.н.
                <br />
                За клетки с номинално напрежение 3.6V, 3.7V (2.5 – 4.2V) Литиеви батерии (включително 18650, 26650, литието полимерни батерии, Литиево йонни батерии, li-ion, lion, li ion, Li-Po, Lipo, Li Po)
                <br />
                Следвайте точно указаните изходи за напреженията: 0V, 4.2V, 8.4V, 12.6V и не окъсявайте!
                <br />
                Виж схема на свързване на снимките по-долу
            </div>
            <br />
            <div>
                ПРИ ПРОБЛЕМИ С ПЛАТКАТА, КАКТО И ЗА ПОПРАВЯНЕ И ТЕСТВАНЕ / BMS PROBLEMS AND TECHNICAL TESTING:
                <br />
                Symptom: Do not start the drill or stop it (PICTURE TEST 1 / СНИМКА ТЕСТ 1)
                <br />
                Poor battery output or excessive motor power causes this type of phenomenon
                <br />
                Solution:
                <br />
                1) Replace ordinary lithium battery with power lithium battery, discharge capacity 15C20C

                2) 3S 40A: Change 3 series battery to 3 string 2 or 3 string 3

                4S 40A: Change 4 string battery to 4 string 2 or 4 string 3

                3) Disconnect the battery first, and then remove the triode in the blue circle. If the

                power is removed, ensure that the other components are not touched during the

                removal.
                <br />
                <br />
                Failure phenomenon: Can not charge, can not discharge, the output
                <br />
                voltage is lower than the battery pack (PICTURE TEST 2 / СНИМКА ТЕСТ 2)
                <br />
                1) Use a multimeter to measure the voltage of each battery:
                <br />
                - Black pen to 0V solder joint, red pen to 4.2V solder joint, normal voltage 3-4.2V
                <br />
                - Black pen to 4.2V solder joint, red pen to 8.4V solder joint, normal voltage 3-4.2V
                <br />
                - Black pen to 8.4V solder joint, red pen to 12.6V solder joint, normal voltage 3-4.2V
                <br />
                - Black pen to 12.6V solder joint, red pen to 16.8V solder joint, normal voltage
                <br />
                3-4.2V
                <br />
                - The negative voltage is measured, indicating that the wrong line is being used and
                <br />
                the protection board may be permanently damaged.
                <br />
                2) If the measured voltage is in the normal range, first charge for one minute, then
                <br />
                discharge for one minute, measure the output voltage
                <br />
                3) If the output is still abnormal, measure the voltage of the CD and FD pads
                <br />
                - Use the multimeter's black pen to connect the 0V solder joint, and the red pen to
                <br />
                the CD solder joint. If the voltage is lower than 7V, it means that the charging MOS
                <br />
                (blue circle) is broken down by one of the static electricity, and one of the bad
                <br />
                spots will work properly.
                <br />
                - Use the multimeter's black pen to connect the 0V solder joint and the red pen to
                <br />
                the CD solder joint. If the voltage is lower than 7V, it means that the charging MOS
                <br />
                (blue circle) is broken down by one of the static electricity, and one of the bad
                <br />
                spots will work properly
            </div>
        </div>
        <br />
        <br />

        <div class="row">
            <div class="col-md-10">
                <img class="descriptive-image" src="~/images/BMS/4S-BMS/BMS-4S-2.jpg" />
            </div>

        </div>
        <div class="row">
            <div class="col-md-5">
                <img class="descriptive-image" src="~/images/BMS/4S-BMS/BMS-4S-3-1.jpg" />
            </div>
            <div class="col-md-5">
                <img class="descriptive-image" src="~/images/BMS/4S-BMS/BMS-4S-3-2.jpg" />
            </div>
        </div>

        <div>
            Платката е подходяща за приложения със стартов ток по-нисък от 80A ( 170W вата стартова мощност);
            <br />  
            Забележка 1: За нормално ползване на винтоверт или друг подобен уред, трябва да се ползват литиево-йонни елементи 18650 с пиков ток на клетката 20 - 30А (за батерии с общо 4 елемента) или 10 - 15А (за батерии с 8 елемента). Слабо разрядни елементи за фенерчета или от лаптоп почти не вършат работа за такива приложения!
            <br />  
            Забележка 2: Докато батерията се зарежда, съпротивлението “430” грее защото платката балансира; Ако греенето продължава дослта време след спирането на заряда, проверете дали кабелите са свързани правилно или няма повреден елемент в батерията.
            <br />  
            Забележка 3: Когато се прави батерия от 4 серии, хубаво е отделните елементи да са на еднакакъв волтаж (еднакво заредени / разредени). Ако не са – заредете ги отделно и тогава ги използвайте в серии. За проверка на състоянието на батерията – ако напрежението на дадена / дадени серии спада по-бързо, то в тези серии има слаба / повредена батерия.
            Не е хубаво да се смесват стари или слаби, или различни модели батерии заедно! Състоянието на сглобената батерия е относително равно на състоянието на най-слабия елемент в нея!
            Когато се използва четков мотор, по желание, можете да свържете неполярен кондензатор (за над 25V, капацитет 10uF-100uF) към + и – на мотора, за да се предотврати reverse spike от мотора. Break the MOS tube
        </div>

    </div>



