
@{
    ViewData["Title"] = "Bms5S";
}

    <div class="container product-container">
        <img src="~/images/BMS/5S-BMS/BMS-5S-1.jpg" />
        <h3>5S BMS 21V (3S и 4S) (12.6, 16.8) 60A с балансно зареждане</h3>
        <div class="d-inline-block">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
            <span class="grey">15лв. на брой с ДДС</span>
        </div>
        <br />  
        <br />  
        <div class="description">
            Платки BMS PCB за батерии тип 18650, защита от преразряд, защита от презаряд, късо съединение, ограничение на изходен и заряден ток.
            <br />
            чип за разпознаване(засичане) на прекъсната връзка
            <br />
            и балансно (балансирано) поклетково зареждане.
            <br />
            5S (3S, 4S) BMS 60A (12.6V, 16.8V и 21V)
            <br />
            СХЕМА НА СВЪРЗВАНЕ:
            Виж снимка след описанието
            <div class="technical-parameters">
                5S BMS (Battery management system) 60A 21V защитна платка с балансно зареждане на сериите.
                <br />
                <br />
                СПЕЦИФИКАЦИЯ:
                <br />
                Защита от презаряд на клетка: 4.21-4.29V
                <br />
                Възстановяване (презаряд): 4.14-4.24V
                <br />
                Overcharge protect delay: 1.5-2.5s
                <br />
                Защита от преразряд на клетка: 2.72-2.88V
                <br />
                Възстановяване (преразряд): 2.9-3.1V
                <br />
                Защитен ток на заряд / разряд: 100A
                <br />
                Over-discharge protect delay: 0.5-1.5s
                <br />
                Интерфейс за следене и контол на температурата
                <br />
                Със защита от разкачване / прекъсване на връзката
                <br />
                Защита от късо съединение
                <br />
                Сработване на защита от късо съединение: 100-600 uS
                <br />
                Възстановяване от късо съединение (Shortage protect recover mode) : Разкачване на товара / Off load release
                <br />
                Контактен Разряден ток: 80A
                <br />
                Изходен разряден ток: 60A (ако няма добро охлаждане е добре да се намали консумацията на ток)
                <br />
                Заряден ток: 60A
                <br />
                Балансен ток: 60мA
                <br />
                Точност на баланса: 4.14-4.24V
                <br />
                Размер: 6.1x4.2cm

            </div>
            <div>
                Система за управление на батерии, която може да се настрои само с окъсяването на едно краче, за 3S, 4S, както и 5S BMS (Battery management system) 60A 21V защитна платка с балансно зареждане на сериите.
                <br />
                Платката по подразбиране е 5S за 5 серии 21V (18V). На снимките е указано кои крачета се окъсяват, за да се настрои платката съответно за 4S или 3S серии. Става за конфигурации 3s, 4s, 5s в зависимост от начина на свързване (по подразбиране е 5S).
                <br />
                Платката използва 15 МОС транзистора за висока мощност и със свръх ниско съпротивление (8 за разряд и 7 за заряд). При свързване и режим тип "same port" (един порт) зарядният и разрядният ток е 60А, а при свързване и режим тип "different port" (различен порт) зарядният ток е 60А, а разрядният ток е 80А.
                <br />
                Може да се използва за LMO, Ternary lithium battery, LCO（3.7V）пакети батерии и други.
                <br />
                За всякакви приложения, включително алумулаторни: винтоверт, електричестка отвертка, ъглошлайф, флекс, прахосмукачка, резачка, трион, зеге, и т.н.
                <br />
                За клетки с номинално напрежение 3.6V, 3.7V (2.5 – 4.2V) Литиеви батерии (включително 18650, 26650, литието полимерни батерии, Литиево йонни батерии, li-ion, lion, li ion, Li-Po, Lipo, Li Po)
                <br />
                Следвайте точно указаните изходи за напреженията:  0V, 4.2V, 8.4V, 12.6V, 16.8V, 21V и не окъсявайте!
                <br />
                Виж схема на свързване на снимките по-долу
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-md-5">
                    <img class="descriptive-image" src="~/images/BMS/5S-BMS/BMS-5S-2.JPG" />
                </div>
                <div class="col-md-5">
                    <img class="descriptive-image" src="~/images/BMS/5S-BMS/BMS-5S-3.jpg" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-10">
                    <img class="descriptive-image" src="~/images/BMS/5S-BMS/BMS-5S-4.jpg" />
                </div>

            </div>


            <div>
                Забележка 1: За нормално ползване на винтоверт или друг подобен уред, трябва да се ползват литиево-йонни елементи 18650 с пиков ток на клетката 20 - 30А (за батерии с общо 5 елемента) или 10 - 15А (за батерии с 10 елемента) – при 5S (18-21V) обща батерия. Слабо разрядни елементи за фенерчета или от лаптоп почти не вършат работа за такива приложения!
                <br />
                Забележка 2: Докато батерията се зарежда, съпротивленията греят защото платката балансира; Ако греенето продължава дослта време след спирането на заряда, проверете дали кабелите са свързани правилно или няма повреден елемент в батерията.
                <br />
                Забележка 3:  Когато се прави батерия от серии, хубаво е отделните елементи да са на еднакакъв волтаж (еднакво заредени / разредени). Ако не са – заредете ги отделно и тогава ги използвайте в серии. За проверка на състоянието на батерията – ако напрежението на дадена / дадени серии спада по-бързо, то в тези серии има слаба / повредена батерия.
                <br />
                Не е хубаво да се смесват стари или слаби, или различни модели батерии заедно! Състоянието на сглобената батерия е относително равно на състоянието на най-слабия елемент в нея!
                Когато се използва четков мотор, по желание, можете да свържете неполярен кондензатор (за над 25V, капацитет 10uF-100uF) към + и – на мотора, за да се предотврати reverse spike от мотора. Break the MOS tube
            </div>

        </div>

    </div>