
@{
    ViewData["Title"] = "Bms8S20S400";
}

    <div class="container product-container">        
        <img src="~/images/BMS/8-20С-400А BMS/8-20SBMS-400A.JPG" />
        <h3>Универсален BMS от 8S до 20S, 400A пик, програмируем с Bluetooth </h3>
        <div class="d-inline-block">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
            <span class="grey">330лв. на брой с ДДС</span>
        </div>
        <br />
        <br />
        <div class="description">
            <br />
            Универсален BMS от 8S до 20S, 400A пик, програмируем с Bluetooth, за Li-Po, Li-Ion, LiFePO4, LTO батерии
            <br />
            <strong>Цени:</strong>
            - 8-20S BMS 400A без дисплей – 330 лв
            - Дисплей – 70 лв
            <br />
            <br />
            BMS-ът е универсален – може да бъде свързана батерия от 8S до 20S. Следвайте съответното окабеляване по снимките!
            <br />
            защита от преразряд, презаряд, късо съединение, ограничение на изходния ток, и балансно(балансирано) поклетково зареждане
            <br />
            <strong>СХЕМА НА СВЪРЗВАНЕ:</strong>
            Виж снимки след описанието
            <br />
            <strong>Инструкции:</strong>
            Връзка за хол може да бъде запоена на гърба на дисплея (ако e поръчан дисплей)
            <br />
            Щракнете върху Измерване на скоростта на Hall
            <br />
            След свързването трябва да свържете настройките на Bluetooth параметъра, за да промените диаметъра на гумата, за да се калибрира скоростта.
            <br />
            Зaхранване на BMS-a, инструкци:
            <br />
            На защитната платка първо трябва да свърже синия силиконов проводник B- към отрицателната линия на батерията.
            <br />
            След това свържете балансния кабел, не забравяйте да следвате съответната диаграма на нивото на батерията, за да се свържете. След като балансния кабел е свързан, използвайте мултицета и измерете последователността на волтовете дали излизат правилно.
            <br />
            След като всички проводници са свързани правилно, червения кабел и черния кабел на четворното гнездо се свързват с напрежение 3-5V (или от допълнителна батерия 1S или от някоя от сериите на вече направената батерия, а защитната платка може да се включи след 1-2сек. За включване се използва незадържащ бутон, като за включване и изключване трябва да се задържи бутона до чуване на звуков сигнал.
            <br />
            Активирането на БМС-а може да стане и с включване на зарядното.
            <br />
            Червено – положителен полюс (+)
            <br />
            Черно – отрицателен полюс (-)
            <br />
            <div class="technical-parameters">
                Напълно програмируем през Bluetooth
                <br />
                Пиков ток на разряд – до 400А
                <br />
                Ток на зареждане: до 50A
                <br />
                Балансов ток: 100мA
                <br />
                Порт за зареждане и разреждане
                <br />
                Размер: дължина 14см. ширина 7см. височина 1.7см
                <br />
                Единично напрежение в клетката: обхват на откриване 1V-4.6V, точност по-малка от 5Mv
                <br />
                Преразряд и презраяд: защитена
                <br />
                Защита от късо съединение: може да се настрои защитен ток на късо съединение
                <br />
                Bluetooth връзка: за Android и IOS
                <br />
                Приложима батерия:
                <br />
                Версия от 8S до 20S:
                <br />
                8S до 20S версия: 8S до 20S Li-ion батерия; 8S до 20S Lifepo4 батерия; LTO батерия от 8S до 20S
                <br />
                Coulomb counter: точно изчисление възоснова на текущия спрямо времето
                <br />
                Оставащият капацитет на батерията, обхватът на грешките е по-малък от 5%
                <br />
                Консумирана мощност: 3мА , 1.5мA по време на готовност
                <br />
                Температурен датчик – 2бр. (Ако не са вкючени показва - 30°)
                <br />
                Размер на дисплея: 93мм. х 70мм. х 23мм.
                <br />
                Захранване на дисплея – от 24V-150V.
                <br />
            </div>
            <br />
            <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>
            <br />
            <br />
            <div class="row">
                <div class="col-md-5">
                    <img src="~/images/BMS/8-20С-400А BMS/8-20SBMS-400A-6.JPG" />
                </div>
                <div class="col-md-5">
                    <img src="~/images/BMS/8-20С-400А BMS/8-20SBMS-400A-7.JPG" />
                </div>
                <div class="col-md-5">
                    <img src="~/images/BMS/8-20С-400А BMS/8-20SBMS-400A-8.JPG" />
                </div>
                <div class="col-md-5">
                    <img src="~/images/BMS/8-20С-400А BMS/8-20SBMS-400A-9.JPG" />
                </div>
                <div class="col-md-5">
                    <img src="~/images/BMS/8-20С-400А BMS/8-20SBMS-400A.JPG" />
                </div>
                <div class="col-md-5">
                    <img src="~/images/BMS/8-20С-400А BMS/8-20SBMS-400A-2.JPG" />
                </div>
                <div class="col-md-5">
                    <img src="~/images/BMS/8-20С-400А BMS/8-20SBMS-400A-3.JPG" />
                </div>
                <div class="col-md-5">
                    <img src="~/images/BMS/8-20С-400А BMS/8-20SBMS-400A-5.JPG" />
                </div>
            </div>

            <br />
            <br />
            <div>
                Препоръка: Когато се прави батерия 8 или 20 серии, хубаво е отделните елементи да са на еднакакъв волтаж (еднакво заредени / разредени).
                <br />
                Ако не са – заредете ги отделно и тогава ги използвайте в серии.
                <br />
                За проверка на състоянието на батерията – ако напрежението на дадена / дадени серии спада по-бързо, то в тези серии има слаба / повредена батерия.
                <br />
                Не е хубаво да се смесват стари или слаби, или различни модели батерии заедно!
                <br />
                Състоянието на сглобената батерия е относително равно на състоянието на най-слабия елемент в нея!
            </div>
        </div>
    </div>



