
@{
    ViewData["Title"] = "BmsAll";
}

    <div class="container body-content">
        <h2>Battery Management System-BMS</h2>
        <div class="card-deck ">
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Bms" asp-action="Bms1S">
                    <div class="card-body" id="bms1S-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">BMS - 1S</small>
                    </div>
                </a>
            </div>
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Bms" asp-action="Bms2S">
                    <div class="card-body" id="bms2S-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">2S BMS 8.4V 20A, защитна платка с балансно зареждане</small>
                    </div>
                </a>
            </div>

            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Bms" asp-action="Bms3S">
                    <div class="card-body" id="bms3S-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">3S BMS 12.6V 40A защитна палтка с балансно зареждане</small>
                    </div>
                </a>
            </div>
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Bms" asp-action="Bms4S">
                    <div class="card-body" id="bms4S-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">4S BMS 16.8V 40A</small>
                    </div>
                </a>
            </div>
            <h3></h3>
        </div>
        <div class="card-deck ">
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Bms" asp-action="Bms5S">
                    <div class="card-body" id="bms5S-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">5S BMS 21V (3S и 4S) (12.6, 16.8) 60A защитна палтка с балансно зареждане</small>
                    </div>
                </a>
            </div>
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Bms" asp-action="Bms7S">
                    <div class="card-body" id="bms7S-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">7S BMS 45A (24V / 29.4V) Водоизолирана балансна платка</small>
                    </div>
                </a>
            </div>
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Bms" asp-action="Bms10S">
                    <div class="card-body" id="bms10S-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">10S BMS 36V(42V) 35A, защитна платка с балансно зареждане</small>
                    </div>
                </a>
            </div>
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Bms" asp-action="Bms10S15A">
                    <div class="card-body" id="bms10S-15А-image ">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">10S BMS 36V(42V) 15A, защитна платка с балансно зареждане</small>
                    </div>
                </a>
            </div>
        </div>
        <div class="card-deck ">
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Bms" asp-action="Bms10Sto16S">
                    <div class="card-body" id="Bms10Sto16S-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">BMS 10S, 13S, 14S, 16S, 20S Водоизолирани балансни платки</small>
                    </div>
                </a>
            </div>
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Bms" asp-action="Bms13S">
                    <div class="card-body" id="Bms13S-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">13S BMS 54.6V 35A, защитна платка с балансно зареждане</small>
                    </div>
                </a>
            </div>
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Bms" asp-action="Bms20S">
                    <div class="card-body" id="Bms20S-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">20S BMS 84V 90A, защитна платка с балансно зареждане</small>
                    </div>
                </a>
            </div>
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Bms" asp-action="Bms300А">
                    <div class="card-body" id="bms300А-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">BMS 2S-16S 300A Универсалена защитна палтка с балансно зареждане</small>
                    </div>
                </a>

            </div>
        </div>
        <div class="card-deck ">
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Bms" asp-action="Bms8S20S400">
                    <div class="card-body" id="bms8S20S400A-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Универсален BMS от 8S до 20S, 400A пик, програмируем с Bluetooth</small>
                    </div>
                </a>
            </div>
            <div class="card card-useless">
               
            </div>
            <div class="card card-useless">
                
            </div>
            <div class="card card-useless">
                
            </div>
        </div>
    </div>


