
@{
    ViewData["Title"] = "AWGCable";
}

    <div class="container product-container">
        <img src="~/images/AWG 12 14 силиконови кабели/AWGCables-1.jpg" />
        <h3>Гъвкави силиконови многожилни кабели AWG, до 200°C</h3>
        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <div class="description">
            <br />
            Висококачествени меки гъвкави многожилни СИЛИКОНОВИ кабели
            <br />
            AWG 8, AWG 10, AWG 12 и AWG 14, AWG 18 червени и черни, температурна устойчивост дo 200°C !!!
            <br />
            Кабелите са много високо качество. В снимките са приложени детаилни характеристики.
            <br />
            Кабелите са много гъвкави и лесно се работи с тях. Имат много малък радиус на завой.
            <br />
            <strong>Цени:</strong>
            <br />
            8 AWG (до 190А)– 15 лв на 1 м.;
            <br />
            10 AWG (до 140А)– 10лв на 1 м.;
            <br />
            12 AWG (до 88А) – 7лв на 1 м.;
            <br />
            14 AWG (до 55А)– 5 лв на 1 м.;
            <br />
            16 AWG (до 35А)– 3.50 лв на 1 м.;
            <br />
            18 AWG (до 22А) – 2.80 лв на 1 м.;
            <br />
            22 AWG (до 8.7А) – 2.50 лв на 1 м.;
            <br />
            <br />
        </div>
        <div class="technical-parameters">
            <strong>Технически характеристики:</strong>
            <br />
            <br />
            <strong>Силиконов мек високотемпературен кабел 10AWG:</strong>
            <br />
            Температура: от -65 градуса до +200 градуса
            <br />
            Цвят: черен, червен
            <br />
            Диаметър на един проводник: 0.08 мм
            <br />
            Брой жила: 1050 жила
            <br />
            Външен диаметър: 5.5 мм
            <br />

            <strong>Силиконов мек високотемпературен кабел 12AWG:</strong>
            <br />
            Температура: -65°C до +200°C
            <br />
            Цветове: черен, червен
            <br />
            Диаметър на 1 жило: 0.08mm
            <br />
            Брой жила: 680 жила
            <br />
            Външен диаметър: 4.5mm
            <br />
            <br />
            <strong>Силиконов мек високотемпературен кабел 14AWG:</strong>
            <br />
            Температура: -65°C до +200°C
            <br />
            Цветове: черен, червен
            <br />
            Диаметър на 1 жило: 0.08mm
            <br />
            Брой жила: 400 жила
            <br />
            Външен диаметър: 3.5mm
            <br />
            <br />
            <strong> Силиконов мек високотемпературен кабел 18AWG:</strong>
            <br />
            Температура: от -65 градуса до +200 градуса
            <br />
            Цвят: черен, червен
            <br />
            Диаметър на един проводник: 0,08 мм
            <br />
            Брой жила: 150 жила
            <br />
            Външен диаметър: 2.3 мм
            <br />
        </div>
        <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>
        <br />
        <br />
        <div class="row">
            <div class="col-md-10">
                <img class="descriptive-image" src="~/images/AWG 12 14 силиконови кабели/AWG-Table.jpg" />
            </div>
        </div>
    </div>
