
@{
    ViewData["Title"] = "AWGCable";
}

    <div class="container product-container">
        <img src="~/images/AWG 12 14 силиконови кабели/AWGCables-1.jpg" />
        <h3>Гъвкави силиконови многожилни кабели AWG, до 200°C</h3>

        <div class="description">
            <br />
            Висококачествени меки гъвкави многожилни СИЛИКОНОВИ кабели AWG 8, AWG 10, AWG 12,
            <br />
            AWG 14 и AWG 18, червени и черни, температурна устойчивост дo 200°C !!!
            <br />
            Кабелите са много високо качество. В снимките са приложени детаилни характеристики.
            <br />
            Кабелите са много гъвкави и лесно се работи с тях. Имат много малък радиус на завой.
        </div>
        <div class="technical-parameters">
            <strong>Технически характеристики:</strong>
            <br />
            <br />
            <strong>За 12AWG:</strong>
            <br />
            Температура: -65°C до +200°C
            <br />
            Цветове: черен, червен
            <br />
            Диаметър на 1 жило: 0.08mm
            <br />
            Брой жила: 680 жила
            <br />
            Външен диаметър: 4.5mm
            <br />
            <br />
            <strong>За 14AWG:</strong>
            <br />
            Температура: -65°C до +200°C
            <br />
            Цветове: черен, червен
            <br />
            Диаметър на 1 жило: 0.08mm
            <br />
            Брой жила: 400 жила
            <br />
            Външен диаметър: 3.5mm
        </div>     
        <div class="row">
            <div class="col-md-10">
                <img class="descriptive-image" src="~/images/AWG 12 14 силиконови кабели/AWG parameters.JPG" />
            </div>           
        </div>
    </div>
