
@{
    ViewData["Title"] = "BalanceCable";
}

    <div class="container product-container">
        <img src="~/images/Balance Cables/Balance Cables2.bmp" />        
        <h3>Балансни кабели с мъжки и женски конектор 2S 3S 4S 5S 6S 7S</h3>

        <div class="description">
            <br />
            Нови балансни кабели, с мъжки и женски конектор.
            <br />
            Дължина на кабелите - 150 мм, различни цветове на кабелите за различаване.
            <br />
            Конекторите са най-разпространеният стандарт за свързване към балансни зарядно от рода на Imax B3, Imax B6, балансни платки и други.              
        </div>       
    </div>

