
@{
    ViewData["Title"] = "BarcodeScenner";
}

    <div class="container product-container">
        <img class="product-main-image" src="~/images/NETUM barcode scanners/NetumW2-1.jpg" />       
        <h3>NETUM - 1D 2D QR автоматичен Комбиниран безжичен Баркод четец </h3>
        <div class="d-inline-block">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
            <span class="grey">180лв.без стойка/198лв. със стойка на брой с ДДС</span>
        </div>
        <br />
        <br />
        <div class="description">
            Модел Netum W2 безжичен баркод четец, със сензор от последно поколение.
            <br />
            Работим директно с производителя, предлагаме 6 месеца гаранция, резервни части при необходимост, както и смяна на батерията.
            <br />
            Четците имат и ръководство за подробно програмиране и настройка (через сканиране на определени баркодове), което може да се извърши от клиента бързо и лесно.            
            <br />
            <br />
            <strong>ГЛАВНИ ХАРАКТЕРИСТИКИ НА ПРОДУКТА:</strong>
            <br />
            1D, 2D, QR и много други видове кодове, описани по-долу – скенерите автоматично ги разчитат и работят във всички режими едновременно! Могат да сканират от хартия, етикети и други повърхности, както и от екрани на телефони, компютри и т.н.
            <br />
            БЕЗЖИЧЕН Wireless WiFi 2.4 GHz режим на работа, като приемникът е много компактен с USB интерфейс, който само трябва да бъде включен в компютъра. Има и USB кабел за зареждане и за работа в жичен режим по желание. Разстоянието за работа в безжичен режим е до 50 метра при идеални условия и устройството може да съхранява до около 2000 броя Code 128 в безжичен режим.
            <br />
            ENTER - баркод четецът сам потвърждава сканирането и не е необходимо да се натиска бутонът "Enter" след всяко сканиране. Това е особено удобно при сканиране от разстояние и услеснява много работата с него!
            <br />
            PLUG AND PLAY - Четците са Plug and Play – т.е. единственото необходимо нещо е да включите кабела в компютъра и устройството само намира драйвъра си от интернет. Работи с Windows (вкл. 7, 8 и 10), MAC OS X, Linux.
            <br />
            АВТОМАТИЧЕН РЕЖИМ - Баркод четците работят и в автоматичен режим – имат сензор за движение и когато се движат или обект се придвижи пред тях, или са на стойка и стоката се придвижи пред тях, те сработват бързо сами и автоматично сканират! По подразбиране тази функция е деактивирана при безжичния четец в безжичен режим и може да се активира бързо и лесно, като се сканира съответният код от книгата с инструкции.
            <br />
            УДАРОУСТОЙЧИВИ 1.5 m drop – баркод четците са направени от ABS+PC материал и са удароустойчиви.
            <br />
            2000 мач (mah) литиево - йонна акумулаторна батерия – тествали сме го при средно натоварване на обект и издържа около месец с 1 зареждане! Устройството издържа до 48 часа на продължително сканиране. Батерията може да издържи години работа, единствено не трябва да се остава да престоява изтощена! Когато батерията е изтощена, устойството издава 5 последователни звукови сигнала. Докато се зарежда светодиодът свети оранжево, когато е заредено напълно – свети зелено.
            <br />
            По подразбиране четецът влиза в спящ режим след 1 мин от последното натискане на бутона и се активира отново, когато се натисне бутона. Този режим може да се промени на постоянно активен четец със сканиране на съответният програмиращ баркод от книжката с инструкции (sleep time).
            <br />
            Баркод четецът отговаря на сегашните и бъдещи изисквания за използване в аптеки с верификация, магазини, складове, куриери, болници, супермаркети и други търговски обекти!
            <div class="technical-parameters">
                ТЕХНИЧЕСКИ ХАРАКТЕРИСТИКИ:
                <br />
                Тип на четеца: ръчен, БЕЗЖИЧНИ WiFi Wireless, с USB кабел за работа и зареждане;
                <br />
                Светодиоден източник: 5600K White LED;
                <br />
                Сензор: 1 MP (1280 x 800);
                <br />
                Светлина на сензора: червен светодиод (лазер) 625 ± 10nm (безопасна видима светлина);
                <br />
                Обхват: до 50 м;
                <br />
                Памет: до около 2000 броя Code 128 в безжичен режим
                <br />
                Разчитане на кодове и кодиране: Комбиниран 1D, 2D, QR, DataMatrix (ECC 200), QR Code, PDF417, UPC-A, UPC-E, EAN- 8, EAN-13,Code 39, Code 93, Code 32, Code39(ASCII), industrial 2 of 5, Interleave 2 of 5, Matrix 2 of 5, NW7, Code 128, UCC/EAN128, USD-8, MSI/Plessey, UK/Plessey, UCC/EAN128, Coda Bar, GS1 Databar; 2D – Airline 2 of 5, Aztec Code, Data Matrix, Grid Matrix Code, GS1 Composite Codes, Maxi Code, PDF417, QR Code; Codabar,Codablock A, Codablock F, Code 11, Code32; Code 39, Code 93, Code 128, EAN- 13 & EAN- 8, Full ASCII Code39, GS1 Data Bar, Industrial 2 of 5, Interleaved 2 of 5, ISBN/ISSN, Matrix 2 of 5, MSI/ Plessey, UPC- A/ UPC- E, GS1 Datamatrix, GS1 Data matrix
                <br />
                Разделителна способност, прецизност (резолюция): ≥ 4 mil за 1D и ≥ 7 mil за 2D;
                <br />
                <br />
                <strong>Дълбочина на полето за сканиране:</strong>
                <br />
                Code 128 10mil 18 bytes 60-200mm;
                <br />
                Code 128 18 bytes 60-200mm;
                <br />
                QR 10mil 160 bytes 40-120mm;
                <br />
                DM 15mil 100 bytes 50-140mm;
                <br />
                QR 18 bytes 50-250mm;
                <br />
                Code 39 -5 mil 60 mm – 120 mm
                <br />
                UPCA -13 mil 35 mm – 310 mm
                <br />
                Контраст на символите: 30%
                <br />
                CMOS Технология, лесно сканиране;
                <br />
                Ъгъл на сканиране: 54° (H) x 33° (V);
                <br />
                Скорост на ъгъла на сканиране (наклон) 60° и стъпка 60°
                <br />
                Интерфейс: USB HID Keyboard; USB Virtual COM Port;
                <br />
                Работено напрежение: 5 VDC +/-10%, 250 mA +/-5%;
                <br />
                Размери: 65 х 165 х 95 мм;
                <br />
                Тегло: 170 г.;
                <br />
                Работна температура: 0° до +50° C
                <br />
                Температура на съхранение: -40° до +70° C
                <br />
                Влажност: 5% - 95% без конденз;
                <br />
                Сертификации: FC, CE, Rohs;
                <br />
                Материал: Екологичен, ABS;
                <br />
                ABS+PC Material: прахоустойчиви, удароустойчиви и EMI екранирани
                <br />
                Поддръжка на няколко езика, включително: английски UK, испански, португалски, френски, немски, италиански, Турски Q, Унгарски, Чешки
                <br />
                <br />
                <strong>Включени аксесоари:</strong>
                <br />
                - Безжичен Баркод четец;
                <br />
                - USB кабел;
                <br />
                - USB компактен WiFi приемник;
                <br />
                - Бързо ръководство;
                <br />
                - Инструкция за програмиране и пренастройване на четеца;
            </div>

            <div class="row">
                <div class="col-md-5">
                    <img class="descriptive-image" src="~/images/NETUM barcode scanners/NetumW2-2.jpg" />
                </div>
                <div class="col-md-5">
                    <img class="descriptive-image" src="~/images/NETUM barcode scanners/NetumW2-3.jpg" />
                </div>
                <div class="col-md-5">
                    <img class="descriptive-image" src="~/images/NETUM barcode scanners/NetumW2-4.jpg" />
                </div>
            </div>

        </div>

    </div>


