
@{
    ViewData["Title"] = "BatteryBag";
}

    <div class="container product-container">
        <img class="product-main-image" src="~/images/BatteryBags/BatteryBoxAndBatteryBag.jpg" />
        <h3>Кутия за батерия за велосипед (колело) до 65 клетки 24V 36V 48V 52V </h3>
        <h3>Tриъгълна непромокаема чанта за батерия на велосипед (колело)  </h3>
        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <div class="description">
            <br />            
            <strong>Кутия за батерия за велосипед до 65 клетки 24V 36V 48V 52V battery box</strong>
            <br />
            Кутия за батерия за електрически велосипед. Кутията побира до 65 елемента (клетки) тип 18650 батерии.
            <br />
            В кутията може да се побере батерия с максимални параметри до:
            <br />
            - 12V 73.5Ah;
            <br />
            - 24V 31.5Ah;
            <br />
            - 36V 21Ah;
            <br />
            - 48V 17.5Ah;
            <br />
            - 52V 14Ah;
            <br />
            - 60V 14Ah;
            <br />
            - 72V 10.5Ah;
            <div class="technical-parameters">
                <strong>Комплектът на кутията включва:</strong>
                <br />
                - Външен корпус;
                <br />
                - Комплект брекети (скоби) държачи за елементите.
                <br />
                - Комплект никелови пластини с форма по разположението на брекетите за точково заваряване на елементите;
                <br />
                - USB порт за зареждане на телефон и др.;
                <br />
                - Бутон за включване / изключване на батерията;
                <br />
                - Ключ за заключване / отключване на батерията към рамката;
                <br />
                - Монтажна планка за закрепване към мястото на бутилката за вода на рамката;
                <br />
                - Заряден конектор на батерията;
                <br />
                - Слот за поставяне на BMS платка в батерията;
                <br />
                - Вижте снимките за по-детайлна представа.
                <br />
                Основното й приложение е за монтаж на електрически велосипед. Закрепването на планката става с двата болта за закрепване на бутилката за вода.
            </div>
            <div class="technical-parameters">

                <strong>Голяма триъгълна непромокаема чанта за велосипед, чанта за батерия</strong>
                <br />
                Размери 390х340х260х80 mm.
                <br />
                Затваря се с цип и има страничен външен джоб.
                <br />
                Има и отвор за прокарване на кабели вътре.
                <br />
                Чантата се побира между двете рамки на велосипеда и се закрепя с няколко регулируеми здрави велкро лепенки.
                <br />
                Материята от която е изработена е много здрава и водонепропусклива.
                <br />
                Чантата осигурява много място за багаж.
                <br />
                Основното й приложение е за поставяне вътре на батерия за електрически велосипед както и контролер.
                <br />
                В чантата може да се побере до 36V 42 Aч батерия или 48V 30Ач батерия, а ако батерията е с по-нисък волтаж - с още по-голям капацитет!
                <br />
                <br />
            </div>

            <div class="row">
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/BatteryBags/BatteryBox1.jpg" />
                </div>
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/BatteryBags/BatteryBox2.jpg" />
                </div>
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/BatteryBags/BatteryBox3.jpg" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/BatteryBags/BatteryBox4.jpg" />
                </div>
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/BatteryBags/BatteryBox5.jpg" />
                </div>
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/BatteryBags/BatteryBag2.JPG" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/BatteryBags/BatteryBag3.jpg" />
                </div>
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/BatteryBags/BatteryBag4.jpg" />
                </div>
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/BatteryBags/BatteryBag5.jpg" />
                </div>
            </div>

        </div>

    </div>

