
@{
    ViewData["Title"] = "BatterySocket";
}

<div class="container product-container">
    <img src="~/images/BatteryAccessories/BatterySocket.jpg" />
    <h3>Легла за батерии</h3>
    <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
    <div class="description">
        <br />
        Легла за акумулаторни Lithium-ion презареждаеми батерии (клетки), вид / 18650
        <br />
        <strong>Цени: </strong>
        <br />
        За 1 клетка – 2.50 лв
        <br />
        За 4 клетки (последователно свързани) – 5 лв
        <br />
        <br />
        <strong>Описание:</strong>
        <br />
        Държач на батерия с едно или повече отделения или камери за държане на батерия 18650.
        <br />
        Калъф за държач на батерията с проводници за запояване или свързване.
        <br />
        Побира до 4 батерии със стандартен размер 18650 една до друга, за да образува компактна презареждаща се батерия с 3,7 V клетки.
        <br />
        Висока производителност и супер изящна изработка.
        <br />
        Малки размери, лесни за пренасяне.
        <br />
        Материал: пластмаса
        <br />
        Цвят: черен
        <br />
        Размер: прибл. 77x 81 x 21mm
        <br />
        <br />
        <p><a href="https://guideia.olx.bg/" target="_blank">нашите обяви в OLX</a></p>
    </div>
    <div class="row">
        <div class="col-md-4">
            <img class="descriptive-image" src="~/images/BatteryAccessories/BatterySocket1.jpg" />
        </div>
        <div class="col-md-4">
            <img class="descriptive-image" src="~/images/BatteryAccessories/BatterySocket2.jpg" />
        </div>
        <div class="col-md-4">
            <img class="descriptive-image" src="~/images/BatteryAccessories/BatterySocket3.jpg" />
        </div>
    </div>

</div>

