
@{
    ViewData["Title"] = "BatteryIndicator";
}
    <div class="container product-container">
        <img src="~/images/BatteryIndicators/BatteryIndicatorForPage.jpg" />
        <div class="d-inline-block">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>            
        </div>
        <br />
        <br />
        <br />  
        <div class="description">
            <strong>Индикатори за зареденост на батерия от 2S до 20S варианти (8.4 - 84V).
            <br /> 
            8лв. на брой с ДДС</strong>           
            <br />
            <br />
            <div class="col-md-5">
                <img class="descriptive-image" src="~/images/BatteryIndicators/2S-20S индикация/2S-20SIndicatoras-1.JPG" />
            </div>
            Разполагаме с индикатори за от 2S до 20S батерия (от 7.4 до 84V)
            <br />
            Моля при поръчка кажете за колко волтова батерия го искате.
            <br />
            Има 5 светодиода (5 степени на зареденост).
            <br />
            Индикаторът е доста малък и компактен, може да се постави навсякъде.
            <br />
            Работи с литиево-йонни и литиево полимерни батерии.
            <br />
            Натиска се бутона и индикаторът показва моментното състояние на батерията.
            <br />
            Голямото му предимство е, че когато бутонът не е натиснат няма консумация от батерията.
            <br />

            <div class="technical-parameters">
                Материал: ABS + electronic components
                <br />
                Размери: около 2.7*62*15.8 мм
                <br />
                Консумация: 0А при неактивен режим, до 30мА при натиснат бутон.
                <br />
            </div>
            <div class="description">
                <strong>Универсален програмируем индикатор за зареденост на батерия 8V - 65V. 
                <br /> 
                18лв. на брой с ДДС</strong>
                <br />
                <br />
                <div class="col-md-5">
                    <img class="descriptive-image" src="~/images/BatteryIndicators/8-65V Програмируема индикация/InidiaciaProgram65V.JPG" />
                </div>
                <br />
                <br />
                Нов програмируем индикатор за ниво на батерия с обхват 8V – 65V.
                <br />
                Има 8 светодиода (8 степени на зареденост).
                <br />
                Индикаторът е доста малък и компактен, може да се постави навсякъде.
                <br />
                Работи със всякакъв тип батерия – литиево-йонна, литиево полимерна, Nimh, NiCd, Pb оловнен акумулатор, гелов акумулатор, LIFePO4 и всякакъв друг източник на напрежение в обхвата 8-65V.
                <br />
                Може да се закрепи в отвор с диаметър 28.5 мм с дълбочина 7 мм. Има щипки, които ще я държат да не излезе от отвора.
                <br />
                <br />
                ПРОГРАМИРА СЕ ПО СЛЕДНИЯ НАЧИН:
                <br />
                1. Нужен ви е регулируем източник на напрежение.
                <br />
                2. Подавате минималното желано напрежение  напрежение чрез източника. Това напрежение ще се е желаното напрежение за 0% (разредена батерия);
                <br />
                3. Натискате бутона на индикатора и след това го свързвате към източника на напрежение. Ще започнат да мигат 2-те червени лампички. Това означава, че е влязъл в режим на програмиране;
                <br />
                4. Отпуснете бутона. Ще започне да мига само последният червен светодиод. Той е за показанието за минимален волтаж. Натиснете веднъж бутона и така индикаторът ще запамети това показание като най-ниският волтаж (0%). Ще започне да мига синьо;
                <br />
                5. Подайте чрез източника максималното желано напрежение. Натиснете веднъж бутона и утредът ще запамети 100% показанието. Ще светнат всички лампички.
                <br />
                6. Откачете индикатора от източника. Вече е програмиран. Той сам ще раздели скалата от 0% до 100% по зададените от Вас волтажи.
                <br />
                7. Ако нямате необходимите уреди, можем ние да програмираме индикаторът по зададени от Вас стойности (в диапазона 8-65V);
                <br />
                <div class="technical-parameters">
                    Материал: ABS + electronic components
                    <br />
                    Размери: около 31*7 mm / 1.22*0.27 in
                    <br />
                    Температура: от -20°С до 65°С
                </div>
            </div>
            <div class="description">
                <strong>
                    Зумер аларма индикатор за батерия 1S – 8S с дисплей и кутийка
                    <br />
                    8лв. на брой с ДДС
                </strong>
                <br />
                <br />
                <div class="col-md-5">
                    <img class="descriptive-image" src="~/images/BatteryIndicators/Buzzer/Buzzer.JPG" />
                </div>
                <br />
                <br />
                Нови устройства за различни батерии, които комбинират следните функции:
                <br />
                Аларма за ниско напрежение (разреденост), поклетков и общ волтметър.
                <br />
                В устройството може да се включи батерия с от 1 серия (4.2V) до 8 серии (33.6V).
                <br />
                Устройството е известно под няколко наименования: аларма за батерия, зумер, индикация за батерия, бъзер за батерия, пищялка за батерия и т.н.
                <br />
                Вложено е в здрава пластмасова кутийка.
                <br />
                Показва напрежението последователно на екрана за всяка една клетка, като накрая показва и общото напрежение на цялата батерия.
                <br />
                С бутона може да се настрой на какъв волтаж на клетка да се задейства пищящата аларма (много е силна).
                <br />
                Това е много удобно за предупреждение за изтощена батерия за дрон, лодка за захранка, RC количка и др.
                <br />
                <div class="technical-parameters">
                    СПЕЦИФИКАЦИЯ
                    <br />
                    <br />
                    • Входно напрежение: 1-8 клетки (0,5-36 волта)
                    <br />
                    • Типове батерии: LiPo / Li-ion / Li-Mn / Li-Fe
                    <br />
                    • Измервателна точност: ±0.01v
                    <br />
                    • Показване на напрежение на клетка: 0.50v ~ 4.52v
                    <br />
                    • Настройки на алармата (става с бутона): Изключено (Off) или от 2.7v до 3.8v
                    <br />
                    • Размери: 41х26.4х11мм
                    <br />
                    • Схемата се самозахранва от първата клетка
                    <br />
                    • Показва напреженията на всички включени клетки, като показва номера на клетката преди да покаже напрежението
                    <br />
                    • Клетки под 0.5V не ги засича като валидни стойности и не се показват
                    <br />
                    • Алармата се настройва чрез натискане на бутона между зумерите
                    <br />
                </div>
                <br />
                <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>             
            </div>
        </div>
    </div>