
@{
    ViewData["Title"] = "Battery";
}
<div class="container product-container">  
    <h3>Батерии 18650</h3>
    <div class="card-deck ">
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="BatteryType" asp-action="BatteryCell">
                <div class="card-body" id="battery-image">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Клетки батерии 18650</small>
                </div>
            </a>
        </div>
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="BatteryType" asp-action="BatteryPack">
                <div class="card-body" id="charger2SOne">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Пекти забатерии-цели батерии</small>
                </div>
            </a>
        </div>
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="BatteryType" asp-action="BatteryRepair">
                <div class="card-body" id="charger-2bat">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Ремонт акумулаторни батерии</small>
                </div>
            </a>
        </div>

        <div class="card">
            
        </div>
    </div>
</div>
