
@{
    ViewData["Title"] = "Battery";
} 

<div class="container product-container">
    <img src="~/images/BatteryPictures/Battery1.jpg" class="product-main-image" />
    <h3>Li-Ion batteries INR18650</h3>
    <div class="description">

        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>      

        <div class="technical-parameters">
            <strong>Цена - 8лв. с ДДС</strong><br />
            Li-Ion <strong>Самсунг/Samsung INR18650-25R</strong> капацитет 2500mAh волтаж 3.7V (4.2V) - пиков разряд 20A високоразрядни
            за винтоверти, елекро велосипеди, скутери, коли, дронове, RC car коли и хеликоптери, акумулатори, електронни цигари и уреди с много висока моментна консумация.
            <br />
            <br />
            <strong>Цена - 11лв. с ДДС</strong><br />
            Li-Ion <strong>Самсунг/Samsung INR18650-35E</strong> капацитет 3450mAh волтаж3.7(4.2V) - пиков разряд 10A
            <br />
            <br />
            <strong>Цена - 7.50лв. с ДДС</strong><br />
            Li-Ion <strong>Самсунг/Samsung INR18650-29E</strong> капацитет 2900mAh волтаж 3.7V(4.2V) - пиков разряд 8.5A
            <br />
            <br />
            <strong>Цена - 13лв. с ДДС</strong><br />
            Li-Ion <strong>Сони/Sony US18650 VTC6</strong> капацитет 3120mAh волтаж 3.7(4.2V) - пиков разряд 30A високоразрядни
            за винтоверти, елекро велосипеди, скутери, коли, дронове, RC car коли и хеликоптери, акумулатори, електронни цигари и уреди с много висока моментна консумация.
        </div>

        <div class="technical-parameters">

            <br />
            Технически характеристики:
            <br />
            - Без Памет!
            <br />
            - Цикли, след които е запазен 70% от капацитета на батерията - 500 - 1000 (в зависимост от модела. При високо разрядните батерии този спад се наблюдава след около 500 цикъла). Издържливост на INR клетките (живот) – 2000-5000 цикъла и нагоре.
            <br />
        </div>

        <div class="row">
            <div class="col-md-4">
                <img class="descriptive-image" src="~/images/BatteryPictures/BatterySize.JPG" />
            </div>
            <div class="col-md-4">
                <img class="descriptive-image" src="~/images/BatteryPictures/29E.jpg" />
            </div>
            <div class="col-md-4">
                <img class="descriptive-image" src="~/images/BatteryPictures/35E.jpg" />
            </div>
        </div>

    </div>

</div>

