
@{
    ViewData["Title"] = "BicycleControllerAndDisplay";
}

    <div class="card-deck ">
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="BickeControllerAndDisplay" asp-action="BickeController">
                <div class="card-body" id="bicycle-controller-image">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Контролер</small>
                </div>
            </a>
        </div>
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="BickeControllerAndDisplay" asp-action="BickeDisplay">
                <div class="card-body" id="bicycle-display-image">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Дисплей</small>
                </div>
            </a>
        </div>
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="BickeControllerAndDisplay" asp-action="BikeAccessories">
                <div class="card-body" id="bicycle-accessories-image">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Палец газ , ръчка (масур) газ</small>
                </div>
            </a>
        </div>
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="ElektricKitAndPart" asp-action="PassSensor">
                <div class="card-body" id="passSensor-image">
                </div>
                <div class="card-footer">
                    <small class="text-muted">PASS сензор - 8 магнита</small>
                </div>
            </a>
        </div>
    </div>
<div class="card-deck ">
    <div class="card card-useless">
        
    </div>
    <div class="card card-useless">

    </div>
    <div class="card card-useless">

    </div>
    <div class="card card-useless">

    </div>
</div>

