
@{
    ViewData["Title"] = "BraidsForCables";
}

    <div class="container product-container">
        <img src="~/images/BatteryAccessories/BraidsForCables/BraidsForCables-4.JPG" />
        
        <h3>Висококачествени оплетки за кабели Ф8, Ф12, Ф20 мм </h3>
        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <div class="description">

            <br />
            <strong>
                Висококачествени оплетки за кабели Ф8, Ф12, Ф20 мм с разширяващ се диаметър
            </strong>
            <br />
            Цени за 1 метър:
            <br />
            - Диаметър Ф8 мм – 1.80 лв за 1 м; ролка 10м – 15 лв;
            <br />
            - Диаметър Ф12 мм – 2.30 лв за 1 м; ролка 10м – 20 лв;
            <br />
            - Диаметър Ф20 мм – 3.00 лв за 1 м; ролка 10м – 25 лв;
            <br />
            Цени за ролка дължина 10м.:
            <br />
            - Диаметър Ф8 мм – 15 лв;
            <br />
            - Диаметър Ф12 мм – 20 лв;
            <br />
            - Диаметър Ф20 мм – 25 лв;
            <br />
            Предназначение:
            <br />
            защита и затягане на проводника на захранващия кабел;
        </div>
        <div class="description">
            <br />
            <strong>Спецификация:</strong>
            <br />
            Материал: PET
            <br />
            Диаметър: 8, 12, 20мм.
            <br />
            Дължина на 1 ролка: 10 метра
            <br />
            Разширение на оплетката до: 150%
            <br />
            Цвят: черен
            <br />
            Точка на топене: 230 ° С ± 5
            <br />
            Сила на тониране: 100 ± 5 ° C
            <br />
            Степен на пожароизолация: UL94V-2
            <br />
            Температурна издръжливост: -50 ° C ~ +150 ° C
            <br />
        </div>
        <br />
        <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>
        <br />
    </div>
    <div class=" container">
        <div class="row">
            <div class="col-md-5">
                <img src="~/images/BatteryAccessories/BraidsForCables/BraidsForCables-2.JPG" />
            </div>
            <div class="col-md-5">
                <img src="~/images/BatteryAccessories/BraidsForCables/BraidsForCables-3.JPG" />
            </div>
            <div class="col-md-5">
                <img src="~/images/BatteryAccessories/BraidsForCables/BraidsForCables-1.JPG" />
            </div>
        </div>
    </div>

