<div class="container product-container">
    <img src="~/images/brakets/brakets.JPG" />
    <h3>Тройни (3x) скоби брекети за батерии 18650 (3x) </h3>
    <div class="d-inline-block">
        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <span class="grey">0.60лв. на брой (3 клетки)</span>
    </div>
    <div class="description">

        <br />
        Негорими, изолационни, тройни скоби (брекети) държачи за по 3 броя клетки литиево – йонни батерии тип 18650.
        <br />
        Необходими са при правене на пакет от батерии с точково заваряване или запояване, за да осигурят механична здравина на пакета и за по-удобното му изработване.
        <br />
        Не позволяват разместване на клетките, откъсване на заварките или спойките при вибрации, удари и други механични въздействия.
        <br />
        Скобите позволяват между клетките да има малка въздушна междина, което позволява добро охлаждане на пакета от батерии.
        <br />
        Скобите са оразмерени за прокарване на шина за точково заваряване със ширина до 8 мм и са стандартни.
        <br />
        Повечето шини тип 2s, 3S, 4S, 5S, 6S, 7S, 8S, 9S, 10S, 13S, 14S, 16S, 20S и т.н. лягат в предназначеното им гнездо (релса).
        <br />
        Скобите се сглобяват една с друга, като се защипват по предназначените за това каналчета.
        <br />
        Всяка скоба е с 3 гнезда за по една батерия 18650.
        <br />
        Размери:  6 x 2 x 0.8cm / 2.36" x 0.79" x 0.31"
        <br />
        Външният диаметър на отвора на скобите е 20.2 мм, което е стандарт.
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-4">
            <img class="descriptive-image" src="~/images/brakets/Brakets1-1.JPG" />
        </div>
        <div class="col-md-4">
            <img class="descriptive-image" src="~/images/brakets/Skobi.JPG" />
        </div>
        <div class="col-md-4">
            <img class="descriptive-image" src="~/images/brakets/Capture1.JPG" />
        </div>
        <div class="col-md-4">
            <img class="descriptive-image" src="~/images/brakets/brakets2.jpg" />
        </div>
    </div>
</div>
