
@{
    ViewData["Title"] = "Chargers";
}

<div class="container product-container">

    <h3>Зарядни устройства за Li-ion батерии Battery chargers </h3>

    <div class="card-deck ">
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="ChargersTypes" asp-action="Charger2S">
                <div class="card-body" id="charger-2bat">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Charger for 2S batteries</small>
                </div>
            </a>
        </div>

        <div class="card">
            <a class="card-link" asp-area="" asp-controller="ChargersTypes" asp-action="Charger3S">
                <div class="card-body" id="charger-3bat-12V">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Charger for 3S batteries 12V 1A</small>
                </div>
            </a>
        </div>
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="ChargersTypes" asp-action="Charger4S">
                <div class="card-body" id="charger-4bat-16V">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Charger for 4S batteries 16V 1А</small>
                </div>
            </a>
        </div>
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="ChargersTypes" asp-action="Charger5S">
                <div class="card-body" id="charger-5bat-21V">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Charger for 5S batteries 18V 1A</small>
                </div>
            </a>
        </div>

    </div>

    <div class="card-deck ">
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="ChargersTypes" asp-action="Charger7S">
                <div class="card-body" id="charger-7bat-24V">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Charger for 7S batteries 24V 2A</small>
                </div>
            </a>
        </div>

        <div class="card">
            <a class="card-link" asp-area="" asp-controller="ChargersTypes" asp-action="Charger10S">
                <div class="card-body" id="charger-10bat-36V">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Charger for 10S batteries 36V 2A</small>
                </div>
            </a>
        </div>
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="ChargersTypes" asp-action="Charger10S5А">
                <div class="card-body" id="charger-10bat-36V5A">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Charger for 10S batteries 36V 5А</small>
                </div>
            </a>
        </div>
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="ChargersTypes" asp-action="Charger13S">
                <div class="card-body" id="charger-13bat-48V">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Charger for 13 batteries 48V 2А</small>
                </div>
            </a>
        </div>
    </div>
    <div class="card-deck ">
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="ChargersTypes" asp-action="Charger13S4A">
                <div class="card-body" id="charger-13bat-48V4A">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Charger for 13 batteries 48V 4А</small>
                </div>
            </a>
        </div>

        <div class="card">
            <a class="card-link" asp-area="" asp-controller="ChargersTypes" asp-action="Charger14S4A">
                <div class="card-body" id="charger-13bat-48V4A">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Charger for 14S batteries 52V 4А</small>
                </div>
            </a>
        </div>
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="ChargersTypes" asp-action="Charger16S">
                <div class="card-body" id="charger-16bat-60V">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Charger for 16S batteries 60V 2А</small>
                </div>
            </a>
        </div>
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="ChargersTypes" asp-action="Charger20S">
                <div class="card-body" id="charger-20bat-72V2A">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Charger for 20S batteries 72 2.5А</small>
                </div>
            </a>
        </div>
    </div>

    <div class="card-deck ">
        <div class="card">
            <a class="card-link" asp-area="" asp-controller="ChargersTypes" asp-action="Charger20S4A">
                <div class="card-body" id="charger-20bat-728V4A">
                </div>
                <div class="card-footer">
                    <small class="text-muted">Charger for 20S batteries 72V 4А</small>
                </div>
            </a>
        </div>
        <div class="card">

        </div>
        <div class="card">

        </div>
        <div class="card">

        </div>
    </div>
</div>


