
@{
    ViewData["Title"] = "Connectors";
}

    <div class="container product-container">

        <h3>Waterproof Connecotrs</h3>

        <div class="card-deck ">
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Connector" asp-action="WaterproofModel1">
                    <div class="card-body" id="waterproof1-connector-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Вариант 1 диаметър 13 – 13,5 мм</small>
                    </div>
                </a>
            </div>

            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Connector" asp-action="WaterproofModel2">
                    <div class="card-body" id="waterproof2-connector-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Вариант 2 диаметър 16 – 16,5 мм</small>
                    </div>
                </a>
            </div>
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Connector" asp-action="WaterproofModel3">
                    <div class="card-body" id="waterproof3-connector-imag">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Вариант 3 диаметър 20 – 20,5 мм</small>
                    </div>
                </a>
            </div>
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Connector" asp-action="WaterproofModel4">
                    <div class="card-body" id="waterproof4-connector-imag">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Вариант 4 диаметър 20 – 20,5 мм</small>
                    </div>
                </a>
            </div>

        </div>
        <h3>RC Connecotrs</h3>

        <div class="card-deck ">
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Connector" asp-action="XT60Connector">
                    <div class="card-body" id="XT60-connector-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Кoнектор XT60</small>
                    </div>
                </a>
            </div>

            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Connector" asp-action="XT90Connector">
                    <div class="card-body" id="XT90-connector-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Кoнектор XT90</small>
                    </div>
                </a>
            </div>
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Connector" asp-action="TConnector">
                    <div class="card-body" id="t-connector-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">T Конектор</small>
                    </div>
                </a>
            </div>
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Connector" asp-action="BigTamiya">
                    <div class="card-body" id="BigTamiya-connector-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Big Tamiya Конектор</small>
                    </div>
                </a>
            </div>

        </div>
    </div>

