
@{
    ViewData["Title"] = "ElectricBicycleKit";
}


    <div class="container body-content">
        <div class="card-deck ">
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="ElektricKitAndPart" asp-action="FrontKit">
                    <div class="card-body" id="bicycle-front-motor-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Предни електрически мотори</small>
                    </div>
                </a>
            </div>
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="ElektricKitAndPart" asp-action="RearKit">
                    <div class="card-body" id="bicycle-back-motor-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Задни електрически мотори</small>
                    </div>
                </a>
            </div>

            <div class="card">
                <a class="card-link" asp-area="" asp-controller="ElektricKitAndPart" asp-action="MiddleKit">
                    <div class="card-body" id="bicycle-middle-motor-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Средни мотори</small>
                    </div>
                </a>
            </div>
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Product" asp-action="BicycleControllerAndDisplay">
                    <div class="card-body" id="controllersAndDisplays-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Контролери, дисплеи и аксесоари за електрически колела</small>
                    </div>
                </a>
            </div>            
        </div>
        <div class="card-deck ">
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="Product" asp-action="BatteryBag">
                    <div class="card-body" id="batteryBag-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Кутии и чанти за батерии</small>
                    </div>
                </a>
            </div>
            <div class="card">
                <a class="card-link" asp-area="" asp-controller="ElektricKitAndPart" asp-action="PassSensor">
                    <div class="card-body" id="passSensor-image">
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">PASS сензор - 8 магнита</small>
                    </div>
                </a>
            </div>
            <div class="card card-useless">
                
            </div>
            <div class="card card-useless">
                
            </div>
        </div>
    </div>






@*<h3>Китове за ел. колело комплект, предни, задни, Fat bike, 250W – 6000W </h3>
<div class="container product-container">
    <img src="~/images/E-Bike kits/ElectricKit-1.jpg" />
    <br />
    <br />
    <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
    <br />
    <div class="description">
        <strong>
            2000W – 3000W заден кит със синусоидални контролери и LCD контролни дисплеи, с пълен комплект принадлежности
            <br />
            Цена - 550лв. на брой с ДДС
        </strong>
        <br />
        <br />
        - Висококачествен BLDC мотор 40А, наплетен на капла с широчина 1.25“ (или Fat капла за Fat bike китовете 4“ ширина и задно отстояние 180мм), с 2.6мм2 здрави спици; Каплата е 16“ - 29“ – по избор на клиента; за вилки с ширина 135мм;
        <br />
        - KT синусоидален контролер, 48-84V, 40A, с регенерация при спиране;
        <br />
        - KT LCD3 контролен дисплей;
        <br />
        - Ръкохватка за газ, като при мотор (twist throttle)
        <br />
        - Касета със 7 венеца на винт;
        <br />
        - 2 бр сензори за спирачки, монтират се на съществуващите хидравлични или жилни спирачки;
        <br />
        - PAS сензор за подпомагане при въртене на педалите;
        <br />
        - Бутон за поддържане на постоянна скорост (cruise control);
        <br />
        - 2 бр усилени рамена за монтаж на рамата (torque arm), които облекчават натоварването на рамата (задължително се монтират при големи мощности);
        <br />
        <br />
        <div class="description">
            <strong>
                ЗАДНИТЕ КИТОВЕ 4000W – 6000W ВКЛЮЧВАТ:
                <br />
                Цена: 1250лв. на брой с ДДС
            </strong>
            <br />
            <br />
            - Висококачествен BLDC мотор 80А +, наплетен на капла с широчина 1.25“ (или Fat капла за Fat bike китовете 4“ ширина и задно отстояние 180мм), с 2.6мм2 здрави спици; Каплата е 16“ - 29“ – по избор на клиента; за вилки с ширина около 150мм
            <br />
            - Sabvoton синусоидален контролер, 48-84V, 80A +, с регенерация при спиране;
            <br />
            - TFT750c display контролен дисплей
            <br />
            - Ръкохватка за газ, като при мотор (twist throttle)
            <br />
            - Касета със 7 венеца на винт
            <br />
            - 2 бр сензори за спирачки, монтират се на съществуващите хидравлични или жилни спирачки
            <br />
            - PAS сензор за подпомагане при въртене на педалите
            <br />
            - Бутон за поддържане на постоянна скорост (cruise control)
            <br />
            - 2 бр усилени рамена за монтаж на рамата (torque arm), които облекчават натоварването на рамата (задължително се монтират при големи мощности).
            <br />
            <br />
        </div>
        <div class="description">
            <strong>
                ПРЕДНИТЕ КИТОВЕ ВКЛЮЧВАТ:
                <br />
                Цена: 450лв. на брой с ДДС
            </strong>
            <br />
            <br />
            Висококачествен Geared BLDC мотор, наплетен на капла с широчина 1.25“, с 2.6мм2 здрави спици; Каплата е 16“ - 29“ – по избор на клиента; за вилки с ширина 100мм;
            <br />
            - 17А универсален контролер, 24V или 36-48V, с регенерация при спиране
            <br />
            - SW900 контролен дисплей
            <br />
            - Ръкохватка за газ, като при мотор (twist throttle)
            <br />
            - 2 бр сензори за спирачки, монтират се на съществуващите хидравлични или жилни спирачки
            <br />
            - PAS сензор за подпомагане при въртене на педалите
            <br />
            - Бутон за поддържане на постоянна скорост (cruise control)
            <br />
            <div class="technical-parameters">
                <strong>ФУНКЦИИ:</strong>
                <br />
                <br />
                - Синусоидалните контролери са най-добрият избор. Те са безшумни, с по-добро използване на мощността и по-икономични (с по-голяма ефективност); Поддържат и зареждане на батерията при спиране. Това запазва вашите механични спирачки във времето (не се износват). Sabvoton и КТ са две от най-качествените марки на пазара;
                <br />
                - Контролерите към китовете са универсални, поддържат батерия от 48V до 72V. Правилото е следното: Консумацията на контролера (амперите) осигуряват ускорението, а напрежението осигурява скоростта (48V – до 60 км/ч; 60V – до 75 км/ч; 72V – до 90 км/ч); Мощността на кита е ампери * напрежение;
                <br />
                - Контролните дисплеи позволяват пълна настройка на параметрите, подпомагането, мощността и дават пълна информация за скорост, батерия и пробег;
                <br />
                - Китовете са със сензори за спирачките, които могат да се поставят на всякакви спирачки бързо и лесно. При отчитане на най малко движение на лостчето на спирачката се задействат, спират подаването на газ, задейства се електрическата спирачка и започва зареждане на батерията при спиране.
                <br />
                - Моторите имат отвори за захващане на диск за спирачки;
                <br />
                - PAS функцията и сензорът осигуряват подпомагане с различна степен. Функцията може и да се изключва и да се кара само на газ (като мотор);
                <br />
                - Бутонът за поддържане на скоростта запаметява моментната скорост и я поддържа без подаване на газ;
                <br />
                <br />
                <strong>Препоръки за избор на велосипед:</strong>
                <br />
                - За Предните китове – широчина на вилката (fork distance) – 100 мм;
                <br />
                - За 2000 – 3000W задни китове - широчина на вилката (rear fork distance) – 135 мм; (може и да се разпъва малко при необходимост)
                <br />
                - За 4000 – 6000W задни китове - широчина на вилката (rear fork distance) – около 150 мм
                <br />
                - За задните китове препоръчително е велосипеда да е с команди за 7 венеца отзад (по-малко или повече също не е проблем)
            </div>

        </div>
    </div>
</div>*@


