
@{
    ViewData["Title"] = "HeatResistantHose";
}

    <div class="container product-container">
        <img src="~/images/BatteryAccessories/Shlauh.jpg" />
        <br />
        <h3 id="from-beginig">Термошлаух</h3>
        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <br />

        <div class="technical-parameters">

            Висококачествен гумиран термошлаух от полиолефин (PO), коефициент на свиване 2:1. Термошлаухът е негорим, не съдържа халоген, азбест, формалдехид,
            <br />
            тежки метали и други забранени или вредни съставки.
            <br />
            <br />
            Приложение
            <br />
            Термо шлаух се използва за електрическо изолиране на проводници (единични или снопове).
            <br />
            Високата устойчивост на механично износване го прави идеално решение за изолация на проводници от всякакъв вид, големина и място на което са положени,
            <br />
            както и за добра влагоизолация на кабелните връзки. Отлично приложение има и при изработката на пакети от батерии – за влагоизолация,
            <br />
            здравина и предпазване от удари и вибрации.
            <br />
            <strong> Цени и размери (Вътрешен диаметър преди свиване – Цена)</strong>
            <br />
            Ф 3,5 мм – 0,51 лв на 1 м;
            <br />
            Ф 5 мм – 0,72 лв на 1 м;
            <br />
            Ф 19 мм – 2.40 лв на 1 м;
            <br />
            Ф 30 мм – 4.44 лв на 1 м;
            <br />
            Ф 35 мм – 6.60 лв на 1 м;
            <br />
            Ф 50 мм – 8.88 лв на 1 м;
            <br />
            Ф 70 мм – 12.00 лв на 1 м;
            <br />
            Ф 90 мм – 11.04 лв на 1 м;
            <br />
            Ф 100 мм – 17.76 лв на 1 м;
            <br />
            Ф 120 мм – 24.50 лв на 1 м;
            <br />
            Ф 150 мм – 13.04 лв на 1 м;
            <br />
            Ф 180 мм – 36.00 лв на 1 м;
            <br />
        </div>
       
        <div class="technical-parameters">
            <strong>Спецификации:</strong>
            <br />
            Термосвиваема тръба, коефициент на свиване 2:1
            <br />
            напрежение на пробив - 600V;
            <br />
            първоначална температура на свиване - 70°C;
            <br />
            Максимална температура на пълно свиване: 125 °C.
            <br />
            Дебелина на стената след свиване –
            <br />
            Ф 3,5 – 0,42 ± 0,05 mm;
            <br />
            Ф 5 – 0,55 ± 0,15 mm;
            <br />
            Ф 19 – 0,65 ± 0,20 mm;
            <br />
            Ф 30 – 0,75 ± 0,20 mm;
            <br />
            Ф 35 – 0,8 ± 0,20 mm;
            <br />
            Ф 50 – 1,00 ± 0,2 mm
            <br />
            Ф 70 – 1.00 ± 0.20 mm;
            <br />
            Ф 90 – 1.00 ± 0.20 mm;
            <br />
            Ф 100 – 1.00 ± 0.20 mm;
            <br />
            Ф 120 – 1.50 ± 0.20 mm;
            <br />
            Ф 150 – 1.50 ± 0.20 mm;
            <br />
            Ф 180 – 1.50 ± 0.20 mm;;
            <br />
            Стандарти за безопасност - SGS, UL224 VW-1 C-UL CSA C 22.2OFT RoHS SonySS-00259.
            <br />
            <br />
            <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>
            <br />
            <br />
            <div class="row">
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/BatteryAccessories/Shlauh2.jpg" />
                </div>
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/BatteryAccessories/Shlauh1.jpg" />
                </div>
            </div>
        </div>
    </div>







