
@{
    ViewData["Title"] = "HeatResistantTape";
}

    <div class="container product-container">
        <img src="~/images/BatteryAccessories/HeatResistantTape.jpg" />
        <br />
        <h3 id="from-beginig">Термоустойчиво тиксо</h3>
        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <br />

        <div class="technical-parameters">

            Термоустойчивата залепваща лента е изработена от полиамиден филм, покрит с устойчив на висока температура силикон.
            <br />
            Цветът е кафяв (кехлибарен). Има добра адхезивност, добра приложимост, устойчивост на висока температура, устойчивост на разтворители,
            <br />
            без проникване на калай, без остатъци, продукт с отлични електрически изолационни свойства.
            <br />
            Подходящо за защита при заваряване и запояване.
            <br />
            Висока изолация
            <br />
            Устойчивост на:
            <br />
            висока температура,
            <br />
            ниска температура,
            <br />
            киселина и алкали,
            <br />
            ниска електролиза,
            <br />
            добри механични свойства,
            <br />
            устойчивост на абразия,
            <br />
            устойчивост на разкъсване;
            <br />
            Специална адхезивна обработка, силно сцепление, Разлепя се без да оставя остатък.
            <br />
            Използва се главно за изолация на ел. изделия, батерии, кабели, боядисване, печене, запечатване, обувки, опаковки, строителство и декорация;
            <br />
            Широко използвано като високотемпературни изолационни намотки в трансформатори, двигатели, бобини, кондензатори и захранващи устройства с променлива честота в електрониката;
            <br />
            Приложимо за печатни платки (печатна платка), SMT калаена пещ, защита от електромагнитно влияние;
            <br />
            <br />
            <strong>Цени и размери (Широчина – Цена)</strong>
            <br />
            20 мм широчина на 33м дължина – 15 лв на 1 ролка;
            <br />
            50 мм широчина на 33м дължина – 30 лв на 1 ролка;
            <br />
        </div>

        <div class="technical-parameters">
            <strong>Спецификации:</strong>
            <br />
            Материал: Полиимид
            <br />
            Цвят: Метално кафяв
            <br />
            Ширина: прибл. 20мм или 50 мм （по избор на клиента）
            <br />
            Дължина: прибл. 33м
            <br />
            Тегло: прибл. 55 g / 140 g за съответният размер: 20/ 50 мм
            <br />
            Дебелина: 0.055мм
            <br />
            Удължение: 50%
            <br />
            Сила на опън: ≥42N / 25 мм
            <br />
            Сила на разлепване: ≥26N / 25 мм
            <br />
            Първоначално сцепление: 24 #
            <br />
            Лепкава сила: 48Н
            <br />
            Дългосрочна температура на устойчивост: 200 ° С градуса
            <br />
            Краткосрочна температура на устойчивост: 220 ° С градуса.
            <br />
            <br />
            <div class="row">
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/BatteryAccessories/HeatResistantTape1.jpg" />
                </div>
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/BatteryAccessories/HeatResistantTape2.jpg" />
                </div>
            </div>
        </div>
    </div>

