
@{
    ViewData["Title"] = "MagneticBall";
}

    <div class="container product-container">
        <img src="~/images/MagneticBalls/MagneticBalls-1.jpg" />
        <br />
        <br />
        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <br />
        <h3>Магнитни неодимови Топчета (сфери), Магнитен конструктор Neo Cube, Zen Magnets, Neo Spheres </h3>
        <div class="description">

            <br />
            Разполагаме със 7 размера топчета и магнитен конструктор от 63 части (той е от метални съчми и цилиндрични магнити).
            <br />
            <strong>Неодимови топчета</strong>
            <br />
            Размери (Диаметър):
            <br />
            <strong>- 3 mm за 216 броя</strong>
            <br />
            Цвят- сребристи
            <br />Продават се на брой или комплект 216 бр.
            <br />
            <br />
            <strong>- 5 mm за 216 броя.</strong>
            <br />
            Цветове:
            <br />
            - сребрист
            <br />
            - син
            <br />
            - червен
            <br />
            - зелен
            <br />
            - златист
            <br />
            - смесени цветове (микс mix)
            <br />
            Продават се на брой или комплект 216 бр.
            <br />
            <strong>Опция:</strong>
            <br />
            - стилна метална кутийка с дунапрен.
            <br />
            <br />
            <div class="row">
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/MagneticBalls/MagneticBalls-2.jpg" />
                </div>
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/MagneticBalls/Magnetic -3mm-5mm-3.JPG" />
                </div>
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/MagneticBalls/Magnetic-3mm-5mm-4.jpg" />
                </div>
            </div>
            <br />
            <br />
            <strong>Магнитен конструктор от 63 части</strong>
            <br />
            комплект с кутията: 27 <strong>метални</strong> сачми и 36 <strong>магнитни</strong> цилиндрични пръчки.
            <br />
            Могат да се правят различни въртящи и стационарни фигури с него.
            <br />
            <br />
            <div class="row">
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/MagneticBalls/Constructor -1.JPG" />
                </div>
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/MagneticBalls/Constructor-2.JPG" />
                </div>
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/MagneticBalls/Constructor-Size.JPG" />
                </div>
            </div>
            <strong>Големи неодимови топчета</strong>
            - 10 mm (1 cm)
            <br />
            <div class="row">
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/MagneticBalls/10mmBalls-1.JPG" />
                </div>
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/MagneticBalls/10mmBalls-2.JPG" />
                </div>
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/MagneticBalls/10mmBalls-3.JPG" />
                </div>
            </div>
            <br />
            <br />
            <strong>Феритни топчета</strong>
            <br />
            - 16 mm (nanodots Mega) - не са неодимови;
            <br />
            - 20 mm (nanodots Mega) - не са неодимови
            <br />
            - 25 mm (nanodots Mega) - не са неодимови
            <br />
            - 33 mm (nanodots Mega) - не са неодимови
            <div class="row">
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/MagneticBalls/BallsMoreThan10mm.JPG" />
                </div>

            </div>
        </div>
    </div>

