
@{
    ViewData["Title"] = "Magnets";
}

<div class="container product-container" >
<img src="~/images/MagnetPictures/magnets1.jpg" class="product-main-image" />
<h3>Neodim Magnets</h3>
<div class="description">
    <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
    <div class="technical-parameters">
        Мощни неодимови супер силни магнити N35 - N52 Neodymium Magnets NdFeB
        <br />
        <br />
        Описаната сила е залепването на магнита към една метална плоскост (снимка Фигура 1).
        Когато магнитът е разположен (залепен) между 2 метални плоскости и се мери силата на разлепяне на едната от металните плоскости,
        силата на залепване (привличане) се увеличава приблизително от 1.5 до 10 пъти! (снимка Фигура 2)
        <br />
        <br />
        Технически характеристики:
        <br />
        <br />
        <strong>С кръгла форма, дискове:</strong>
        Размери и цени (Диаметър / височина)
        <br />
        - 3 mm x 1 mm (3*1) - цена 0.03 лв. на брой, сила 0.09 кг;
        <br />
        - 5 mm x 1 mm (5*1) - цена 0.06лв. на брой, сила 0.19 кг;
        <br />
        - 5 mm x 2 mm (5*2) - цена 0.08 лв. на брой, сила 0.38 кг;
        <br />
        - 6 mm x 1 mm (6*1) - цена 0.08 лв. на брой, сила 0.21 кг;
        <br />
        - 6 mm x 1.5 mm (6*1.5) - цена 0.12 лв. на брой, сила 0.35 кг;
        <br />
        - 8 mm x 1.3 mm (8*1.3) - цена 0.12 лв. на брой, сила 0.50 кг;
        <br />
        - 8 mm x 2 mm (8*2) - цена 0.16 лв. на брой, сила 0.73 кг;
        <br />
        - 10 mm x 1 mm (10*1) - цена 0.15 лв. на брой, сила 0.34 кг;
        <br />
        - 10 mm x 1.3 mm (10*1.3) - цена 0.18 лв. на брой, сила 0.66 кг;
        <br />
        - 10 mm x 2 mm (10*2) - цена 0.28 лв. на брой, сила 1 кг;
        <br />
        - 10 mm x 3 mm (10*3) - цена 0.35 лв. на брой, сила 1.6 кг;
        <br />
        - 10 mm x 5 mm (10*5) - цена 0.55 лв. на брой, сила 2.39 кг;
        <br />
        - 12 mm x 1 mm (12*1) - цена 0.18 лв. на брой, сила 0.55 кг;
        <br />
        - 12 mm x 2 mm (12*2) - цена 0.40 лв. на брой, сила 1.3 кг;
        <br />
        - 15 mm x 2 mm (15*2) - цена 0.60 лв. на брой, сила 1.7 кг;
        <br />
        - 20 мм х 3 мм (20*3) - цена 1.50 лв. на брой, сила 3.3 кг;
        <br />
        - 20 мм х 10 мм (20*10) - цена 5 лв. на брой, сила 10 кг;
        <br />
        - 30 мм х 5 мм (30*5) - цена 6 лв. на брой, сила 9.44 кг;
        <br />
        - 30 мм х 20 мм (30*20) - цена 20 лв. на брой, сила 25,50 кг;
        <br />
        - 40 мм х 20 мм (40*20) - цена 30 лв. на брой, сила 40 кг;
        <br />
        - 50 мм х 30 мм (50*30) - цена 60 лв. на брой, сила 85 кг.,
        <br />
        - 60 мм х 30 мм (60*30) - цена 90 лв. на брой, сила 115 кг.,
        <br />
        <br />

        <strong>Правоъгълни (паралелепипед)</strong>
        <br />
        Размери и цени (Дължина / широчина / височина):
        <br />
        - 20 mm x 10 mm x 5 mm (20*10*5) - цена 1.40 лв. на брой, сила 4.55 кг;
        <br />
        - 50 mm x 7 mm x 7 mm (50*7*7) - цена 5 лв. на брой, сила 8.24 кг; - крехки са!
        <br />
        - 40 mm x 20 mm x 10 mm (40*20*10) - цена 10 лв. на брой, сила 20 кг;
        <br />
        - 40 mm x 40 mm x 20 mm (40*40*20) - цена 35 лв. на брой, сила 46 кг;
        <br />
        <br />

        <Strong>С кръгла форма и дупка по средата (магнитни шайби):</Strong>
        <br />
        Размери и цени (Диаметър / височина / диаметър отвор (дупка))
        <br />
        - 10 mm x 3 mm x отвор 4 mm (10*3-4) - цена 0,35 лв. на брой, сила 1.2 кг;
        <br />
        - 15 mm x 5 mm x отвор 4 mm (15*5-4)- цена 1.40 лв. на брой, сила 4.2 кг;
        <br />
        - 20 mm x 10 mm x отвор 5 mm (20*10-5)- цена 5 лв. на брой, сила 9 кг;
        <br />
        - 48 mm x 19 mm x отвор 10 mm (49*19-10) - цена 35 лв. на брой, сила 52 кг;
        <br />
        - 59 mm x 5 mm x отвор 8 mm (59*5-8) - цена 20 лв. на брой, сила 15.5 кг;
        <br />
        - 59 mm x 19 mm x отвор 10 mm (59*19-10) - цена 60 лв. на брой, сила 75 кг;
        <br />
        <br />
        <strong>Правоъгълни (паралелепипед) с дупка (отвор по средата), хладилник AA:</strong>
        <br />
        Размери и цени (Дължина / височина / дълбочина / диаметър отвор (дупка)):
        <br />
        - 20 mm x 10 mm x 3 mm, отвор 4 mm - цена 0.90 лв. на брой, сила 2.45 кг; - крехки са!
        <br />
        - 20 mm x 10 mm x 5 mm, отвор 4 mm - цена 1.40 лв. на брой, сила 4 кг; - крехки са!
        <br />
        - 37 mm x 37 mm x 16 mm, отвор 10 mm (37*37*16-10) - цена 30 лв. на брой, сила 35 кг;
        <br />
        - 75 mm x 75 mm x 23 mm, отвор 8 mm - цена 170 лв. на брой, сила 170 кг;
        <br />
        <br />
        <strong>Топчета (сфери), сачми, магнитен конструктор и др.</strong>
        <br />
        Размери (Диаметър) и цени:
        <br />
        - 3 mm - 0,10 лв на брой / 13 лв. за 216 броя;
        <br />
        - 5 mm - 0,20 лв на брой / 27 лв. за 216 броя, цветове - сребрист, син, зелен, червен, златист, смесени;
        <br />
        3mm и 5mm се предлагат с луксозна кутийка - 3лв.
        <br />
        - Магнитен конструктор от 63 части - 30 лв за комплект с кутията: 27 метални сачми и 36 магнитни цилиндрични пръчки.
        <br />
        - 10 mm (1 cm) - 0.80 лв на брой / 160 лв. за 216 броя;
        <br />
        @*- 16 mm (nanodots Mega) - 1.30 лв на брой / 249 лв. за 216 броя; (не са неодимови!);
        <br />
        - 20 mm (nanodots Mega) - 4.50 лв на брой (не са неодимови!)
        <br />
        - 25 mm (nanodots Mega) - 5 лв на брой (не са неодимови!)
        <br />
        - 33 mm (nanodots Mega) - 6 лв на брой (не са неодимови!)
        <br />*@
        <br />

        Предлагаме и пръстен гайка (ринг гайка) с болт, изработени от специална неръждаема стомана, с които магнитът може да се привърше към въже или да се захване удобно.
        <br />
        <br />

    </div>

    <div class="row">
        <div class="col-md-4">
            <img class="descriptive-image" src="~/images/MagnetPictures/Magnet2.JPG" />
        </div>
        <div class="col-md-4">
            <img class="descriptive-image" src="~/images/MagnetPictures/Magnet3.bmp" />
        </div>
        <div class="col-md-4">
            <img class="descriptive-image" src="~/images/MagnetPictures/magnet5.jpg" />
        </div>
    </div>

</div>

</div>


