
@{
    ViewData["Title"] = "Magnets";
}

<div class="container product-container" >
<img src="~/images/MagnetPictures/magnets1.jpg" class="product-main-image" />
<h3>Neodim Magnets</h3>
<div class="description">

    <div class="technical-parameters">
        Samsung Самсунг INR18650-25R 2500 мач (2.5 Ач Ah), 3.7V (4.2V) - пиков разряд 20A (високоразрядни) за винтоверти, елекро велосипеди, скутери, коли, дронове, RC car коли и хеликоптери, акумулатори, електронни цигари и уреди с много висока моментна консумация.
        <br />
        <br />
        Технически характеристики:
        <br />
        - Без Памет!
        <br />
        - Цикли, след които е запазен 70% от капацитета на батерията - 500 - 1000 (в зависимост от модела. При високо разрядните батерии този спад се наблюдава след около 500 цикъла). Издържливост на INR клетките (живот) – 2000-5000 цикъла и нагоре.
        <br />
        <br />
        размери: 65*18mm
    </div>

    <div class="row">
        <div class="col-md-4">
            <img class="descriptive-image" src="~/images/MagnetPictures/Magnet2.JPG" />
        </div>
        <div class="col-md-4">
            <img class="descriptive-image" src="~/images/MagnetPictures/Magnet3.bmp" />
        </div>
        <div class="col-md-4">
            <img class="descriptive-image" src="~/images/MagnetPictures/magnet5.jpg" />
        </div>
    </div>

</div>

</div>


