
@{
    ViewData["Title"] = "NickelStrip";
}

    <div class="container product-container">
        <img src="~/images/NikelStrip/1P-6PNickelStrip.JPG" />
        <h3>Nickel Strip Никелирана шина 1P, Никелирана шина 6P</h3>
        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <div class="description">

            <br />
            <strong>Шина 1Р </strong>
            <div class=" row">
                <div class="col-md-1">
                    <img class="descriptive-image" src="~/images/NikelStrip/1PNikelStrip-1.jpg" />
                </div>
            </div>
            За точково заваряване на клетки литиево – йонни батерии тип 18650.
            <br />
            Размери -  деблина 0.15 мм,  ширина 8 мм.
            <br />
            Оразмерена е за използване заедно със скоби и брекети с отстояние 20.2 мм, което е стандарт.
            <br />
            Покритие - 99.9% състав от чист никел.
            <br />
            Необходима е при правене на пакети от батерии, защото има много добра токопроводимост и здравина.
            <br />
            Точковите заварки са много по-здрави и ефикасни от запояването с калай и издържат на по-голяма топлина.
            <br />
            Батериите се нуждаят от точковане със шина и от двете страни (двата полюса)
        </div>
        <div class="description">
            <br />
            <strong>Шина 6Р </strong>
            <div class=" row">
                <div class="col-md-1">
                    <img class="descriptive-image" src="~/images/NikelStrip/6PNickelStrip-1.jpg" />
                </div>
            </div>
            За точково заваряване на клетки литиево – йонни батерии тип 18650.
            <br />
            Размери -  деблина 0.2 мм и ширина 7.2 мм.
            <br />
            Един ред от шината е с ширина 20.2 мм.
            <br />
            Оразмерена е за използване заедно със скоби и брекети с отстояние 20.2 мм, което е стандарт.
            <br />
            99.9% състав от чист никел.
            <br />
            Има цепнатина на мястото за точковане, което позволява по-лесното осъществяване на точковата заварка.
            <br />
            Необходима е при правене на пакети от батерии, защото има много добра токопроводимост и здравина.
            <br />
            Точковите заварки са много по-здрави и ефикасни от запояването с калай и издържат на по-голяма топлина.
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-4">
                <img class="descriptive-image" src="~/images/NikelStrip/6PNickelStrip.JPG" />
            </div>
            <div class="col-md-4">
                <img class="descriptive-image" src="~/images/NikelStrip/Ampers per nickel strip.jpg" />
            </div>
            <div class="col-md-4">
                <img class="descriptive-image" src="~/images/NikelStrip/6PNickelStrip-Shema.jpg" />
            </div>
            <div class="col-md-4">
                <img class="descriptive-image" src="~/images/NikelStrip/1PNikelStrip.JPG" />
            </div>
        </div>
    </div>
   