
@{
    ViewData["Title"] = "Pad";
}

<div class="container product-container">
    <img src="~/images/Pads/Pad1-1-1.JPG" />
    <h3>Изолационна подложка</h3>

    <div class="description">
        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <br />
        Негорими, изолационни, самозалепващи подложки за полюси на литиево – йонни батерии тип 18650.
        <br />
        Необходими са при правене на пакет от батерии с точково заваряване или запояване, за да предпазят от окъсяване между + полюса и – външният корпус на батерията.
        <br />
        При големи разряди, изводите (проводниците) между полюсите, както и полюсите на батериите се загряват доста и тези подложки не позволяват при стапяне на изолациата на проводника или външната обвивка на корпуса на батерията, да дадат на късо.
        <br />
        Служат като топлинна защита, изолационна защита, защита от удар.
        <br />
        Деблина: 0.2 мм
    </div>
    <br />
    <br />

    <div class="row">
        <div class="col-md-10">
            <img class="descriptive-image" src="~/images/Relay/Relay3.JPG" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <img class="descriptive-image" src="~/images/Pads/Pad-2.JPG" />
        </div>
        <div class="col-md-5">
            <img class="descriptive-image" src="~/images/Pads/Pad2-1.JPG" />
        </div>
    </div>
</div>


