
@{
    ViewData["Title"] = "Relay";
}

    <div class="container product-container">
        <img src="~/images/Relay/Relay1.JPG" />
        <h3>Правотоково реле</h3>
        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <div class="description">

            <br />
            Високотокови DC правотокови релета.
            <br />
            Напрежение от 12 VDC до 900 VDC, за токове до над 500 А.
            <br />
            По груби сметки при мощност около 60 kW животът на релето е около 10,000 цикъла, а при мощности около 6 kW животът е около 100,000 цикъла.
            <br />
            Релетата имат и порт за управление, работещ от 9 до 36 VDC, на който са нужни между 100 мА и 3.8 А за задействане.
            <br />
            Подходящи са за високотокови консуматори и приложения като електромобили, батерии, соларни и ветрогенераторни системи и много други.
            <br />
            Релетата могат да работят и за вериги с над 500 А. Вижте следните тестови спецификации:
            <br />
            28 VDC; 2000 A – 10,000 цикъла;
            <br />
            120 VDC; 500 A – 10,000 цикъла;
            <br />
            270 VDC; 220 A – 10,000 цикъла;
            <br />
            400 VDC; 150 A – 10,000 цикъла;
            <br />
            600 VDC; 100 A – 10,000 цикъла;
            <br />
            900 VDC; 65 A – 10,000 цикъла;
            <br />
            900 VDC; 65 A – 10,000 цикъла;
            <br />
            1800 VDC; 33 A – 10,000 цикъла;
            <br />
            <br />
            28 VDC; 200 A – 100,000 цикъла;
            <br />
            120 VDC; 50 A – 100,000 цикъла;
            <br />
            270 VDC; 22 A – 100,000 цикъла;
            <br />
            400 VDC; 15 A – 100,000 цикъла;
            <br />
            600 VDC; 10 A – 100,000 цикъла;
            <br />
            900 VDC; 6 A – 100,000 цикъла;
            <br />
            1800 VDC; 3 A – 100,000 цикъла;
            <br />
            <br />
            320 VDC и 2,000 А животът е 1 цикъл.
            <br />
            <br />
            Механичният живот на релетата е 1,000,000 цикъла.
        </div>
        <br />
        <br />

        <div class="row">
            <div class="col-md-5">
                <img class="descriptive-image" src="~/images/Relay/Relay2.JPG" />
            </div>
            <div class="col-md-5">
                <img class="descriptive-image" src="~/images/Relay/Relay2-1.JPG" />
            </div>
        </div>


    </div>

