
@{
    ViewData["Title"] = "SpiderStand";
}

    <div class="container product-container">
        <img src="~/images/SpiderStand/SpiderStand.jpg" />
        <h3>Стойка за запояване-трята ръка</h3>
        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <span class="grey">40лв. на брой с ДДС</span>
        <div class="description">
            <br />
            <strong>Спецификация:</strong>
            <br />
            Цвят: Син
            <br />
            Основен материал : желязо
            <br />
            Тегло 400гр
            <br />
            <br />
            Пести място, Лесен за носене,
            <br />
            Регулируема основа завъртане на 360 градуса за лесна работа.
            <br />
            Менгеме за устойчив монтаж на маса.
            <br />
            Гъвкава ръка на Y-образна форма, леко тегло, устойчивост на натиск, добра стабилност .
            <br />
            Супер компактен дизайн за лесна употреба .
            <br />
            Широка гама от приложения, Пакета включва:
            <br />
            5 бр. Клип  алигатор
            <br />
            2 бр. Универсална гъвкава тръба
            <br />
            1 бр. Менгеме за монтаж на маса
            <br />
            1 бр. Мини гаечен ключ
            <br />
            <br />
            <p><a href="https://guideia.olx.bg/" target="_blank">нашите обяви в OLX</a></p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img class="descriptive-image" src="~/images/SpiderStand/SpiderStand1.jpg" />
            </div>
            <div class="col-md-4">
                <img class="descriptive-image" src="~/images/SpiderStand/SpiderStand2.jpg" />
            </div>
            <div class="col-md-4">
                <img class="descriptive-image" src="~/images/SpiderStand/SpiderStand3.jpg" />
            </div>
            <div class="col-md-4">
                <img class="descriptive-image" src="~/images/SpiderStand/SpiderStand4.jpg" />
            </div>
        </div>

    </div>



