
@{
    ViewData["Title"] = "ThermalTape";
}
    <div class="container product-container">
        <img src="~/images/BatteryAccessories/ТhermalTape/ThermalTape-1.JPG" />
        <h3>Термоустойчива самозалепваща изолационна текстилна лента </h3>
        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <span class="grey">10лв. на брой с ДДС</span>
        <div class="description">

            <br />
            <strong>
                Параметри една ролка ролка :
            </strong>
                <br />
                Дължина - 15 м,
                <br />
                Ширина - 19 мм
                <br />         
        </div>
        <div class="description">
            <br />
            <strong>Спецификация:</strong>
            <br />
            Тип лепилото- естествен каучук, Материал за подплащане: PET плетка
            <br />
            Цвят - черен
            <br />
            Адхезия към стомана: 3 N / cm
            <br />
            Удължение при скъсване: 20%
            <br />
            Якост на опън: 37 N / cm
            <br />
            Температурна устойчивост: 105 °
            <br />
            Безвредна
            <br />
            Не се подава на корозия,
            <br />
            Намалява шума,
            <br />
            Температурно стабилна,
            <br />
            Защитава срещу замърсяване
            <br />
        </div>
        <br />
        <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>
        <br />
    </div>


