
@{
    ViewData["Title"] = "Tools";
}

<div class="card-deck ">
    <div class="card">
        <a class="card-link" asp-area="" asp-controller="Instrument" asp-action="ScrewЕxtractor">
            <div class="card-body" id="screw-extractor-image">
            </div>
            <div class="card-footer">
                <small class="text-muted">Екстрактор на винтове</small>
            </div>
        </a>
    </div>
    <div class="card">
        <a class="card-link" asp-area="" asp-controller="Instrument" asp-action="ScrewdriverFlexibleExtension">
            <div class="card-body" id="screwdriver-flexible-extension-image">
            </div>
            <div class="card-footer">
                <small class="text-muted">Гъвкав удължител за битов</small>
            </div>
        </a>
    </div>

    <div class="card">
        <a class="card-link" asp-area="" asp-controller="Instrument" asp-action="AutomaticCenterPunch">
            <div class="card-body" id="automatic-center-punch-image">
            </div>
            <div class="card-footer">
                <small class="text-muted">Автоматичен център</small>
            </div>
        </a>
    </div>
    <div class="card">
        <a class="card-link" asp-area="" asp-controller="Instrument" asp-action="DrywallScrewdriverBit">
            <div class="card-body" id="drywall-screwdriver-bit-image">
            </div>
            <div class="card-footer">
                <small class="text-muted">Магнитен бит с ограничител</small>
            </div>
        </a>
    </div>
</div>
<div class="card-deck ">
    <div class="card">
        <a class="card-link" asp-area="" asp-controller="Instrument" asp-action="TelescopicMagnet">
            <div class="card-body" id="telescopicMagnet-image">
            </div>
            <div class="card-footer">
                <small class="text-muted">Телескопичен магнит с фенерче</small>
            </div>
        </a>
    </div>
    <div class="card card-useless">
        
    </div>

    <div class="card card-useless">
        
    </div>
    <div class="card card-useless">
       
    </div>
</div>



