
@{
    ViewData["Title"] = "Wattmeter";
}

    <div class="container product-container">
        <img src="~/images/Wattmeter/Vattmeter-1.jpg" />       
        <h3>Ватметър (амперметър, волтметър, електромер) с шунт</h3>

       
        <div class="technical-parameters">
            Функция за измерване на електрически параметри (напрежение, ток, мощност, енергия).
            <br />
            Алармена функция на напрежението (прагове на алармата за алармено напрежение, подсветка и върхове на трептене на напрежение).
            <br />
            Функция за изключване на захранването.
            <br />
            Функция за запаметяване на данни.
            <br />
            Дисплей с голям LCD екран (напрежение, ток, мощност, енергия).
            <br />
            Подсветка.
            <br />
            <br />
            I Интерфейс на дисплея
            <br />
            Показване на параметрите на напрежението, тока, мощността, енергията на големия LCD екран едновременно.
            <br />
            <br />
            II Формат на дисплея
            <br />
            1. Мощност: обхват на измерване 0 ~ 10kW
            <br />
            1kW формат на дисплея в рамките на 0.0 ~ 999.9W;
            <br />
            От 1kW дисплей формат 1000 ~ 9999W.
            <br />
            2. Мощност: обхват на измерване 0 ~ 9999kWh
            <br />
            10kWh в рамките на формата на дисплея 0 ~ 9999Wh;
            <br />
            Над 10kWh формат на дисплея 10 ~ 9999kWh;
            <br />
            3. Напрежение: обхват на изпитване 6.5 ~ 100V
            <br />
            Формат на показване 6.50 ~ 99.99V
            <br />
            4. Ток: Диапазон на изпитване 0 ~ 100A
            <br />
            Показване на формат 0.00 до 99.99.
            <br />
            <br />
            III Бутон
            <br />
            1. Управление на подсветката: С кратко натискане на бутона за включване или изключване на фоновото осветление, автоматично запаметяване на състоянието на подсветката.
            <br />
            2. Нулиране на стойностите
            <br />
            Стъпка 1: Натиснете бутона, докато областта на захранването покаже "CLr", след това отпуснете бутона;
            <br />
            Стъпка 2: В този момент на потреблението на енергия мига, показващ текущото състояние, ако се натисне отново бутона, данните за консумацията се изчистват;
            <br />
            Стъпка 3: Ако в рамките на пет секунди не се натисне клавиш, това означава, че няма да бъдат изтрити.
            <br />
            3. Стойността на алармата за напрежение
            <br />
            Стъпка 1: Натиснете бутона, докато областта на захранването покаже символа "SET", след това отпуснете бутона
            <br />
            Стъпка 2: След въвеждане на това състояние, в зоната за напрежение на дисплея се показва горният праг за стойност на алармата, в зоната за тока се показва долният праг за стойност на алармата.
            <br />
            Стъпка 3: След настройката натиснете бутона, докато на дисплея се покаже знакът "PASS", който показва, че настройката е успешна и автоматично излиза от режима на настройка.
            <br />
            <br />
            Селектор за обхват
            <br />
            Стъпка 1: Натиснете бутона, докато областта на захранването покаже "Curr", след това отпуснете бутона;
            <br />
            Стъпка 2: В този момент текущата област показва "100 A", натиснете за кратко бутона за преход между "100 A" и "50 A.
            <br />
            Стъпка 3: Натиснете бутона, докато не излезете от режима на настройка или не се запамети автоматично след 3 секунди и излезете от режима на настройка.
            <br />

            ЗАБЕЛЕЖКА: Преди да използвате шунта 50А / 75mv, моля, задайте обхвата на измервателния уред на 50А (настройката по подразбиране е 100А). Приложеният шунт в комплекта е 50А!
            <br />
            <br />
            Този модул е подходящ за вътрешна, а не за външна употреба.
            <br />
            Приложеният товар не трябва да надвишава номиналното напрежение и ток.
            <br />
            Трябва да се свърже правилно.
            <br />
            Работно напрежение: 6.5 ~ 100VDC
            <br />
            Изпитвателно напрежение: 6.5 ~ 100VDC, точност на напрежението: +/- 1%
            <br />
            Номинална мощност: 100A / 10000W
            <br />
            Точност на измерване: 1.0
            <br />
            <br />
            Комплекта включва:
            <br />
            1 Брой ватметър (амперметър волтметър) (моля, първо изберете диапазона на 50A)
            <br />
            1 Брой DC 50A / 75mV шунт

        </div>
        <div class="row">
            <div class="col-md-5">                
                <img class="descriptive-image" src="~/images/Wattmeter/Watmetter2-1.jpg" />
            </div>
            <div class="col-md-5">
                <img class="descriptive-image" src="~/images/Wattmeter/Watmetter2.jpg" />
            </div>
        </div>
    </div>
