
@{
    ViewData["Title"] = "ZCross";
}

    <div class="container product-container">
        <img src="~/images/ZCross/SAA_3274.jpg" />
        <br />
        <br />
        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <span class="grey">от 6000-6500лв. на брой с ДДС само рамка с аксесоари</span>
        <br />
        <div class="description">
            <br />
            Представяме Ви на Вашето внимание едно доста мощно и бързо колело. То е асемблирано от нас от различни производители.
            <br />
            На базата на нашия опит сме на правили този модел и сме го кръстили ZCROSS(зи крос) с възможно най-добрите части за бъде велосипеда бърз, здрав, да може да се кара,
            както по асфалт така и по черни пътища и да конкурира успешно кросовите мотори.
            <br />
            <br />
            <b>Цени:</b>
            <br />
            - Пълна окомплектовка без батерия и без кит: 6000-6500 лв - в зависимост от рамката;
            <br />
            Разбита цена:
            <br />
            Цени:
            <br />
            - Пълна окомплектовка без батерия и без кит: 6000 - 6500 лв (зависи от избора на рамка);
            <br />
            Разбита цена:
            <br />
            - Изцяло метална рамка (малко по-тежка) – 850 лв;
            <br />
            - Олекотена рамка – 1400 лв;
            <br />
            - DNM заден амортисьор – 600 лв;
            <br />
            - DNM предена вилка USD 8S, с 2 спирачни диска – 1550 лв;
            <br />
            - Курбел – 160 лв;
            <br />
            - Верига – 70 лв;
            <br />
            - Педали – 55 лв;
            <br />
            - дерайльор – 110 лв;
            <br />
            - Хидравлични ел. спирачки (двойна дискова спирачка за 2 диска отпред + задна дискова спирачка) – 830 лв;
            <br />
            - TEKTRO спирачни дискове 203 мм - 3 броя – обащо 135 лв;
            <br />
            - кормило + лапа – 120 лв;
            <br />
            - Заден венец – 30 лв;
            <br />
            - Калници – преден и заден – 230 лв;
            <br />
            - Мото Седалка – 160 лв;
            <br />
            - Фарове + аларма + клаксон + DC преобразувател – 160 лв;
            <br />
            - Предна гума мото капла с гума и главина за монтаж на 2 диска – 550 лв;
            <br />
            * Избор на моторни капли - 400лв.
            <br />
            възможност за вело капли
            <br />
            <br />
            За коелото да споделим малко данни.
            <br />
            Предлага се с велосипедна и моторна седелка.
            <br />
            Хъб моторът е според кита – по изискване на клиента. Пикова мощност до 18KW!;
            <br />
            Кoнтролерът е Sabvoton 48-72V, универсален, програмируем, синусоидален. Възможност за 80-200А;
            <br />
            Скорост – над 100 км/ч при 72V батерия;
            <br />
            Ускорение 0 – 100 км/ч за около 5-6 сек (в зависимост от кита);
            <br />
            Пробег с едно зареждане на батерията – зависи от капацитета на батерията. Предлагаме изработка на различен капацитет батерии. Възможно е да се направи батерия за над 250 км пробег с едно зареждане!
            <br />
            Тегло без батерия: около 25 – 35 кг (в зависимост от кита);
            <br />
            Тегло на батерия: от 3 кг до 25 кг (по-голяма батерия ще е с по-голям волтаж и по-голям пробег);
            <br />
            Предна вилка – DNM USD-8S (може да се настрои в три режима според терена, по който ще караме);
            <br />
            Заден амортисьор – DNM (има настройки за режимите според терена, по който ще караме.);
            <br />
            Спирачки – Хидравлични Tektro е ел. сензор и 203 мм диск;
            <br />
            С предни и задни светлини и мигачи;
            <br />
            С екран, показващ скорост, консумация, батерия и поддръжка на настройка и допълнителни данни;
            <br />
            Диаметър гуми – от 22-26“, както и Fat Bike. Предлагаме и вариант с моторни капли и гуми (17-19 цола)
            <br />
            На задната вилка може да се сложи гума от 22 до 26инча.
            <br />
            В обобщение на това на велосипеда ще можем да сложим между 24 и 26 цола гуми.
            <br />
            Спирачки – Хидравлични Tektro с електрически  сензор и 203 мм диск;
            <br />
            Велосипеда е с предни, задни светлини и задни мигачи;
            <br />
            екран, показващ скорост, консумация, батерия и поддръжка на настройка и допълнителни данни;
            <br />
            Хъб моторът е QS205 50H V2 или V3 – по изискване на клиента.
            <br />
            <br />
        </div>
        <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>
    </div>

<div>
    
    <br />
    <div class="row">
        <div class="col-md-4">
            <img class="descriptive-image" src="~/images/ZCross/SAA_3341.jpg" />
        </div>
        <div class="col-md-4">
            <img class="descriptive-image" src="~/images/ZCross/SAA_3372.jpg" />
        </div>
        <div class="col-md-4">
            <img class="descriptive-image" src="~/images/ZCross/SAA_3403.jpg" />
        </div>

    </div>
</div>



