
@{
    ViewData["Title"] = "Тextolite";
}

<h3>Текстолит</h3>
<div class="container product-container">
    <img src="~/images/BatteryAccessories/Textolit.JPG" />
    <br />
    <h3 id="from-beginig">Текстолит</h3>
    <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
    <br />
    <div class="description">
        <br />
        <strong>Текстолит с дебелина 1 мм и дебелина 0.5 мм.</strong>
        <br />
        Изрязваме според нуждите на клиента.
        <br />
        <br />
        <strong>Цена:</strong>
        <br />
        <strong>За дебелина 0.5 мм:</strong><br />
        100 лв. с ДДС на м2;
        <br />
        0.010 лв с ДДС на см2.
        <br />
        <br />
        <strong>За дебелина 1 мм:</strong>
        <br />
        200 лв. с ДДС на м2;
        <br />
        0.020 лв с ДДС на см2.
        <br />

        Текстолита е направен от слоест материал, получен при горещо пресоване на слоеве памучна тъкан импрегнирана със синтетични термореактивни смоли от типа
        <br />на фенол-формалдехидите, крезол-формалдехидите, смес от тези смоли или техни модификации.
        <br />
        Текстолитът притежава отлични електроизолационни свойства. Плочите от текстолит са с добра топлоустойчивост. Те издържат при работни температури
        <br />в интервала -65°C до +105°С, както и за кратък интервал от време до 120°C. Има висока якост на смачкване и увеличена гъвкавост. Текстолитът притежава много добри механични свойства. Листите се подлагат лесно на машинна обработка чрез пробиване или рязане, също така поема доста от вибрациите.
        <br />
        Характеризира се с това, че има добра износоустойчивост, добра топлоустойчивост, отлични електроизолационни свойства, добра шумоизолация и дълъг период на употреба.
        <br />
        Текстолитовите продукти имат широко употреба в електротехниката: текстолит се ползва в трансформатори, електрически мотори, табла, електропревключватели, домакински уреди, железопътна, автомобилна, компютърна и медицинска индустрия.
        <br />
        От текстолит се изработват части с електрически и механични напрежения . Плочите от текстолит са с нисък коефициент на триене.
        <br />
    </div>
    <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>
    <br />
    <br />
</div>

