
@{
    ViewData["Title"] = "BatteryRepair";
}

    <div class="container product-container">
        <img class="product-main-image" src="~/images/BatteryPacks/BatteryPackPageFront.jpg" />
        <h3>Ремонт на акумулаторни батерии - Рециклиране на батерии</h3>

        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <div class="description">
            <br />
            Изработка и ремонт на акумулаторни батерии за винтоверт, гайковерт, електричестка отвертка, ъглошлайф, флекс, прахосмукачка, резачка, трион, зеге, дрон, RC кола, лодка, ховърборд, тротинетка, велосипед и т.н. и други.
            <br />
            Влагаме само чисто нови и оригинални компоненти!
            <br />
            Описаните в обявата продукти са за литиево-йонни батерии.
            <br />
            Можем да преправим стари NiMH, NiCd и други батерии на литиево йонни.
            <br />
            В този случай освен новите елементи са необходими и нова BMS платка, както и ново зарядно (заради различният волтаж и технология на зареждането).
            <br />
            Литиево-йонните батерии издържат много повече цикли на живот и време на работа от по-старите презареждащи се батерии!
            <br />

            <div class="technical-parameters">
                <div class="row">
                    <div class="col">
                        <strong>
                            ЗА БАТЕРИЯ 12V (12.6V) МАШИНИ
                            <br />
                            цени на различни опции и продукти:
                        </strong>
                        <br />
                        - Изработка само на пакет от клетки
                        <br />
                        с точкови заварки:
                        <br />
                        2.5 Ач – 42 лв
                        <br />
                        5 Ач – 84 лв
                        <br />
                        7.5 Ач – 126 лв
                        <br />
                        - Бмс платка (3S BMS, 40A) – 10 лв;
                        <br />
                        - Зарядно:
                        <br />
                        12.6V, 1A – 15 лв;
                        <br />
                        12.6V, 2A – 22 лв;
                        <br />
                        - Монтаж в корпус от ваша батерия:
                        <br />
                        За 2.5 Ач пакет – 10 лв
                        <br />
                        За 5 Ач пакет – 6 лв
                        <br />
                        За 7.5 Ач пакет – безплатно
                        <br />
                        <br />
                    </div>
                    <div class="col">
                        <strong>
                            ЗА БАТЕРИЯ 14.4V (16.8V) МАШИНИ
                            <br />
                            цени на различни опции и продукти:
                        </strong>
                        <br />
                        - Изработка само на пакет от клетки
                        <br />
                        с точкови заварки:
                        <br />
                        2.5 Ач – 56 лв
                        <br />
                        5 Ач – 112 лв
                        <br />
                        7.5 Ач – 168 лв
                        <br />
                        - Бмс платка (4S BMS, 40A) – 10 лв;
                        <br />
                        - Зарядно:
                        <br />
                        16.8V, 1A – 15 лв;
                        <br />
                        16.8V, 2A – 22 лв;
                        <br />
                        - Монтаж в корпус от ваша батерия:
                        <br />
                        За 2.5 Ач пакет – 10 лв
                        <br />
                        За 5 Ач пакет – 6 лв
                        <br />
                        За 7.5 Ач пакет – безплатно
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <strong>
                            ЗА БАТЕРИЯ 18V (21V) МАШИНИ
                            <br />
                            цени на различни опции и продукти:
                        </strong>
                        <br />
                        - Изработка само на пакет от клетки
                        <br />
                        с точкови заварки:
                        <br />
                        2.5 Ач – 70 лв
                        <br />
                        5 Ач – 140 лв
                        <br />
                        7.5 Ач – 210 лв
                        <br />
                        - Бмс платка (5S BMS, 60A) – 15 лв;
                        <br />
                        - Зарядно:
                        <br />
                        21V, 1A – 15 лв;
                        <br />
                        - Монтаж в корпус от ваша батерия:
                        <br />
                        За 2.5 Ач пакет – 10 лв
                        <br />
                        За 5 Ач пакет – 6 лв
                        <br />
                        За 7.5 Ач пакет – безплатно
                        <br />
                        <br />
                    </div>
                    <div class="col">
                        <strong>
                            ЗА БАТЕРИЯ 22V (25.2V) МАШИНИ
                            <br />
                            цени на различни опции и продукти:
                        </strong>
                        <br />
                        - Изработка само на пакет от клетки
                        <br />
                        с точкови заварки:
                        <br />
                        2.5 Ач – 84 лв
                        <br />
                        5 Ач – 168 лв
                        <br />
                        7.5 Ач – 252 лв
                        <br />
                        - Бмс платка (6S BMS, 40A) – 20 лв;
                        <br />
                        - Монтаж в корпус от ваша батерия:
                        <br />
                        За 2.5 Ач пакет – 10 лв
                        <br />
                        За 5 Ач пакет – 6 лв
                        <br />
                        За 7.5 Ач пакет – безплатно
                        <br />
                        <br />
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <strong>
                            ЗА БАТЕРИЯ 24V (29.4V) МАШИНИ
                            <br />
                            цени на различни опции и продукти:
                        </strong>
                        <br />
                        - Изработка само на пакет от клетки
                        <br />
                        с точкови заварки:
                        <br />
                        2.5 Ач – 98 лв
                        <br />
                        5 Ач – 196 лв
                        <br />
                        7.5 Ач – 294 лв
                        <br />
                        - Бмс платка (7S BMS, 40A) – 20 лв;
                        <br />
                        - Зарядно:
                        <br />
                        29.4V, 2A – 45 лв;
                        <br />
                        - Монтаж в корпус от ваша батерия:
                        <br />
                        За 2.5 Ач пакет – 10 лв
                        <br />
                        За 5 Ач пакет – 6 лв
                        <br />
                        За 7.5 Ач пакет – безплатно
                        <br />
                        <br />
                    </div>
                </div>
                <div class="col">
                </div>
                Ако правите батерия, важно е елементите (клетките) да са еднородни като вид, капацитет и състояние!
                <br />
                Трябва да са с разряден ток 20 - 30А, слаборазрядните от лаптопи и фенери не са за такова предназначение!
                <br />
                Могат да бъдат запоявани от Вас самите, но е препоръчително да се направи точково заваряване с никелова шина, най-вече за високоразрядните батерии и уреди с много висока консумация (20-30А)!
                <br />
                <br />
                <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>                
                <br />
                <br />

                <div class="row">
                    <div class="col-md-4">
                        <img class="descriptive-image" src="~/images/BatteryPacks/BatteryPack-2.jpg" />
                    </div>
                    <div class="col-md-4">
                        <img class="descriptive-image" src="~/images/BatteryPacks/Pack-3.JPG" />
                    </div>
                </div>
            </div>
        </div>
    </div>

