
@{
    ViewData["Title"] = "BatteryPack";
}

<div class="container product-container">

    <img src="~/images/BatteryPacks/Pack-1.JPG" class="product-main-image" />
    <h3 id="from-beginig">Литиево йонни пакети от батерии.</h3>
    <div class="description">

        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <br />
        <br />
        Изработване на литиево-йонни батерии за електрически коли, лодки, RC коли, дронове и др.
        <br />
        Основна дейност на фирмата  е продажба и изработка на конфигурации от литиево-йонни батерии и можем да изработим батерия с волтаж и капацитет по Ваше задание.
        <br />
        Работим само с нови оригинални батерии на Самсунг и Сони с доказано качесто!
        <br />
        Долуизброените конфигурации батерии в таблицата включват цялостна окомплектовка до завършен и готов за ползване продукт.
        <br />
        <br />
        <strong>ЦЕНИ НА РАЗЛИЧНИ КОНФИГУРАЦИИ БАТЕРИИ OT 1S ДО 22S(3.7V ДО 80V): опаковани с твърда и мека обвивка (пакет, цяла батерия).</strong>
        <br />
        <br />
        <h3> <strong><a href="#Under 25V">До 25.2V, 6S</a>.</strong></h3>
        <h3> <strong><a href="#Over 25V">Над 25.2V, 6S</a>.</strong></h3>
    </div>


        <div class="technical-parameters">
            <h2 id="Under 25V">До 25.2V, 6S</h2>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <strong> БАТЕРИЯ Елементи 21700:</strong>
                    <br />
                    <br />ЗА 3.7V БАТЕРИЯ (4.2V, 1S):
                    <br />Aч.----Пиков ток--Цена
                    <br />9,7Ah -- 19,4A --36лв.
                    <br />14,5Ah --29,1A --53лв.
                    <br />19,4Ah --38,8A --71лв.
                    <br />24,25Ah--48,5A --88лв.
                    <br />
                    <br />ЗА 7.4V БАТЕРИЯ Елементи 21700(8.4V, 2S):
                    <br />Ah----Пик.ток---Цена пакет
                    <br /> 4,8Ah--9,7A -- 36 лв.
                    <br /> 9,7Ah--19,4A -- 71 лв.
                    <br />14,5Ah--29,1A -- 106 лв.
                    <br />19,4Ah--38,8A -- 141 лв.
                    <br />24,2Ah--48,5A -- 176 лв.
                    <br />

                    <br />ЗА 12V БАТЕРИЯ Елементи 21700(12.6V, 3S):
                    <br />  Ah-----Пик.ток---Цена пакет
                    <br /> 4,8Ah -- 9,7A --  53 лв.
                    <br /> 9,7Ah -- 19,4A -- 106 лв.
                    <br />14,5Ah -- 29,1A -- 159 лв.
                    <br />19,4Ah -- 38,8A -- 211 лв.
                    <br />24,25Ah -- 48,5A --264 лв.
                    <br />29,1Ah -- 58,2A -- 316 лв.
                    <br />33,9Ah -- 67,9A -- 369 лв.
                    <br />38,8Ah -- 77,6A -- 421 лв.
                    <br />43,6Ah -- 87,3A -- 473 лв.
                    <br />
                    <br />ЗА 14V БАТЕРИЯ Елементи 21700(16.8V, 4S):
                    <br />  Ah-----Пик.ток---Цена пакет
                    <br /> 4,8Ah -- 9,7 A -- -71 лв.
                    <br /> 9,7Ah -- 19,4 A -- 141 лв.
                    <br />14,5Ah -- 29,1 A -- 211 лв.
                    <br />19,4Ah -- 38,8 A -- 281 лв.
                    <br />24,2Ah -- 48,5 A -- 351 лв.
                    <br />29,1Ah -- 58,2 A -- 421 лв.
                    <br />33,95Ah --67,9 A -- 491 лв.
                    <br />38,8Ah -- 77,6 A -- 560 лв.
                    <br />43,65Ah --87,3 A -- 630 лв.
                    <br />
                    <br />ЗА 18V БАТЕРИЯ Елементи 21700(21V, 5S):
                    <br /> Ah------Пик.ток---Цена пакет
                    <br /> 4,8Ah --  9,7 A -- -88 лв.
                    <br /> 9,7Ah -- 19,4 A -- 176 лв.
                    <br />14,5Ah -- 29,1 A -- 264 лв.
                    <br />19,4Ah -- 38,8 A -- 351 лв.
                    <br />24,2Ah -- 48,5 A -- 438 лв.
                    <br />29,1Ah -- 58,2 A -- 525 лв.
                    <br />33,9Ah -- 67,9 A -- 612 лв.
                    <br />
                    <br />ЗА 22V БАТЕРИЯ Елементи 21700(25.2V, 6S):
                    <br />Ah------Пик.ток----Цена пакет
                    <br />4,8Ah --  9,7 A -- -106 лв.
                    <br />9,7Ah -- -19,4 A -- 211 лв.
                    <br />14,5Ah -- 29,1 A -- 316 лв.
                    <br />19,4Ah -- 38,8 A -- 421 лв.
                    <br />24,2Ah -- 48,5 A -- 525 лв.
                    <br />29,1Ah -- 58,2 A -- 630 лв.
                    <br />33,9Ah -- 67,9 A -- 734 лв.
                    <br />
                    <br />
                </div>
            </div>
            <br />
            <br />
            <strong>ЗА БАТЕРИИ С КЛЕТКИ С НАЙ-ВИСОК РАЗРЯДЕН ТОК за бормашини, флексове, винтоверти:</strong>
            <br />
            <br />
            <div class="row">
                <div class="col-md-4">
                    <br />ЗА 3.7V БАТЕРИЯ Елементи Samsung 25R(4.2V, 1S):
                    <br /> Ah-----Пик.ток--Цена пакет
                    <br /> 5Ah ------40 A --30 лв.
                    <br /> 7,5Ah ----60 A --44 лв.
                    <br /> 10Ah -----80 A --59 лв.
                    <br /> 12,5Ah --100 A --73 лв.
                    <br /> 15Ah ----120 A --88 лв.
                    <br /> 17,5Ah --140 A --103 лв.
                    <br /> 20Ah ----160 A --117 лв.

                    <br />ЗА 7.4V БАТЕРИЯ Елементи Samsung 25R(8.4V, 2S):
                    <br />-Ah------Пик.ток--Цена пакет
                    <br /> 2,5Ah -- 20 A -- 30 лв.
                    <br /> 5Ah -- --40 A -- 59 лв.
                    <br /> 7,5Ah -- 60 A -- 88 лв.
                    <br />10Ah -- --80 A -- 117 лв.
                    <br />12,5Ah -- 100 A -- 146 лв.
                    <br />15Ah -- --120 A -- 175 лв.
                    <br />17,5Ah -- 140 A -- 204 лв.
                    <br />20Ah -- --160 A -- 233 лв.

                    <br />ЗА 12V БАТЕРИЯ Елементи Samsung 25R(12.6V, 3S):
                    <br /> Ah------Пик.ток--Цена пакет
                    <br /> 2,5Ah -- 20 A -- 44 лв.
                    <br /> 5Ah -- --40 A -- 88 лв.
                    <br /> 7,5Ah -- 60 A -- 132 лв.
                    <br />10Ah -- --80 A -- 175 лв.
                    <br />12,5Ah -- 100 A -- 219 лв.
                    <br />15Ah -- --120 A -- 262 лв.
                    <br />17,5Ah -- 140 A -- 306 лв.
                    <br />20Ah -- --160 A -- 349 лв.
                    <br />22,5Ah -- 180 A -- 392 лв.
                    <br />25Ah -- --200 A -- 435 лв.
                    <br />27,5Ah -- 220 A -- 479 лв.
                    <br />30Ah -- --240 A -- 522 лв.
                    <br />32,5Ah -- 260 A -- 565 лв.
                    <br />
                    <br />ЗА 14.8V БАТЕРИЯ Елементи Samsung 25R(16.8V, 4S):
                    <br />  Ah----Пик.ток--Цена пакет
                    <br /> 2,5Ah -- 20 A -- 59 лв.
                    <br /> 5Ah -- --40 A -- 117 лв.
                    <br /> 7,5Ah -- 60 A -- 175 лв.
                    <br />10Ah -- --80 A -- 233 лв.
                    <br />12,5Ah -- 100 A -- 291 лв.
                    <br />15Ah -- --120 A -- 349 лв.
                    <br />17,5Ah -- 140 A -- 407 лв.
                    <br />20Ah -- --160 A -- 464 лв.
                    <br />22,5Ah -- 180 A -- 522 лв.
                    <br />25Ah -- --200 A -- 579 лв.
                    <br />27,5Ah -- 220 A -- 636 лв.
                    <br />30Ah -- --240 A -- 694 лв.
                    <br />32,5Ah -- 260 A -- 751 лв.
                    <br />35Ah -- --280 A -- 808 лв.
                    <br />37,5Ah -- 300 A -- 864 лв.
                    <br />40Ah -- --320 A -- 921 лв.
                    <br />42,5Ah -- 340 A -- 978 лв.

                    <br />ЗА 18V БАТЕРИЯ Елементи Samsung 25R(21V, 5S):
                    <br /> Ah------Пик.ток--Цена пакет
                    <br /> 2,5Ah -- 20 A -- 73 лв.
                    <br /> 5Ah -- --40 A -- 146 лв.
                    <br /> 7,5Ah -- 60 A -- 219 лв.
                    <br />10Ah -- --80 A -- 291 лв.
                    <br />12,5Ah -- 100 A -- 363 лв.
                    <br />15Ah -- --120 A -- 435 лв.
                    <br />17,5Ah -- 140 A -- 507 лв.
                    <br />20Ah -- --160 A -- 579 лв.
                    <br />22,5Ah -- 180 A -- 651 лв.
                    <br />25Ah -- --200 A -- 722 лв.
                    <br />27,5Ah -- 220 A -- 793 лв.
                    <br />30Ah -- --240 A -- 864 лв.

                    <br />ЗА 22V БАТЕРИЯ Елементи Samsung 25R (25.2V, 6S):
                    <br /> 2,5Ah -- 20 A -- 88 лв.
                    <br /> 5Ah -- --40 A -- 175 лв.
                    <br /> 7,5Ah -- 60 A -- 262 лв.
                    <br />10Ah -- --80 A -- 349 лв.
                    <br />12,5Ah -- 100 A -- 435 лв.
                    <br />15Ah -- --120 A -- 522 лв.
                    <br />17,5Ah -- 140 A -- 608 лв.
                    <br />20Ah -- --160 A -- 694 лв.
                    <br />22,5Ah -- 180 A -- 779 лв.
                    <br />25Ah -- --200 A -- 864 лв.
                    <br />27,5Ah -- 220 A -- 950 лв.
                    <br />30Ah -- --240 A -- 1 034 лв.

                    <br />
                    <br />
                    <br />
                </div>
             
             <div class="row">
                 <div class="col-md-4">
                     <strong>ЗА БАТЕРИИ С КЛЕТКИ 21700 Samsung 50G:</strong>
                     <strong>
                         <br />
                         ЗА 24V БАТЕРИЯ (29.4V, 7S):
                     </strong>
                     <br />
                     <br />Ah--Пик.ток-Цена пакет-Цена с кутия
                     <br />4,9 Ah--9,7A--124лв.--274 лв.
                     <br />9,7 Ah--19,4A--246 лв.--396 лв.
                     <br />14,6 Ah--29,1A--369лв.--519 лв.
                     <br />19,4 Ah--38,8A--491лв.--641 лв.
                     <br />24,3 Ah--48,5A--612лв.--762 лв.
                     <br /> 29,1 Ah--58,2A--734лв.--884 лв.
                     <br /> 33,9 Ah--67,9A--855лв.--1005 лв.
                     <br /> 38,8 Ah--77,6A--976лв.
                     <br />43,7 Ah--87,3A--1096лв.
                     <br /> БМС водоустойчив 45А - 75 лв
                     <br />
                     <strong>ЗА 36V БАТЕРИЯ (42V, 10S):</strong>
                     <br /> Ah--Пик.ток--Цена пакет--Цена с кутия
                     <br /> 4,9 Ah--9,7A--169 лв.--299 лв.
                     <br /> 9,7 Ah--19,4A--334лв.--464 лв.
                     <br />14,6 Ah--29,1A--497лв.--627 лв.
                     <br />19,4 Ah--38,8A--657лв.--787 лв.
                     <br />24,3 Ah--48,5A--815лв.--945 лв.
                     <br />29,1 Ah--58,2A--969 лв.--1099 лв.
                     <br /> 33,9 Ah—67.9A--1122лв. и т.н..
                     <br />БМС 15A - 20 лв
                     <br />БМС 35A - 45 лв
                     <br /> БМС водоизолиран 40А (80лв)
                     <br />
                     <strong>ЗА 48V БАТЕРИЯ (54.6V, 13S):</strong>
                     <br />Ah--Пик.ток--Цена пакет--Цена с кутия
                     <br />4,9 Ah--9,7A--219лв.--349 лв.
                     <br /> 9,7 Ah--19,4A--432лв.--565 лв.
                     <br />14,6 Ah--29,1A--641 лв.--771 лв.
                     <br /> 19,4 Ah--38,8A--846 лв.--976 лв.
                     <br />24,2 Ah--48,5A--1046 лв.--1176 лв.
                     <br />и т.н..
                     <br />БМС 35А - 45 лв
                     <br />БМС водоизолиран 40А (80лв) или 80А (160 лв)
                     <br />
                     <strong>ЗА 52V БАТЕРИЯ (58.8V, 14S):</strong>
                     <br />Ah--Пик.ток--Цена пакет--Цена с кутия
                     <br />4,9 Ah--9,7 A--235лв.--365 лв.
                     <br /> 9,7 Ah--19,4 A--465лв.--595лв.
                     <br /> 14,6 Ah--29,1 A--689лв.--819лв.
                     <br /> 19,4 Ah--38,8 A--980лв.--1038лв.
                     <br /> 24,2 Ah--48,5 A--1122лв.
                     <br /> и т.н..
                     <br />БМС водоизолиран 40А (80лв)
                     <br />БМС 80А - 160 лв
                     <br />
                     <strong>ЗА 60V БАТЕРИЯ (67.2V, 16S):</strong>
                     <br /> Ah--Пик.ток--Цена пакет--Цена с кутия
                     <br /> 4,9 Ah--9,7A--268лв.--398лв.
                     <br /> 9,7 Ah--19,4A--529лв.--659лв.
                     <br /> 14,6 Ah--29,1A--783лв.--913лв.
                     <br />19,4 Ah--38,8A--1031лв.--1161 лв.
                     <br /> 24,3 Ah--48,5A--1271лв.
                     <br /> 29,1 Ah--58,2A--1505лв.
                     <br /> 33,9 Ah--67,9A--1732лв.
                     <br /> 38,8 Ah--77,6A--1952лв. и т.н..
                     <br />БМС водоизолиран 40А - 80 лв
                     <br />БМС 80А - 160 лв
                     <br />
                     <strong> ЗА 72V БАТЕРИЯ (84V, 20S):</strong>
                     <br />Ah--Пик.ток--Цена пакет--Цена с кутия
                     <br /> 4,9 Ah--9,7A--334лв.--464лв.
                     <br /> 9,7 Ah--19,4A--657лв.--787лв.
                     <br /> 14,6 Ah--29,1A--969лв.--1099лв.
                     <br /> 19,4 Ah--38,8A--1271лв.
                     <br />24,3 Ah--48,5A--1562лв.
                     <br />29,1 Ah--58,2A--1842лв.
                     <br />33,9 Ah--67,9A--2112лв.
                     <br /> 38,8 Ah--77,6A--2371лв.
                     <br /> 43,7 Ah--87,3A--2619лв. и т.н..
                     <br /> БМС 90А - 85 лв


                     <br />
                     <br />
                     <br />
                 </div>
                 <h2 id="Samsung25R">БАТЕРИИ С КЛЕТКИ С ВИСОК РАЗРЯДЕН ТОК САМСУНГ 25R:</h2>
                 <br />
                 <br />
                 <div class="row">
                     <div class="col">
                         <div class="form-group">
                             <strong>
                                 ЗА 24V БАТЕРИЯ Елементи Самсунг 25R(29.4V, 7S):
                             </strong>
                             <br />
                             <br />
                             Ah----Пик.ток--Цена пакет--Цена с кутия
                             <br />
                             5Ah----40A--204лв--354лв
                             <br />
                             7,5Ah--60A--306лв--456лв
                             <br />
                             10Ah--80A--407лв--557лв
                             <br />
                             12,5Ah--100A--507лв--657лв
                             <br />
                             15Ah----120A--608лв--758лв
                             <br />
                             17,5Ah--140A--708лв--858лв
                             <br />
                             20Ah----160A--808лв--958лв
                             <br />
                             22,5Ah--180A--907лв--1057лв
                             <br />
                             БМС водоизолиран 45А - 75 лв
                             <br />
                             Зарядно 2А - 45 лв
                             <br />
                             <br />
                             <strong>
                                 ЗА 36V БАТЕРИЯ (42V, 10S):
                             </strong>
                             <br />
                             <br />
                             Ah----Пик.ток--Цена пакет--Цена с кутия
                             <br />
                             5Ah----40A----291лв--441лв
                             <br />
                             7,5Ah--60A----435лв--585лв
                             <br />
                             10Ah---80A----579лв--729лв
                             <br />
                             12,5Ah--100A--722лв--872лв
                             <br />
                             15Ah----120A--864лв--1014лв
                             <br />
                             БМС 15A - 27 лв
                             <br />
                             БМС 35A - 45 лв
                             <br />
                             БМС водоизолиран 40А (95лв)
                             <br />
                             Зарядно 2А - 45 лв
                             <br />
                             Зарядно 5А - 80 лв
                             <br />
                             <br />
                         </div>
                     </div>
                 </div>
                 <div class="col">
                     <div class="form-group">

                     </div>
                 </div>
                 <div class="row">
                     <div class="col">
                         <div class="form-group">
                             <strong>
                                 С КЛЕТКИ САМСУНГ 25R:
                                 <br />
                                 ЗА 48V БАТЕРИЯ (54.6V, 13S):
                             </strong>
                             <br />
                             <br />
                             Ah----Пик.ток--Цена пакет--Цена с кутия
                             <br />
                             5Ah----40A----378лв---528лв
                             <br />
                             7,5Ah---60A----565лв--715лв
                             <br />
                             10Ah----80A----751лв--901лв
                             <br />
                             12,5Ah--100A--935лв--1085лв
                             <br />
                             БМС 35А - 45 лв
                             <br />
                             БМС водоизолиран 30А (105лв) или 80А (185лв)
                             <br />
                             Зарядно 2А - 45 лв
                             <br />
                             Зарядно 4А - 120 лв
                             <br />
                             <br />
                         </div>
                     </div>
                     <div class="col">
                         <div class="form-group">
                             <strong>
                                 С КЛЕТКИ САМСУНГ 25R:
                                 <br />
                                 ЗА 52V БАТЕРИЯ (58.8V, 14S):
                             </strong>
                             <br />
                             <br />
                             Ah----Пик.ток--Цена пакет--Цена с кутия
                             <br />
                             5Ah----40A--407лв--557лв
                             <br />
                             7,5Ah--60A--608лв--758лв
                             <br />
                             10Ah---80A--808лв--958лв
                             <br />
                             БМС водоизолиран 40А - 105
                             <br />
                             Зарядно 4А - 120 лв
                             <br />
                             <br />
                         </div>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col">
                         <div class="form-group">
                             <strong>
                                 С КЛЕТКИ САМСУНГ 25R:
                                 <br />
                                 ЗА 60V БАТЕРИЯ (67.2V, 16S):
                             </strong>
                             <br />
                             <br />
                             5Ah----40A--464лв--614лв
                             <br />
                             7,5Ah--60A--491лв--589лв
                             <br />
                             10Ah---80A--694лв--844лв
                             <br />
                             БМС водоизолиран 45А - 80 лв
                             <br />
                             БМС 80А - 160 лв
                             <br />
                             БМС 40А - 110 лв
                             <br />
                             Зарядно 2А - 70 лв
                             <br />
                             Зарядно 5А - 130 лв
                             <br />
                             <br />
                         </div>
                     </div>
                     <div class="col">
                         <div class="form-group">
                             <strong>
                                 С КЛЕТКИ САМСУНГ 25R:
                                 <br />
                                 ЗА 72V БАТЕРИЯ (84V, 20S):
                             </strong>
                             <br />
                             <br />
                             Ah----Пик.ток--Цена пакет--Цена с кутия
                             <br />
                             5Ah----40A--579лв--729лв
                             <br />
                             20Ah----160A--2251лв.
                             <br />
                             30Ah--240A--3312лв.
                             <br />
                             <br />
                             БМС 90А - 120 лв
                             <br />
                             Зарядно 2.5А - 120 лв
                             <br />
                             Зарядно 4А - 200 лв
                             <br />
                         </div>
                     </div>
                 </div>
                 <h2 id="Samsung35Е">ЗА БАТЕРИИ С КЛЕТКИ С ВИСОК КАПАЦИТЕТ САМСУНГ 35Е:</h2>
                 <br />
                 <div class="row">
                     <div class="col">
                         <div class="form-group">
                             <strong>
                                 ЗА 24V БАТЕРИЯ (29.4V, 7S):
                             </strong>
                             <br />
                             <br />
                             Ah----Пик.ток--Цена пакет--Цена с кутия
                             <br />
                             7,0Ah----20A--246лв--396лв
                             <br />
                             10,5Ah--30A--369лв--519лв
                             <br />
                             14Ah----40A--491лв--641лв
                             <br />
                             17,5Ah--50A--612лв--762лв
                             <br />
                             21Ah----60A--734лв--671лв
                             <br />
                             24,5Ah--70A--855лв--1005лв
                             <br />
                             28Ah----80A--976лв--1126лв
                             <br />
                             31,5Ah--90A--1096лв--1246лв
                             <br />
                             БМС 40А - 75лв
                             <br />
                             Зарядно 2А - 45 лв
                             <br />
                             <br />
                         </div>
                     </div>
                     <div class="col">
                         <div class="form-group">
                             <strong>
                                 ЗА 36V БАТЕРИЯ (42V, 10S):
                             </strong>
                             <br />
                             <br />
                             Ah----Пик.ток--Цена пакет--Цена с кутия
                             <br />
                             7,0Ah----20A--351лв--501лв
                             <br />
                             10,5Ah--30A--525лв--675лв
                             <br />
                             14Ah----40A--699лв--849лв
                             <br />
                             17,5Ah--50A--872лв--1022лв
                             <br />
                             21Ah----60A--1044лв--1194лв
                             <br />
                             БМС 35A - 45 лв
                             <br />
                             БМС водоизолиран 40А (95лв)
                             <br />
                             Зарядно 1А - 45 лв
                             <br />
                             Зарядно 5А - 120 лв
                             <br />
                             <br />
                         </div>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col">
                         <div class="form-group">
                             <strong>
                                 С КЛЕТКИ САМСУНГ 35E:
                                 <br />
                                 ЗА 48V БАТЕРИЯ (54.6V, 13S):
                             </strong>
                             <br />
                             <br />
                             Ah----Пик.ток--Цена пакет--Цена с кутия
                             <br />
                             7,0Ah----20A--456лв--606лв
                             <br />
                             10,5Ah--30A--682лв--832лв
                             <br />
                             14Ah----40A--907лв--1057лв
                             <br />
                             17,5Ah--50A--1130лв--1280лв
                             <br />
                             БМС 35А - 45 лв
                             <br />
                             БМС водоизолиран 35А (105лв) или 45А (80лв), или 80А (185 лв)
                             <br />
                             Зарядно 2А - 45 лв
                             <br />
                             Зарядно 4А - 120 лв
                             <br />
                             <br />
                         </div>
                     </div>
                     <div class="col">
                         <div class="form-group">
                             <strong>
                                 С КЛЕТКИ САМСУНГ 35E:
                                 <br />
                                 ЗА 52V БАТЕРИЯ (58.8V, 14S):
                             </strong>
                             <br />
                             <br />
                             Ah----Пик.ток--Цена пакет--Цена с кутия
                             <br />
                             7,0Ah----20A--491лв--641лв
                             <br />
                             10,5Ah--30A--734лв--884лв
                             <br />
                             14Ah----40A--976лв--1126лв
                             <br />
                             БМС водоизолиран 35А (65лв) или 45А (80лв)
                             <br />
                             БМС 40А - 105 лв
                             <br />
                             Зарядно 2А - 70 лв
                             <br />
                             Зарядно 5А - 130 лв
                             <br />
                         </div>
                     </div>
                 </div>
                 <div class="row">
                     <div class="col">
                         <div class="form-group">
                             <strong>
                                 С КЛЕТКИ САМСУНГ 35E:
                                 <br />
                                 ЗА 60V БАТЕРИЯ (67.2V, 16S):
                             </strong>
                             <br />
                             <br />
                             Ah----Пик.ток--Цена пакет--Цена с кутия
                             <br />
                             7,0Ah----20A--560лв--710лв
                             <br />
                             10,5Ah--30A--838лв--988лв
                             <br />
                             14Ah----40A--1113лв--1263лв
                             <br />
                             БМС водоизолиран 45А - 80 лв
                             <br />
                             БМС 40А - 110 лв
                             <br />
                             Зарядно 2А - 70 лв
                             <br />
                             Зарядно 5А - 130 лв
                             <br />
                             <br />
                         </div>
                     </div>
                     <div class="col">
                         <div class="form-group">
                             <strong>
                                 С КЛЕТКИ САМСУНГ 35E:
                                 <br />
                                 ЗА 72V БАТЕРИЯ (84V, 20S):
                             </strong>
                             <br />
                             <br />
                             Ah----Пик.ток--Цена пакет--Цена с кутия
                             <br />
                             7,0Ah----20A--699лв--849лв
                             <br />
                             10,5Ah--30A--1044лв--1194лв
                             <br />
                             21Ah--60A--2064лв.
                             <br />
                             БМС 90А - 120 лв
                             <br />
                             Зарядно 2.5А - 120 лв
                             <br />
                             Зарядно 4А - 200 лв
                             <br />
                         </div>
                     </div>
                 </div>
                 <h3> <strong><a href="#from-beginig">Върни се в началото на Литиево йонни пакети от батерии.</a></strong></h3>
                 <br />
                 <br />
                 <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>
                 <br />
                 <br />
                 <div class="form-group">
                     Съвети относно избора и ползването на литиево-йонни батерии:
                     <br />
                     - Да не се разреждат докрай
                     <br />
                     - Да не се държат разредени
                     <br />
                     - Да се съхраняват за дълги периоди на около 50 % заредени и на 15-20 градуса температура с ниска влажност
                     <br />
                     - Да се зареждат само със зарядни за литиево-йонни батерии
                     <br />
                     - Номиналният препоръчителен продължителен разряден ток на батерията е около 2-3 пъти по-нисък от посоченият пиков ток
                     <br />
                 </div>
                 <br />
                 <br />
                 <div class="row">
                     <div class="col-md-4">
                         <img class="descriptive-image" src="~/images/BatteryPacks/BatteryPack-2.jpg" />
                     </div>
                     <div class="col-md-4">
                         <img class="descriptive-image" src="~/images/BatteryPacks/Pack-3.JPG" />
                     </div>
                     <div class="col-md-4">
                         <img class="descriptive-image" src="~/images/BatteryPacks/BatteryPackVelo.jpg" />
                     </div>
                 </div>
             </div>
                            </div>
                        </div>
                    </div>
              



