
@{
    ViewData["Title"] = "BatteryPack";
}

<div class="container product-container">

    <img src="~/images/BatteryPacks/Pack-1.JPG" class="product-main-image" />
    <h3 id="from-beginig">Литиево йонни пакети от батерии.</h3>
    <div class="description">

        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>
        <br />
        <br />
        Изработване на литиево-йонни батерии за електрически коли, лодки, RC коли, дронове и др.
        <br />
        Основна дейност на фирмата  е продажба и изработка на конфигурации от литиево-йонни батерии и можем да изработим батерия с волтаж и капацитет по Ваше задание.
        <br />
        Работим само с нови оригинални батерии на Самсунг и Сони с доказано качесто!
        <br />
        Долуизброените конфигурации батерии в таблицата включват цялостна окомплектовка до завършен и готов за ползване продукт.
        <br />
        <br />
        <strong>ЦЕНИ НА РАЗЛИЧНИ КОНФИГУРАЦИИ БАТЕРИИ OT 1S ДО 22S(3.7V ДО 80V): опаковани с твърда и мека обвивка (пакет, цяла батерия).</strong>
        <br />
        <br />
        <h3> <strong><a href="#Under 25V">До 25.2V, 6S</a>.</strong></h3>
        <h3> <strong><a href="#Over 25V">Над 25.2V, 6S</a>.</strong></h3>
        
       

        <div class="technical-parameters">
            <h2 id="Under 25V">До 25.2V, 6S</h2>
            <br />
            <div class="row">
                <div class="col-md-4">
                    <strong>ЗА 3.7V БАТЕРИЯ Елементи Samsung 29E (4.2V, 1S):</strong>
                    <br />
                    <br />
                    Ah---Пик.ток--Цена пакет
                    <br />
                    5,8Ah--16A--19лв.
                    <br />
                    8,7Ah--24A--29лв.
                    <br />
                    11,6Ah--32A--38лв.
                    <br />
                    14,5Ah--40A--48лв.
                    <br />
                    17,4Ah--48A--57лв.
                    <br />
                    20,3Ah--56A--66лв.
                    <br />
                    23,2Ah--64A--76лв.
                    <br />
                    26,1Ah--72A--85лв.
                    <br />
                    29Ah--80A--94лв.
                    <br />
                    31,9Ah--88A--104лв.
                    <br />
                    34,8Ah--96A--113лв.
                    <br />
                    37,7Ah--104A--123лв.
                    <br />
                    40,6Ah--112A--132лв.
                    <br />
                    43,5Ah--120A--141лв.
                    <br />
                    46,4Ah--128A--150лв.
                    <br />
                    49,3Ah--136A--160лв.
                    <br />
                    52,2Ah--144A--169лв.
                    <br />
                    55,1Ah--152A--178лв.
                    <br />
                    58Ah--160A--187лв.
                    <br />
                    60,9Ah--168A--197лв.
                    <br />
                    63,8Ah--176A--206лв.
                    <br />
                    66,7Ah--184A--215лв.
                    <br />
                    69,6Ah--192A--224лв.
                    <br />
                    72,5Ah--200A--234лв.
                    <br />
                    75,4Ah--208A--243лв.
                    <br />
                    78,3Ah--216A--252лв.
                    <br />
                    81,2Ah--224A--261лв.
                </div>
                <div class="col-md-4">
                    <strong> ЗА 7.4V БАТЕРИЯ Елементи Samsung 29E(8.4V, 2S):</strong>
                    <br />
                    <br />
                    Ah----Пик.ток--Цена пакет
                    <br />
                    2,9Ah--8A--19лв.
                    <br />
                    5,8Ah--16A--38лв.
                    <br />
                    8,7Ah--24A--57лв.
                    <br />
                    11,6Ah--32A--76лв.
                    <br />
                    14,5Ah--40A--94лв.
                    <br />
                    17,4Ah--48A--113лв.
                    <br />
                    20,3Ah--56A--132лв.
                    <br />
                    23,2Ah--64A--150лв.
                    <br />
                    26,1Ah--72A--169лв.
                    <br />
                    29Ah--80A--187лв.
                    <br />
                    31,9Ah--88A--206лв.
                    <br />
                    34,8Ah--96A--224лв.
                    <br />
                    37,7Ah--104A--243лв.
                    <br />
                    40,6Ah--112A--261лв.
                    <br />
                    43,5Ah--120A--279лв.
                    <br />
                    46,4Ah--128A--298лв.
                    <br />
                    49,3Ah--136A--316лв.
                    <br />
                    <br />
                </div>
                <div class="col-md-4">
                    <strong>ЗА 12V БАТЕРИЯ Елементи Samsung 29E(12.6V, 3S):</strong>
                    <br />
                    <br />
                    Ah----Пик.ток--Цена пакет
                    <br />
                    2,9Ah--8A--29лв.
                    <br />
                    5,8Ah--16A--57лв.
                    <br />
                    8,7Ah--24A--85лв.
                    <br />
                    11,6Ah--32A--113лв.
                    <br />
                    14,5Ah--40A--141лв.
                    <br />
                    17,4Ah--48A--169лв.
                    <br />
                    20,3Ah--56A--197лв.
                    <br />
                    23,2Ah--64A--224лв.
                    <br />
                    26,1Ah--72A--252лв.
                    <br />
                    29Ah--80A--279лв.
                    <br />
                    31,9Ah--88A--307лв.
                    <br />
                    34,8Ah--96A--334лв.
                    <br />
                    37,7Ah--104A--361лв.
                    <br />
                    40,6Ah--112A--389лв.
                    <br />
                    43,5Ah--120A--416лв.
                    <br />
                    46,4Ah--128A--443лв.
                    <br />
                    49,3Ah--136A--469лв.
                    <br />
                    52,2Ah--144A--496лв.
                    <br />
                    55,1Ah--152A--523лв.
                    <br />
                    58Ah--160A--549лв.
                    <br />
                    60,9Ah 168A 576лв.
                    <br />
                    63,8Ah--176A--602лв.
                    <br />
                    66,7Ah--184A--629лв.
                    <br />
                    69,6Ah--192A--655лв.
                    <br />
                    72,5Ah--200A--681лв.
                    <br />
                    75,4Ah 208A 707лв.
                    <br />
                    78,3Ah--216A--733лв.
                    <br />
                    81,2Ah--224A--759лв.
                    <br />
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <strong>ЗА 14.8V БАТЕРИЯ Елементи Samsung 29E(16.8V, 4S):</strong>
                    <br />
                    <br />
                    Ah----Пик.ток--Цена пакет
                    <br />
                    2,9Ah--8A--38лв.
                    <br />
                    5,8Ah--16A--76лв.
                    <br />
                    8,7Ah--24A--113лв.
                    <br />
                    11,6Ah--32A--150лв.
                    <br />
                    14,5Ah--40A--187лв.
                    <br />
                    17,4Ah--48A--224лв.
                    <br />
                    20,3Ah--56A--261лв.
                    <br />
                    23,2Ah--64A--298лв.
                    <br />
                    26,1Ah--72A--334лв.
                    <br />
                    29Ah--80A--370лв.
                    <br />
                    31,9Ah--88A--407лв.
                    <br />
                    34,8Ah--96A--443лв.
                    <br />
                    37,7Ah--104A--478лв.
                    <br />
                    40,6Ah--112A--514лв.
                    <br />
                    <br />
                </div>
                <div class="col-md-4">
                    <strong>ЗА 18V БАТЕРИЯ (21V, 5S):</strong>
                    <br />
                    <br />
                    Ah----Пик.ток--Цена пакет
                    <br />
                    2,9Ah--8A--48лв.
                    <br />
                    5,8Ah--16A--94лв.
                    <br />
                    8,7Ah-- 24A--141лв.
                    <br />
                    11,6Ah--32A--187лв.
                    <br />
                    14,5Ah--40A--234лв.
                    <br />
                    17,4Ah--48A--279лв.
                    <br />
                    20,3Ah--56A--325лв.
                    <br />
                    23,2Ah--64A--370лв.
                    <br />
                    26,1Ah--72A--416лв.
                    <br />
                    29Ah--80A--460лв.
                    <br />
                    31,9Ah--88A--505лв.
                    <br />
                    34,8Ah--96A--549лв.
                    <br />
                    37,7Ah--104A--594лв.
                    <br />
                    40,6Ah--112A--637лв.
                    <br />
                    <br />
                </div>
                <div class="col-md-4">
                    <strong>ЗА 22V БАТЕРИЯ Елементи Samsung 29E(25.2V, 6S):</strong>
                    <br />
                    <br />
                    Ah----Пик.ток--Цена пакет
                    <br />
                    2,9Ah--8A--57лв.
                    <br />
                    5,8Ah--16A--113лв.
                    <br />
                    8,7Ah--24A--169лв.
                    <br />
                    11,6Ah--32A--224лв.
                    <br />
                    14,5Ah--40A--379лв.
                    <br />
                    17,4Ah--48A--334лв.
                    <br />
                    20,3Ah--56A--389лв.
                    <br />
                    23,2Ah--64A--443лв.
                    <br />
                    26,1Ah--72A--496лв.
                    <br />
                    29Ah--80A--549лв.
                    <br />
                    31,9Ah--88A--602лв.
                    <br />
                    <br />
                </div>
            </div>
            <br />
            <br />
            <strong>ЗА БАТЕРИИ С КЛЕТКИ С НАЙ-ВИСОК РАЗРЯДЕН ТОК - Самсунг 25R:</strong>
            <br />
            <br />
            <div class="row">
                <div class="col-md-4">
                    <strong>ЗА 3.7V БАТЕРИЯ Елементи Самсунг 25R(4.2V, 1S):</strong>
                    <br />
                    <br />
                    Ah----Пик.ток--Цена пакет
                    <br />
                    5Ah--40A--19лв.
                    <br />
                    7,5Ah--60A--29лв.
                    <br />
                    10Ah--80A--38лв.
                    <br />
                    12,5Ah--100A--48лв.
                    <br />
                    15Ah--120A--57лв.
                    <br />
                    17,5Ah--140A--66лв.
                    <br />
                    20Ah--160A--76лв.
                    <br />
                    22,5Ah --180A--85лв.
                    <br />
                    25Ah--200A--94лв.
                    <br />
                    27,5Ah--220A--104лв.
                    <br />
                    30Ah--240A--113лв.
                    <br />
                    32,5Ah--260A--123лв
                    <br />
                    35Ah --280A--132лв.
                    <br />
                    37,5Ah--300A--141лв.
                    <br />
                    40Ah--320A--150лв.
                    <br />
                    <br />
                </div>
                <div class="col-md-4">
                    <strong>ЗА 7.4V БАТЕРИЯ Елементи Самсунг 25R(8.4V, 2S):</strong>
                    <br />
                    <br />
                    Ah----Пик.ток--Цена пакет
                    <br />
                    2,5Ah--20A--19лв.
                    <br />
                    5Ah--40A--38лв.
                    <br />
                    7,5Ah--60A--57лв.
                    <br />
                    10Ah--80A--76лв.
                    <br />
                    12,5Ah--100A--94лв.
                    <br />
                    15Ah--120A--113лв.
                    <br />
                    17,5Ah--140A--132лв.
                    <br />
                    20Ah--160A--150лв.
                    <br />
                    22,5Ah --180A--169лв
                    <br />
                    25Ah--200A--187лв.
                    <br />
                    27,5Ah--220A--233лв.
                    <br />
                    30Ah--240A--206лв.
                    <br />
                    32,5Ah--260A--224лв.
                    <br />
                    35Ah--280A--243лв.
                    <br />
                    37,5Ah--300A--261лв.
                    <br />
                    40Ah--320A--279лв.
                    <br />
                    <br />
                </div>
                <div class="col-md-4">
                    <strong>ЗА 12V БАТЕРИЯ Елементи Самсунг 25R(12.6V, 3S):</strong>
                    <br />
                    <br />
                    Ah----Пик.ток--Цена пакет
                    <br />
                    2,5Ah--20A--29лв.
                    <br />
                    5Ah--40A--57лв.
                    <br />
                    7,5Ah--60A--85лв.
                    <br />
                    10Ah--80A--113лв.
                    <br />
                    12,5Ah--100A--141лв.
                    <br />
                    15Ah--120A--169лв.
                    <br />
                    17,5Ah--140A--197лв.
                    <br />
                    20Ah--160A--224лв.
                    <br />
                    22,5Ah--180A--252лв.
                    <br />
                    25Ah--200A--279лв.
                    <br />
                    27,5Ah--220A--307лв.
                    <br />
                    30Ah--240A--334лв.
                    <br />
                    32,5Ah--260A--361лв.
                    <br />
                    35Ah--280A--389лв.
                    <br />
                    37,5Ah--300A--416лв.
                    <br />
                    40Ah--320A--443лв.
                    <br />
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <strong>ЗА 14.8V БАТЕРИЯ Елементи Самсунг 25R(16.8V, 4S): </strong>
                    <br />
                    <br />
                    Ah----Пик.ток--Цена пакет
                    <br />
                    2,5Ah--20A--38лв.
                    <br />
                    5Ah--40A-- 76лв.
                    <br />
                    7,5Ah--60A--113лв.
                    <br />
                    10Ah--80A--150лв.
                    <br />
                    12,5Ah--100A--187лв.
                    <br />
                    15Ah--120A--224лв.
                    <br />
                    17,5Ah--140A--261лв.
                    <br />
                    20Ah--160A--298лв.
                    <br />
                    22,5Ah--180A--334лв.
                    <br />
                    25Ah--200A--370лв.
                    <br />
                    27,5Ah--220A--407лв.
                    <br />
                    30Ah--240A--443лв.
                    <br />
                    32,5Ah--260A--478лв.
                    <br />
                    35Ah--280A--514лв.
                    <br />
                    37,5Ah--300A--549лв.
                    <br />
                    40Ah--320A--585лв.
                    <br />
                    <br />
                </div>
                <div class="col-md-4">
                    <strong>ЗА 18V БАТЕРИЯ Елементи Самсунг 25R(21V, 5S):</strong>
                    <br />
                    <br />
                    Ah----Пик.ток--Цена пакет
                    <br />
                    2,5Ah--20A--48лв.
                    <br />
                    5Ah--40A--94лв.
                    <br />
                    7,5Ah--60A--141лв.
                    <br />
                    10Ah--80A--187лв.
                    <br />
                    12,5Ah--100A--234лв.
                    <br />
                    15Ah--120A--279лв.
                    <br />
                    17,5Ah--140A--325лв.
                    <br />
                    20Ah--160A--370лв.
                    <br />
                    22,5Ah--180A--416лв.
                    <br />
                    25Ah--200A--460лв.
                    <br />
                    27,5Ah--220A--505лв.
                    <br />
                    30Ah--240A--549лв.
                    <br />
                    32,5Ah--260A--594лв.
                    <br />
                    35Ah--280A--637лв.
                    <br />
                    37,5Ah--300A--681лв.
                    <br />
                    40Ah--320A--724лв.
                    <br />
                    <br />
                </div>
                <div class="col-md-4">
                    <strong>ЗА 14.4V БАТЕРИЯ Елементи Самсунг 35Е(16.8V, 4S):</strong>
                    <br />
                    <br />
                    Ah----Пик.ток--Цена пакет
                    <br />
                    3,5Ah--10A--48лв.
                    <br />
                    7Ah--20A--96лв.
                    <br />
                    10,5Ah 30A 143лв.
                    <br />
                    14Ah--40A--190лв.
                    <br />
                    17,5Ah--50A--236лв.
                    <br />
                    21Ah--60A--282лв.
                    <br />
                    24,5Ah 70A 329лв.
                    <br />
                    28Ah--80A--374лв.
                    <br />
                    31,5Ah--90A--420лв.
                    <br />
                    35Ah--100A--465лв.
                    <br />
                    38,5Ah--110A--510лв.
                    <br />
                    42Ah--120A--555лв.
                    <br />
                    45,5Ah--130A--599лв.
                    <br />
                    49Ah--140A--644лв.
                    <br />
                    <br />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <strong>ЗА 18V БАТЕРИЯ Елементи Самсунг 35Е(21V, 5S):</strong>
                    <br />
                    <br />
                    Ah----Пик.ток--Цена пакет
                    <br />
                    3,5Ah--10A--60лв.
                    <br />
                    7Ah--20A--119лв.
                    <br />
                    10,5Ah 30A 178лв.
                    <br />
                    14Ah--40A--236лв.
                    <br />
                    17,5Ah--50A--294лв.
                    <br />
                    21Ah--60A--351лв.
                    <br />
                    24,5Ah--70A--409лв.
                    <br />
                    28Ah--80A--465лв.
                    <br />
                    31,5Ah--90A--521лв.
                    <br />
                    35Ah--100A--577лв.
                    <br />
                    38,5Ah--110A--633лв.
                    <br />
                    42Ah--120A--687лв.
                    <br />
                    45,5Ah--130A--742лв.
                    <br />
                    49Ah--140A--796лв.
                    <br />
                    <br />
                </div>
                <div class="col-md-4">
                    <strong>ЗА 22V БАТЕРИЯ Елементи Самсунг 35Е(25.2V, 6S):</strong>
                    <br />
                    <br />
                    Ah----Пик.ток--Цена пакет
                    <br />
                    3,5Ah--10A--72лв.
                    <br />
                    7Ah--20A--143лв.
                    <br />
                    10,5Ah--30A--213лв.
                    <br />
                    14Ah--40A--282лв.
                    <br />
                    17,5Ah--50A--351лв.
                    <br />
                    21Ah--60A--420лв.
                    <br />
                    24,5Ah--70A--488лв.
                    <br />
                    28Ah--80A--555лв.
                    <br />
                    31,5Ah--90A-- 621лв.
                    <br />
                    35Ah--100A--687лв.
                    <br />
                    38,5Ah--110A--753лв.
                    <br />
                    42Ah--120A--818лв.
                    <br />
                    45,5Ah--130A--882лв.
                    <br />
                    49Ah-- 140A--945лв.
                    <br />
                    <br />
                </div>
                <div class="col-md-4">
                </div>
            </div>

            <h2 id="Over 25V">Над 25.2V, 6S</h2>
            <h3> <strong><a href="#Samsung25R">Kъм клетки Самсунг 25R</a>.</strong></h3>
            <h3> <strong><a href="#Samsung35Е">Kъм клетки Самсунг 35Е</a>.</strong></h3>
            <br />
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <strong>
                            С КЛЕТКИ САМСУНГ 29Е:
                            <br />
                            ЗА 24V БАТЕРИЯ (29.4V, 7S):
                        </strong>
                        <br />
                        <br />
                        Ah----Пик.ток--Цена пакет--Цена с кутия
                        <br />
                        2,9Ah----8A----66лв---192лв.
                        <br />
                        5,8Ah---16A---132лв--253лв.
                        <br />
                        8,7Ah----24A--197лв--314лв.
                        <br />
                        11,6Ah--32A--261лв--373лв.
                        <br />
                        14,5Ah--40A--325лв--432лв.
                        <br />
                        17,4Ah--48A--389лв--491лв.
                        <br />
                        20,3Ah--56A--452лв--550лв.
                        <br />
                        23,2Ah--64A--514лв--608лв.
                        <br />
                        26,1Ah--72A--576лв--665лв.
                        <br />
                        29Ah----80A--637лв.
                        <br />
                        31,9Ah--88A--699лв.
                        <br />
                        34,8Ah--96A--759лв.
                        <br />
                        37,7Ah--104A--819лв.
                        <br />
                        40,6Ah--112A--879лв.
                        <br />
                        43,5Ah--120A--938лв.
                        <br />
                        БМС 45А - 45 лв.
                        <br />
                        Зарядно 2А - 45 лв.
                        <br />
                        <br />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <strong>
                            С КЛЕТКИ САМСУНГ 29Е:
                            <br />
                            ЗА 36V БАТЕРИЯ (42V, 10S):
                        </strong>
                        <br />
                        <br />
                        Ah----Пик.ток--Цена пакет--Цена с кутия
                        <br />
                        5,8Ah---16A---187лв--304лв.
                        <br />
                        8,7Ah---24A---279лв--390лв.
                        <br />
                        11,6Ah--32A--370лв--474лв.
                        <br />
                        14,5Ah--40A--460лв--558лв.
                        <br />
                        17,4Ah--48A--549лв--640лв.
                        <br />
                        20,3Ah--56A--637лв.
                        <br />
                        23,2Ah--64A--724лв.
                        <br />
                        26,1Ah--72A--810лв.
                        <br />
                        29Ah----80A---895лв.
                        <br />
                        31,9Ah--88A--979лв.
                        <br />
                        34,8Ah--96A--1062лв.
                        <br />
                        БМС 35A - 45 лв.
                        <br />
                        БМС водоизолиран 35А (65лв) или 45А (80лв)
                        <br />
                        Зарядно 2А - 45 лв.
                        <br />
                        Зарядно 5А - 80 лв.
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <strong>
                            С КЛЕТКИ САМСУНГ 29Е:
                            <br />
                            ЗА 48V БАТЕРИЯ (54.6V, 13S):
                        </strong>
                        <br />
                        <br />
                        Ah----Пик.ток--Цена пакет--Цена с кутия
                        <br />
                        5,8Ah---16A---243лв---356лв
                        <br />
                        8,7Ah---24A---361лв---466лв
                        <br />
                        11,6Ah--32A---478лв---575лв
                        <br />
                        14,5Ah--40A---594лв---681лв
                        <br />
                        17,4Ah--48A---707лв
                        <br />
                        20,3Ah--56A---819лв
                        <br />
                        23,2Ah--64A---929лв
                        <br />
                        26,1Ah--72A---1038лв
                        <br />
                        29Ah--- 80A---1144лв
                        <br />
                        31,9Ah-88A---1250лв
                        <br />
                        БМС 35А - 45 лв
                        <br />
                        БМС водоизолиран
                        <br />
                        - 35А (65лв) или 45А (80лв),
                        <br />
                        или 80А (160 лв)
                        <br />
                        Зарядно 2А - 45 лв
                        <br />
                        Зарядно 4А - 80 лв
                        <br />
                        <br />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <strong>
                            С КЛЕТКИ САМСУНГ 29Е:
                            <br />
                            ЗА 52V БАТЕРИЯ (58.8V, 14S):
                        </strong>
                        <br />
                        <br />
                        Ah----Пик.ток--Цена пакет--Цена с кутия
                        <br />
                        5,8Ah---16A--261лв--373лв.
                        <br />
                        8,7Ah---24A--389лв--491лв.
                        <br />
                        11,6Ah--32A--514лв--608лв.
                        <br />
                        14,5Ah--40A--637лв.
                        <br />
                        17,4Ah--48A--759лв.
                        <br />
                        20,3Ah--56A--879лв.
                        <br />
                        23,2Ah--64A--996лв.
                        <br />
                        26,1Ah--72A--1112лв.
                        <br />
                        29Ah----80A--1225лв.
                        <br />
                        БМС водоизолиран
                        <br />
                        - 35А (65лв) или 45А (80лв)
                        <br />
                        БМС 80А - 160 лв.
                        <br />
                        Зарядно 4А - 80 лв.
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <strong>
                            С КЛЕТКИ САМСУНГ 29Е:
                            <br />
                            ЗА 60V БАТЕРИЯ (67.2V, 16S):
                        </strong>
                        <br />
                        <br />
                        Ah----Пик.ток--Цена пакет--Цена с кутия
                        <br />
                        5,8Ah---16A--298лв--407лв
                        <br />
                        8,7Ah---24A--443лв--541лв
                        <br />
                        11,6Ah--32A--585лв--673лв
                        <br />
                        14,5Ah--40A--724лв
                        <br />
                        17,4Ah--48A--862лв
                        <br />
                        20,3Ah--56A--996лв
                        <br />
                        23,2Ah--64A--1128лв
                        <br />
                        26,1Ah--72A--1258лв
                        <br />
                        БМС водоизолиран 45А - 80 лв
                        <br />
                        БМС 80А - 160 лв
                        <br />
                        Зарядно 2А - 60 лв
                        <br />
                        Зарядно 3А - 110 лв
                        <br />
                        <br />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <strong>
                            С КЛЕТКИ САМСУНГ 29Е:
                            <br />
                            ЗА 72V БАТЕРИЯ (84V, 20S):
                        </strong>
                        <br />
                        <br />
                        Ah----Пик.ток--Цена пакет--Цена с кутия
                        <br />
                        5,8Ah---16A--370лв--474лв
                        <br />
                        8,7Ah---24A--549лв--640лв
                        <br />
                        11,6Ah--32A--724лв
                        <br />
                        14,5Ah--40A--895лв
                        <br />
                        17,4Ah--48A--1062лв
                        <br />
                        20,3Ah--56A--1225лв
                        <br />
                        23,2Ah--64A--1384лв
                        <br />
                        26,1Ah--72A--1539лв
                        <br />
                        29Ah----80A--1690лв
                        <br />
                        БМС 90А - 85 лв
                        <br />
                        Зарядно 2.5А - 100 лв
                        <br />
                        Зарядно 4А - 170 лв
                        <br />
                        <br />
                    </div>
                </div>
            </div>

            <h2 id="Samsung25R">БАТЕРИИ С КЛЕТКИ С ВИСОК РАЗРЯДЕН ТОК САМСУНГ 25R:</h2>
            <br />
            <br />
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <strong>
                            ЗА 24V БАТЕРИЯ Елементи Самсунг 25R(29.4V, 7S):
                        </strong>
                        <br />
                        <br />
                        Ah----Пик.ток--Цена пакет--Цена с кутия
                        <br />
                        5Ah----40A--132лв--253лв
                        <br />
                        7,5Ah--60A--197лв--313лв
                        <br />
                        10Ah--80A--261лв--373лв
                        <br />
                        12,5Ah--100A--325лв--432лв
                        <br />
                        15Ah----120A--389лв--491лв
                        <br />
                        17,5Ah--140A--452лв--550лв
                        <br />
                        20Ah----160A--514лв--608лв
                        <br />
                        22,5Ah--180A--576лв--665лв
                        <br />
                        БМС 45А - 45 лв
                        <br />
                        Зарядно 2А - 45 лв
                        <br />
                        <br />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <strong>
                            ЗА 36V БАТЕРИЯ (42V, 10S):
                        </strong>
                        <br />
                        <br />
                        Ah----Пик.ток--Цена пакет--Цена с кутия
                        <br />
                        5Ah----40A----187лв--304лв
                        <br />
                        7,5Ah--60A----279лв--390лв
                        <br />
                        10Ah---80A----370лв--474лв
                        <br />
                        12,5Ah--100A--460лв--558лв
                        <br />
                        15Ah----120A--549лв--640лв
                        <br />
                        БМС 35A - 45 лв
                        <br />
                        БМС водоизолиран 35А (65лв) или 45А (80лв)
                        <br />
                        Зарядно 2А - 45 лв
                        <br />
                        Зарядно 5А - 80 лв
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <strong>
                            С КЛЕТКИ САМСУНГ 25R:
                            <br />
                            ЗА 48V БАТЕРИЯ (54.6V, 13S):
                        </strong>
                        <br />
                        <br />
                        Ah----Пик.ток--Цена пакет--Цена с кутия
                        <br />
                        5Ah----40A----243лв---361лв
                        <br />
                        7,5Ah---60A----361лв--466лв
                        <br />
                        10Ah----80A----478лв--575лв
                        <br />
                        12,5Ah--100A--594лв--681лв
                        <br />
                        БМС 35А - 45 лв
                        <br />
                        БМС водоизолиран 35А (65лв) или 45А (80лв), или 80А (160 лв)
                        <br />
                        Зарядно 2А - 45 лв
                        <br />
                        Зарядно 4А - 80 лв
                        <br />
                        <br />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <strong>
                            С КЛЕТКИ САМСУНГ 25R:
                            <br />
                            ЗА 52V БАТЕРИЯ (58.8V, 14S):
                        </strong>
                        <br />
                        <br />
                        Ah----Пик.ток--Цена пакет--Цена с кутия
                        <br />
                        5Ah----40A--261лв--373лв
                        <br />
                        7,5Ah--60A--389лв--491лв
                        <br />
                        10Ah---80A--514лв--608лв
                        <br />
                        БМС водоизолиран 35А (65лв) или 45А (80лв)
                        <br />
                        БМС 80А - 160 лв
                        <br />
                        Зарядно 4А - 80 лв
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <strong>
                            С КЛЕТКИ САМСУНГ 25R:
                            <br />
                            ЗА 60V БАТЕРИЯ (67.2V, 16S):
                        </strong>
                        <br />
                        <br />
                        5Ah----40A--298лв--407лв
                        <br />
                        7,5Ah--60A--443лв--541лв
                        <br />
                        10Ah---80A--585лв--673лв
                        <br />
                        БМС водоизолиран 45А - 80 лв
                        <br />
                        БМС 80А - 160 лв
                        <br />
                        Зарядно 2А - 60 лв
                        <br />
                        Зарядно 3А - 110 лв
                        <br />
                        <br />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <strong>
                            С КЛЕТКИ САМСУНГ 25R:
                            <br />
                            ЗА 72V БАТЕРИЯ (84V, 20S):
                        </strong>
                        <br />
                        <br />
                        Ah----Пик.ток--Цена пакет--Цена с кутия
                        <br />
                        2,5Ah--20A--187лв--316лв
                        <br />
                        5Ah----40A--370лв--474лв
                        <br />
                        7,5Ah--60A--549лв--640лв
                        <br />
                        БМС 90А - 85 лв
                        <br />
                        Зарядно 2.5А - 100 лв
                        <br />
                        Зарядно 4А - 170 лв
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <h2 id="Samsung35Е">ЗА БАТЕРИИ С КЛЕТКИ С ВИСОК КАПАЦИТЕТ САМСУНГ 35Е:</h2>
            <br />
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <strong>
                            ЗА 24V БАТЕРИЯ (29.4V, 7S):
                        </strong>
                        <br />
                        <br />
                        Ah----Пик.ток--Цена пакет--Цена с кутия
                        <br />
                        7,0Ah----20A--166лв--287лв
                        <br />
                        10,5Ah--30A--248лв--364лв
                        <br />
                        14Ah----40A--329лв--440лв
                        <br />
                        17,5Ah--50A--409лв--516лв
                        <br />
                        21Ah----60A--488лв--590лв
                        <br />
                        24,5Ah--70A--566лв--664лв
                        <br />
                        28Ah----80A--644лв--737лв
                        <br />
                        31,5Ah--90A--720лв--809лв
                        <br />
                        БМС 45А - 45лв
                        <br />
                        Зарядно 2А - 45 лв
                        <br />
                        <br />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <strong>
                            ЗА 36V БАТЕРИЯ (42V, 10S):
                        </strong>
                        <br />
                        <br />
                        Ah----Пик.ток--Цена пакет--Цена с кутия
                        <br />
                        7,0Ah----20A--236лв--353лв
                        <br />
                        10,5Ah--30A--351лв--462лв
                        <br />
                        14Ah----40A--465лв--569лв
                        <br />
                        17,5Ah--50A--577лв--675лв
                        <br />
                        21Ah----60A--687лв--778лв
                        <br />
                        БМС 35A - 45 лв
                        <br />
                        БМС водоизолиран 35А (65лв) или 45А (80лв)
                        <br />
                        Зарядно 2А - 45 лв
                        <br />
                        Зарядно 5А - 80 лв
                        <br />
                        <br />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <strong>
                            С КЛЕТКИ САМСУНГ 35E:
                            <br />
                            ЗА 48V БАТЕРИЯ (54.6V, 13S):
                        </strong>
                        <br />
                        <br />
                        Ah----Пик.ток--Цена пакет--Цена с кутия
                        <br />
                        7,0Ah----20A--306лв--419лв
                        <br />
                        10,5Ah--30A--454лв--559лв
                        <br />
                        14Ah----40A--599лв--696лв
                        <br />
                        17,5Ah--50A--742лв--830лв
                        <br />
                        БМС 35А - 45 лв
                        <br />
                        БМС водоизолиран 35А (65лв) или 45А (80лв), или 80А (160 лв)
                        <br />
                        Зарядно 2А - 45 лв
                        <br />
                        Зарядно 4А - 80 лв
                        <br />
                        <br />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <strong>
                            С КЛЕТКИ САМСУНГ 35E:
                            <br />
                            ЗА 52V БАТЕРИЯ (58.8V, 14S):
                        </strong>
                        <br />
                        <br />
                        Ah----Пик.ток--Цена пакет--Цена с кутия
                        <br />
                        7,0Ah----20A--329лв--440лв
                        <br />
                        10,5Ah--30A--488лв--590лв
                        <br />
                        14Ah----40A--644лв--737лв
                        <br />
                        БМС водоизолиран 35А (65лв) или 45А (80лв)
                        <br />
                        БМС 80А - 160 лв
                        <br />
                        Зарядно 4А - 80 лв
                        <br />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <strong>
                            С КЛЕТКИ САМСУНГ 35E:
                            <br />
                            ЗА 60V БАТЕРИЯ (67.2V, 16S):
                        </strong>
                        <br />
                        <br />
                        Ah----Пик.ток--Цена пакет--Цена с кутия
                        <br />
                        7,0Ah----20A--374лв--484лв
                        <br />
                        10,5Ah--30A--555лв--654лв
                        <br />
                        14Ah----40A--731лв--820лв
                        <br />
                        БМС водоизолиран 45А - 80 лв
                        <br />
                        БМС 80А - 160 лв
                        <br />
                        Зарядно 2А - 60 лв
                        <br />
                        Зарядно 3А - 110 лв
                        <br />
                        <br />
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <strong>
                            С КЛЕТКИ САМСУНГ 35E:
                            <br />
                            ЗА 72V БАТЕРИЯ (84V, 20S):
                        </strong>
                        <br />
                        <br />
                        Ah----Пик.ток--Цена пакет--Цена с кутия
                        <br />
                        3,5Ah----10A--236лв--353лв
                        <br />
                        7,0Ah----20A--465лв--569лв
                        <br />
                        10,5Ah--30A--687лв--778лв
                        <br />
                        БМС 90А - 85 лв
                        <br />
                        Зарядно 2.5А - 100 лв
                        <br />
                        Зарядно 4А - 170 лв
                        <br />
                    </div>
                </div>
            </div>
            <h3> <strong><a href="#from-beginig">Върни се в началото на Литиево йонни пакети от батерии.</a></strong></h3>
            <br />
            <br />
            <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>
            <br />
            <br />
            <div class="form-group">
                Съвети относно избора и ползването на литиево-йонни батерии:
                <br />
                - Да не се разреждат докрай
                <br />
                - Да не се държат разредени
                <br />
                - Да се съхраняват за дълги периоди на около 50 % заредени и на 15-20 градуса температура с ниска влажност
                <br />
                - Да се зареждат само със зарядни за литиево-йонни батерии
                <br />
                - Номиналният препоръчителен продължителен разряден ток на батерията е около 2-3 пъти по-нисък от посоченият пиков ток
                <br />
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/BatteryPacks/BatteryPack-2.jpg" />
                </div>
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/BatteryPacks/Pack-3.JPG" />
                </div>
                <div class="col-md-4">
                    <img class="descriptive-image" src="~/images/BatteryPacks/BatteryPackVelo.jpg" />
                </div>
            </div>
        </div>
    </div>
</div>




