
@{
    ViewData["Title"] = "BatteryCell";
}

<div class="container product-container">
    <img src="~/images/BatteryPictures/Battery1.jpg" class="product-main-image" />
    <h3>Li-Ion batteries INR18650</h3>
    <div class="description">

        <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Contact" target="_blank">Заявка за поръчка</a>

        <div class="technical-parameters">
            <br /><strong>Самунг/Samsung 25R</strong>
            <br /><strong>LG HE2</strong>
            <br />
            Li-Ion  капацитет 2500mAh волтаж 3.7V (4.2V) - пиков разряд 20A високоразрядни<br />
            за винтоверти, елекро-велосипеди, скутери, коли, дронове, RC car коли и хеликоптери, акумулатори, електронни цигари и уреди с много висока моментна консумация.
            <br />
            <strong>Цени с ДДС</strong><br />
            - до 10 бр: по 12.00 лв. / брой
            <br />
            - 11-30 бр: по 11.40 лв. / брой
            <br />
            - 31-50 бр: по 10.80 лв. / брой
            <br />
            - 51-100 бр: по 10.20 лв. / брой
            <br />
            - 101-300 бр: по 9.60 лв. / брой
            <br />
            - над 300 бр – свържете се с нас за оферта
            <br />
            - Ако искате батерията да има точково заварени пластини, за които да могат да се запояват кабели - по 2 лв допълнително на батерия.
            <br />
            <br />
            <strong>Самсунг/Samsung INR18650-35E</strong><br />
            Li-Ion капацитет 3450mAh волтаж3.7(4.2V) - пиков разряд 10A
            <br />
            <strong>Цени с ДДС</strong><br />
            - до 10 бр: по 15.00 лв. / брой
            <br />
            - 11-30 бр: по 14.30 лв. / брой
            <br />
            - 31-50 бр: по 13.60 лв. / брой
            <br />
            - 51-100 бр: по 12.90 лв. / брой
            <br />
            - 101-300 бр: по 12.20 лв. / брой
            <br />
            - над 300 бр – свържете се с нас за оферта
            <br />
            - Ако искате батерията да има точково заварени пластини, за които да могат да се запояват кабели - по 2 лв допълнително на батерия.
            <br />
            <br />
            <strong>Самсунг/Samsung INR18650-29E</strong><br />
            Li-Ion  капацитет 2900mAh волтаж 3.7V(4.2V) - пиков разряд 8.5A
            <br />
            <strong>Цени с ДДС</strong><br />
            - до 10 бр: по 12 лв. / брой
            <br />
            - 11-30 бр: по 8.00 лв. / брой
            <br />
            - 31-50 бр: по 7.70 лв. / брой
            <br />
            - 51-100 бр: по 7.40 лв. / брой
            <br />
            - 101-300 бр: по 7.00 лв. / брой
            <br />
            - над 300 бр – свържете се с нас за оферта
            <br />
            <br />
            <strong>Сони/Sony US18650 VTC6</strong><br />
            Li-Ion  капацитет 3120mAh волтаж 3.7(4.2V) - пиков разряд 30A високоразрядни<br />
            за винтоверти, елекро-велосипеди, скутери, коли, дронове, RC car коли и хеликоптери, акумулатори, електронни цигари и уреди с много висока моментна консумация.
            <br />
            <strong>Цени с ДДС</strong><br />
            - 15лв. / брой
            <br />
            <br />
            <strong>Панасоник/Panasonic NCR 18650</strong><br />
            Li-Ion  капацитет 3400mAh волтаж 3.7(4.2V) - пиков разряд 6A високоразрядни<br />
            елекро-велосипеди, скутери, коли,  акумулатори и уреди с ниска моментна консумация.
            <br />
            <strong>Цени с ДДС</strong><br />
            - 10лв. / брой
        </div>

        <div class="technical-parameters">

            <strong>Технически характеристики:</strong>
            <br />
            - Без Памет!
            <br />
            - Цикли, след които е запазен 70% от капацитета на батерията - 500 - 1000 (в зависимост от модела. При високо разрядните батерии този спад се наблюдава след около 500 цикъла). Издържливост на INR клетките (живот) – 2000-5000 цикъла и нагоре.
            <br />
        </div>
        <p><a href="https://guideia.olx.bg/" target="_blank">Нашите обяви в OLX</a></p>
        <br />
        <br />
        <div class="row">
            <div class="col-md-4">
                <img class="descriptive-image" src="~/images/BatteryPictures/BatterySize.JPG" />
            </div>
            <div class="col-md-4">
                <img class="descriptive-image" src="~/images/BatteryPictures/29E.jpg" />
            </div>
            <div class="col-md-4">
                <img class="descriptive-image" src="~/images/BatteryPictures/35E.jpg" />
            </div>
        </div>

    </div>

</div>



